[2019-07-09 19:29] agrignard opened #1 "Pedestrian network generation"
Generate a network from autocad => @nayoub

Generate a synthetic network with Pedestrian Skills => @agrignard

[2019-07-09 19:32] agrignard opened #2 "Create the different floor in a separate dxf file"
Right now we only have the 3rd floor we will have to generate the other floor

[2019-07-09 19:38] agrignard opened #3 "Implement simple behavior and profile"
Morning

A typical user will arrive from the closest elevator
Go to his office and interact with people from your group
Go outside of the group and potentially interact with external people

Afternoon
A typical user will arrive from the closest elevator
Go to his office and interact with people from your group
Go outside of the group and potentially interact with external people

[2019-07-09 19:43] agrignard opened #4 "Define the right color palette"

[2019-07-09 19:45] agrignard commented on #4
for building and for ML People

[2019-07-09 19:48] agrignard opened #5 "Having a CityScience Layout for the desks"

[2019-07-09 20:24] nayoub opened #6 "Add layers by room number"

[2019-07-10 19:27] #6 closed

[2019-07-10 20:33] agrignard opened #7 "Specific Depth value"
Differentiate the depth value for extrusion in ML_Element using a elevation_depth map

[code]

[2019-07-10 20:36] agrignard opened #8 "Instantiate people in there right place"
Office define in the csv file shoudl match with the dxf

[2019-07-16 17:16] #8 closed

[2019-07-24 15:53] agrignard opened #9 "Set an office to any ML people that doesn't have one"
Set the group default office in the .csv

[2019-07-24 16:19] agrignard opened #10 "create one dxf per floor"
E14-15_X where X is the floor number

[2019-07-31 21:09] nayoub commented on #9
Done in mlpeople_floors.csv

[2019-07-31 21:09] #9 closed

[2019-08-01 23:04] #4 closed

[2019-08-02 18:11] nayoub opened #11 "Concept Prototyping"

[2019-08-02 18:17] nayoub opened #12 "Graph Analysis Exploration"
- Extract the typical graph indicators (degree, centrality, ...)
- Produce degree distribution for whole ML + per group for the whole period
- For the most relevant years (2014)
- Community detection

Two types of Viz:
Spatial viz in GAMA (Arnaud)
Abstract viz in Gephi (Cristian)

[2019-08-02 18:25] nayoub opened #13 "WCLB Model"
**One daily researcher profile:**

- 8am-10am: Arrive to your office from an elevator
- 8am-12pm: Grab a random coffee before lunch
- 12pm-1pm: Collective lunch
- 1pm-6pm: Go back to your office + random coffee + random bathroom
- 6pm-8pm: Leave the building, go home

**One daily student profile:**

- 8am-10am: Arrive to your office from an elevator
- 8am-12pm: Go to morning class
- 12pm-1pm: Coll

[2019-08-02 18:26] #7 closed

[2019-08-02 18:27] nayoub commented on #3
See issue #13

[2019-08-02 18:27] #3 closed

[2019-08-02 18:29] nayoub commented on #2
See issue #10

[2019-08-02 18:29] #2 closed

[2019-08-02 18:32] nayoub opened #14 "Grand Truth graph vs. Simulated graph comparison"
@agrignard Save the simulation collision potential graph in a file
@crisjf Compare simulated network with real network

[2019-08-02 18:36] nayoub opened #15 "Intervention for maximising collaboration"
Produce new dxf layouts with shuffled labs (group level)

[2019-08-02 19:36] agrignard commented on #14
Two graphs are now created and updated in gama
[code]

[2019-08-20 23:13] agrignard commented on #14
See https://github.com/gama-platform/gama/issues/2839 for the aggregated spatial graph

[2019-08-21 14:40] crisjf commented on #14
@agrignard where are you storing the aggregated simulated spatial graph?

[2019-10-17 13:20] agrignard opened #16 "Create a floor plan layer"
Add in the 3rd level (and the rest) and floor plan layer to avoid to have the void

[2019-10-24 22:19] #16 closed

[2019-11-10 18:07] agrignard commented on #14
@crisjf you finally have the generated graph.

Just trigger the saveGrpah tu true when you want to save it, and it create a text file in results/generated_graph.txt

For now I just store
[code]

Let me knwow if you need another format or other attribute (also easy to change from the code if need in
[code]

[2019-11-11 17:32] crisjf commented on #14
@agrignard this is great! But to do a better comparison we also need a weight between the agents. Do you think you can also save a simulated "collision potential" for each pair? Based, for example, on the time they spent in close proximity?

[2019-11-11 17:34] agrignard commented on #14
right now we just have a connection, the time of the connection is not taken in account (can be good indeed) but it's not implemented yet

[2019-11-11 20:02] crisjf commented on #14
We'll have to make do with what we have. Here's how it looks so far. Be aware that as soon as we include the information about the group each person belongs to, the two bars look very much the same.

![image](https://user-images.githubusercontent.com/8973959/68616993-34756080-0494-11ea-97b9-2decb4ede25e.png)

[2019-11-12 02:30] crisjf commented on #14
We should generate different versions of the simulated graph with different distance thresholds.

[2019-11-12 13:33] agrignard commented on #14
It takes 3 steps ;-)

1. Set the distance
2. Run the model
3. Save the graph

[2020-03-06 17:02] #13 closed

[2020-03-06 17:02] #5 closed

[2020-03-06 17:03] #14 closed

[2020-03-06 17:04] #11 closed

[2020-03-06 17:04] #12 closed

[2020-03-06 17:05] #10 closed

[2020-03-06 17:05] #1 closed

[2020-03-06 17:06] agrignard commented on #1
@ptaillandier is working on a version of this soon

[2020-03-06 17:17] agrignard opened #17 "Environment definition"
Generalize beyond the ML floor plan with only the following types

Element that will now have a reflex to update there dirtyness status (e.g check the number of infected people every n steps, etc)

- Structural Element type can be:
building, room, wall,, elevator,  bathroom,

- Physcial Element (that will be dirty or not)
door, elevator, desk, sofa, coffeemachine

@nayoub can you try to generate a

[2020-03-06 17:23] agrignard opened #18 "Agent State Machine"
Create a fsm architecture do be able to switch between state

States (control by a global reflex):

- Commuting (goto your work)
- Working  (work and take random breaks (coffee, bathroom, check or not your colleagues (with a given probability depending on the type of working place)
- Lunch (go to the lunch place with someone)

Attributes:
- Health Status (SEIR)
- awareness of the infection
- a uni

[2020-03-09 14:25] agrignard opened #19 "Cannot run pedestrian model"
@ptaillandier should I Use a specific version of GAMA

With GAMA 1.8 and the install plugin I have the following error, if possible I woudl prefer this model to be compatible with GAMA 1.8

list<geometry> pp <- generate_pedestrian_network([StructuralElement], [world],false,false,3.0,0.1, true,0.1,0.0,0.0,50.0);

[code]

[2020-03-15 17:45] agrignard opened #20 "Track individual contagion"
Right now the infection happens with a certain probability if some infected people are in your neighborhood

[code]

then it's impossible to keep track of who exactly gave you the virus, do we want to keep ot like this or be able to track who has really gave the virus (even if indeed if two infected are in yoru circle how can you knwo who gave it to you

@tnguyenh what do you think?

[2020-03-15 17:52] RELNO commented on #20
Without knowing the current logic (maybe good to talk this through),the way I’d approach this is via object prop inheritance:

if O (object) is infected:
    if O is < d (distance) from O` (2nd object) (vertical or horizontal) for more than  t (time):
        if O is human:
                  O is infected for t + 6 weeks
       else
                  O is infected/infecting for t + (whatever the m

[2020-03-15 17:59] agrignard commented on #19
@ptaillandier it is still not working with the last version of GAMA and the last plugin version

What do I miss here?
<img width="1042" alt="Screen Shot 2020-03-15 at 13 59 00" src="https://user-images.githubusercontent.com/3928502/76707384-2d21c600-66c5-11ea-8b8b-4ee59a22677b.png">

[2020-03-16 00:22] tnguyenh commented on #20
In my opinion it is not relevant to know who transmitted the disease. There is no way to do so in reality. For contaminated surface, you can find a mix pool of virus. It is not common to actually consider that a contamination is due to a single virus. Contamination happens when the viral load is above a kind of threshold. So tracking transmission in that kind of disease is not really relevant.

[2020-03-16 09:50] ptaillandier commented on #19
You can update the plugin and it should work (Help menu -> check for
updates, just select the pedestrian plugin).

Le dim. 15 mars 2020 à 18:59, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-03-19 20:59] agrignard commented on #19
OK it compiles when I updated the plugin; however, the experiment generatepedestrinnetwork doesn't ' work producing this error

[code]

[2020-03-31 15:16] agrignard opened #21 "Naming convention for layer"
In order to have a generic framework, it will be necessary to agree on a standardization for the layer name.

So far this is more or less what we have
[code]

However this is list is 1. will evolve and 2. not using a real standard.

@nayoub  do you nay standard in the architectural world that we could use ?

[2020-03-31 15:18] #19 closed

[2020-03-31 15:19] agrignard commented on #17
this issue is not specific enough tI close it for now

[2020-03-31 15:19] #17 closed

[2020-04-01 12:56] nayoub commented on #21
There is no real standard, the best would be to define our own standard.

[2020-04-01 12:56] #21 closed

[2020-04-01 15:11] ptaillandier opened #22 "Problem with spatial unity of DXF file"
In the current version, the unit used to import DXF files is the meter, but this seems odd considering the size of the building. It would be worth correcting the unit (is the unit used in the DXF files the centimeters, the feet, other?).

[2020-04-01 15:16] nayoub commented on #22
The DXF file is in centimeters, as was the original Media Lab one. But it worked fine on the initial Proxymix, no?
I can change the units to meter if you want, let me know.

[2020-04-01 15:19] ptaillandier commented on #22
No need to modify the dxf files, just to specify the right units in GAMA
(I'll take care of it)

Le mer. 1 avr. 2020 à 17:16, Nicolas Ayoub <notifications@github.com> a
écrit :

[2020-04-03 10:21] #22 closed

[2020-04-03 15:46] agrignard opened #23 "Split main file in 4 layers"
@nayoub can you split the Standard_Factory_Plan in 4 different dxf (ALL, Plan, Program and Circulation Network)

The file is here
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/Standard_Factory_Plan.dxf

[2020-04-05 16:32] nayoub opened #24 "DXF import in Gama is reversed"
When I import the DXF file in Gama, it appears reversed so I always manually reverse it on CAD to have it in the right Z direction on Gama. Have you notice this or is it just my computer?

[2020-04-05 16:38] #23 closed

[2020-04-06 08:46] agrignard commented on #24
Yes you're right the model is flipped down (however on GAMA it's on the y-axis not the z), and it comes from a convention that are indeed different depending on the software used. The GAMA convention is the same as the OpenGl one. However, we might report this issue on Gama Platform to fix it.

[2020-04-06 08:46] #24 closed

[2020-04-06 11:09] agrignard opened #25 "Generic way to define behavioral scenarios"
One of the goal of this project is to be able to explore different scenarios in a specic spatial configuration and study the outcome of those different scenarios (contact rate, productivity, etc):

at the day scale a very simple scenarios is everyone arrives at 8 works, go to lunch from 1 to 2 and go back to work.

However, we'd like to explore more fine-grain scheduling and especially exploring i

[2020-04-06 11:14] agrignard opened #26 "People movemement"
Right now there is 3 ways to make people move that goes in an increasing level of realism

1. Simple Goto (quick but not realist at all) as people are crossing through the wall
2. Go to on the grid (more realistic but seems very time consuming, and still people are using the same path
3. Using the pedestrian model which in theory should be the more realistic.

Should we integrate the 3 movements i

[2020-04-06 11:16] agrignard commented on #20
I will create a mirror species that will take care of running on SIR model on top of the population and potentially having people infecting specific places that they are touching.

[2020-04-06 11:19] agrignard commented on #18
done and related to issue #25

[2020-04-06 11:19] #18 closed

[2020-04-06 11:19] agrignard commented on #15
Outdated for this project

[2020-04-06 11:19] #15 closed

[2020-05-14 10:49] agrignard opened #28 "Integrate Lyon Floor Plan"
Welcome to @cocsfav AND @pacopaco74 that are joining the Proximyx force and will help to have something running in public space in Lyon.

So far we will have Hotel-Dieu, ENSAL, and Learning center.

The dxf file is loaded correctly in the DXF_File Import; we now need to have our COVID model running on it.

To do so the dxf file needs to have very specific layer name to be able to initiate correctl

[2020-05-15 18:29] pacopaco74 commented on #28
In my last commit ( 8314b6b ) I changed the name of the layers in the ENSAL-RDC DXF files to match the ones required for the COVID model : ["Offices","Meeting rooms","Entrance"::#yellow,"Elevators","Coffee","Supermarket","Storage","Furnitures","Toilets","Toilets_Details","Walls","Doors","Stairs","Path"];
I had create 3 additional ones specific to ENSAL : ["Classrooms","Terrace","Library"];
However

[2020-05-18 08:16] agrignard commented on #28
Maybe there is a problem in the additional shapes. I would suggest to do this step by step and check at every step that GAMA can read the file.1. to start from the one that works 2. modify the existing layer name, 3. Add the additional ones (and process iteratively until having something that works.

[2020-05-18 14:06] cocsfav commented on #28
In my last commit, I changed the name of the layers in the Grand-Hotel-Dieu_Lyon DXF file to match the ones required for the COVID model : ["Offices","Meeting rooms","Entrance","Elevators","Coffee","Supermarket","Storage","Furnitures","Toilets","Toilets_Details","Walls","Doors","Stairs","Path"];
I had to create 2 additional ones specific to ENSAL : ["Outdoor spaces","Restaurants"];

[2020-05-18 14:16] agrignard commented on #28
OK great! So i see it's working in DXF File Import however there is an issue to run the COVID model. I'll create a dedicated issue

[2020-05-18 14:20] agrignard opened #29 "Grand Hotel Dieu Covid Invalid DXF"
When running COVID.gaml and choosing ````Grand-Hotel-Dieu_Lyon ````
Right now the Grand Hotel Dieu mode doesn't work on the COVID Simlation;

it seems that the entrances are not created correctly. Which producced an error in the follwoing part of the code (as myself.entrances is null)

[code]

myself.entrances is computed like this

[code]

[2020-05-18 14:24] agrignard commented on #29
@cocsfav can you check the unit in your file? it seems to me that thjere is somethign wrong with the unit. We are currently using meter

[2020-05-18 15:14] cocsfav commented on #29
@agrignard I just checked the unit of the DXF file. It was in a wrong unit. Now it is in meter.
I still have a problem when I try to run the COVID model with the Grand-Hotel-Dieu_Lyon DXF file ;
![20200518_ERROR_Capture](https://user-images.githubusercontent.com/64479147/82229403-ae4a4300-992a-11ea-965d-a7048026cfd7.JPG)

[2020-05-20 11:30] agrignard opened #30 "Add San Sebastian Floor Plan University"
@imartinezl woudl be great to explore one model abotu the San Sebastian University

[2020-05-20 13:22] ptaillandier commented on #29
There are three issues with this DXF:
- the unity of the dxf (m instead of cm)
- in Grand-Hotel-Dieu_Lyon, you have the outdoor wall... that should not be considered as a polygon
- sometimes, due to the distance chosen (0.3), there were not entrance to the room.

I committed a fix:
- the unity is now a parameter (not very nice as you have to define for Lyon "#m" and for the standard dxf "#cm", but

[2020-05-20 13:22] #29 closed

[2020-05-20 13:48] agrignard commented on #29
Ok so I was wrong I though it has to be in #m so thank you @ptaillandier for the fix. I ll check that and start to run the ABM on the Grand-Hotel_dieu

[2020-05-22 09:38] agrignard opened #31 "ENSAL DXF Not Compatible"
@cocsfav and @pacopaco74 there is an issue with the 2 ENSAL file. It's not working on 1.8, it is working on the last version of GAMA thanks to @ptaillandier fix, but it would be great to have it working on 1.8

Would you be able to see what's the difference between the Hotel Dieu and ENSAL? According to @ptaillandier one of the issues might come from something related to font?

Let me know what yo

[2020-05-22 09:45] ptaillandier commented on #31
To be more specific, it seems to be due to the use of "\A1{\". I'm not at
all familiar with the dxf format, but it's a priori a tag used for text
formatting (
https://www.cadforum.cz/cadforum_en/text-formatting-codes-in-mtext-objects-tip8640
).

Le ven. 22 mai 2020 à 11:38, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-05-22 10:10] agrignard opened #32 "Problem with Multi Simulation Syntax"
Trying to have a model with multiple simulation on different floor plan writing this

[code]

I get the following error (where as if I lanch a single simyaltion with Grand-Hotel-Dieu_Lyon it works

[code]

[2020-05-22 10:22] agrignard commented on #32
What I don't get is that this syntax is working well with DXF_File_Import.gaml

[2020-05-22 10:23] agrignard commented on #28
I close this issue for more specific ones

[2020-05-22 10:23] #28 closed

[2020-05-22 10:26] agrignard opened #33 "Problem with Grand-Hotel-Dieu_Lyon unity (#cm vs #m)"
This how look the "Grand-Hotel-Dieu_Lyon" model (it's working so it's a ggod news but there is something weird with the unity

<img width="850" alt="Screenshot 2020-05-22 at 12 26 17" src="https://user-images.githubusercontent.com/3928502/82658541-74798500-9c27-11ea-860e-87ba015c9c0f.png">

@cocsfav and @pacopaco74 can you chekc the unity of the Grand-Hotel-Dieu_Lyon.

Also I don't know how to che

[2020-05-24 21:48] imartinezl commented on #30
Hi @agrignard ,

I have selected a floor of one building of the university, and prepared a DXF file.
Also, I have tried to replicate the layers that are being used on the MediaLab DXF files. You can check the layers on this screenshot.
![Screenshot from 2020-05-24 23-39-40](https://user-images.githubusercontent.com/20516006/82765585-5fb01380-9e18-11ea-917e-722da0d01a74.png)

Regarding the models,

[2020-05-25 07:10] pacopaco74 commented on #31
Ok thanks for the insights I'll check it out

[2020-05-25 08:03] agrignard commented on #30
Hi @imartinezl great to have this new floor plan.

Regarding the model the initial model was about studying the behavior of the ABM and comparing it to the scientific collaboration. It was a POC. Now the goal is wider and temporaly link to covid but at the end shoudl eb even more than covi and baically about ABM in buildings. It would be great to have your help on that is to have something a bit m

[2020-05-25 08:34] agrignard opened #34 "DXF Validator"
I am thinking of a good way to know if the dxf provides is valid or not to later run the ABM on it.

For now, I consider a dxf validate if and only if it has at least all the following elements (at least ones)

	["Offices"::#blue,"Meeting rooms"::#darkblue,
	"Entrance"::#yellow,"Elevators"::#orange,
	"Coffee"::#green,"Supermarket"::#darkgreen,
	"Storage"::#brown, "Furnitures"::#maroon,
	"Toilets":

[2020-05-25 09:07] ptaillandier commented on #34
Which of these types are mandatory and which are optional?
I mean, "Stairs" is mandatory or not? and "Coffee" ?

[2020-05-25 09:09] cocsfav commented on #33
@agrignard I just found the error by opening my file on Gama, I correct the problem and I put the dxf online.

[2020-05-25 09:15] agrignard commented on #34
So this list might evolve and actually you're right we could have mandatory and optional elements

It will aslo depends on the type of building (uinversity, factory, train station, public spaces)

But for now we have only one model (COVID) running  the mandatory or optional actually depends on the ABM running so for now according to the code those elements are mandatory ("Walls","Entrance", "Offic

[2020-05-25 09:15] agrignard commented on #33
OK great can you commit and push file?

[2020-05-25 09:22] ptaillandier commented on #34
Done...; but for the moment, we have just an error message in case of
missing layers.

Le lun. 25 mai 2020 à 11:15, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-05-25 09:24] agrignard commented on #34
Ok great thank you!  I will move it in the DXF validator (that will then be imported)

[2020-05-25 09:26] cocsfav commented on #33
I just pushed file. Did it work?

[2020-05-25 09:27] agrignard commented on #34
Can we also add the unnessecary elements? In sime case thre are lot of them

[2020-05-25 09:29] agrignard commented on #33
No it's not appearing in the list of commit in the master

https://github.com/CityScope/CS_Proxymix/commits/master

You have first to commit and then push (then you can see if you see it on the website here
https://github.com/CityScope/CS_Proxymix/commits/master)

[2020-05-25 09:34] cocsfav commented on #33
Thanks, now it is OK normally.

[2020-05-25 09:34] agrignard commented on #34
Ok done in
https://github.com/CityScope/CS_Proxymix/commit/d607c62e51932a1549fc916e6121e67e7627d32e

IS there a way to throw a warning instead of an error for the optional?

[2020-05-25 09:37] ptaillandier commented on #34
done for the useless layers

you can send a message (do tell) instead of an error (do error)

Le lun. 25 mai 2020 à 11:34, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-05-25 09:39] #34 closed

[2020-05-25 09:40] agrignard commented on #34
Perfect! Thank you

[2020-05-25 09:42] agrignard commented on #33
Ok it's getting better but still it seems that the unit is wrong (the legend said 2m for something which I think is bigger). The dot are still pretty big
<img width="1325" alt="Screenshot 2020-05-25 at 11 41 59" src="https://user-images.githubusercontent.com/3928502/82800943-cf57ea00-9e7c-11ea-84bf-b4fa4150d5d4.png">

[2020-05-25 09:46] agrignard commented on #33
Yes looks much more better! Good job!

I let you clsoe your first issue?

[2020-05-25 09:47] cocsfav commented on #33
I just commited the final version of the DXF file. Now it's working :
![20200525_Grand-Hotel-Dieu_Lyon_Capture](https://user-images.githubusercontent.com/64479147/82801368-7e94c100-9e7d-11ea-839d-bbd88cf9c0b7.JPG)

[2020-05-25 09:50] agrignard commented on #33
Yes I see that 's perfect. So I close this issue as the model is now compatible (of course still need some work but the dxf is valide so it's a great step)

[2020-05-25 09:50] #33 closed

[2020-05-25 09:50] agrignard commented on #31
@cocsfav maybe you can have a look at this one now that you are getting an expert ;-)?

[2020-05-25 09:54] agrignard commented on #26
@ptaillandier do you think it's possible to integrate this in the same model to avoid to duplicate codes? or using an import in the pedestrain one for people that won't install the plugin and just want to run the simple one?

[2020-05-25 10:08] agrignard opened #35 "Remove big Wall in Hotel Dieu"
It seems that the Floor is labelize as the wall @cocsfav do you think you can just change the label of this layer to floors?
<img width="1096" alt="Screenshot 2020-05-25 at 12 07 12" src="https://user-images.githubusercontent.com/3928502/82803161-565a9180-9e80-11ea-80e9-6484365fa1b3.png">

[2020-05-25 10:12] agrignard opened #36 "Lyon Learning Center"
@pacopaco74 I notify something wrong in the learning center layer name that we were using in Lyon in February,

<img width="555" alt="Screenshot 2020-05-25 at 12 10 18" src="https://user-images.githubusercontent.com/3928502/82803472-e26cb900-9e80-11ea-8f59-910564fefea7.png">

Do you think you can update those layer name so that they are compatible with the new nomenclature that can be found here

[2020-05-25 10:12] cocsfav commented on #35
Ok, I'll fix it.

[2020-05-25 10:19] agrignard commented on #31
I Have change a bit the expermient name

I have put this experiment ````DXFWorkInProgress````for the current DXF that doesn't work

So you can run this one to check the ENSAL one. For the other experiemen tI just keep the dxf that are currently working

[2020-05-25 10:19] cocsfav commented on #35
I changed the big wall in Floor. Is it better now ?

[2020-05-25 10:25] agrignard commented on #35
Yes!

[2020-05-25 10:25] #35 closed

[2020-05-25 10:28] ptaillandier commented on #26
Yep, that exactly what we are going to discuss tomorrow morning.

Le lun. 25 mai 2020 à 11:55, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-05-25 10:33] cocsfav commented on #31
Okay, I'll take a look.

[2020-05-25 10:37] agrignard commented on #31
I Just did a last change so in ToolKit now you have the DXF Validator that shoes the current valid one when running ````ValidatedDXF````` (Standard Factory, MediaLan, Hotel Dieu)
<img width="1920" alt="Screenshot 2020-05-25 at 12 35 13" src="https://user-images.githubusercontent.com/3928502/82805457-5a88ae00-9e84-11ea-94c5-e28c447f7fb2.png">

And `````WorkInProgressDXF```` for ENSAL and Learning C

[2020-05-25 10:47] agrignard opened #37 "Christmas List / Food for Though / Long Term development"
- Evaluate the maximum reception staff in a building
or a specific area.

- Visualize the paths of different audiences.

- Identify crossings and bottlenecks of pedestrian flows.

- Check for reliable evacuation plans.

- Assess the strengths and weaknesses of a site in its capacity to put in place physical distance measures.

- Assess the behavior of a queue.

- Check the impact of new architectu

[2020-05-25 13:18] cocsfav commented on #31
@agrignard I hope I did not do anything stupid, I merged something in the master branch...
The DXF file of ENSAL-RDC is working.

[2020-05-25 13:23] agrignard commented on #31
ouch, there has been something wrong in the last commit... most of the change from this morning are lost...

Do you remember what you did?

[2020-05-25 13:27] cocsfav commented on #31
I'm really sorry I had a problem with my Github app...
I think that I commited all the modifications I did

[2020-05-25 13:28] agrignard commented on #31
Yes it's a bit a mess indeed ;-) So for now I think we will go back to  the Pull Request to avoid this.

[2020-05-25 13:31] cocsfav commented on #31
Sorry for my mistake Arnaud... Is there a way to remove a commit?

[2020-05-25 13:34] agrignard commented on #31
Ok no worries I fixed it (I reput the last version I pused for the code but then I am not sure abotu the dxf). it can happen gitHub Desktop is a bit tricky sometimes (just be sure to try as much as possible to pull before to commit and if you have a doubt on something then create a branch and make a PR instead.

[2020-05-25 13:38] agrignard commented on #31
Ok so I can see ENSAL-RDC in the DXF_Validator however in the COVID simu it seems pretty heavy. I close this issue and create a more specific ones.

[2020-05-25 13:38] #31 closed

[2020-05-25 13:40] agrignard opened #38 "ENSAL DXF Simplification"
In a first step, I think 2 things can be done for ENSAL

- Just choose one floor, Which one do you think is the more relevant? (we'll explore 3D and different floor in a next step)

- Also it seems that the file is pretty heavy, is there a way to simplify it a bit? Maybe with less object?

[2020-05-25 13:46] pacopaco74 commented on #38
We have done that this morning, @cocsfav is about to push it (he tried when everything collapsed ;-) We chose the RDC to begin with

[2020-05-25 16:04] pacopaco74 commented on #36
Normally fixed it in my last commit : d223086

[2020-05-25 16:06] #32 closed

[2020-05-25 16:08] cocsfav commented on #38
I finish cleaning the plan, the DXF is very light but I have the impression that it does not work with the COVID model.
It looks like this :
![20200525_ENSAL_WorkInProgressDXF](https://user-images.githubusercontent.com/64479147/82829006-92a6e580-9eb2-11ea-8668-c00850896938.JPG)

[2020-05-25 16:09] agrignard commented on #36
OK great!

Now the dxf is missing some layer to be able to have the ABM model running on top of it.

I wll create the mandatory field soon but I think it's something like

"Walls", "Entrance","Offices", "Supermarket", "Meeting rooms","Coffee","Storage"

So far there is no entance right?

[2020-05-25 16:13] agrignard commented on #38
Which one is it ENSAL-1 or RDC?

Can you rename it to ENSAL and keep only one?

[2020-05-25 16:17] agrignard commented on #32
Great thank you!

[2020-05-25 16:27] cocsfav commented on #38
I'll rename it to ENSAL. How can I keep only a single file in the INCLUDES folder in the repo?

[2020-05-25 16:27] pacopaco74 commented on #36
Didn't quite understand, are those the one that are mandatory to be able to run the ABM model?
"Walls", "Entrance","Offices", "Supermarket", "Meeting rooms","Coffee","Storage"

I will add an "Entrance" layer to the DXF and change the Actual "Classroom" layer by "Meeting rooms"

[2020-05-25 16:28] pacopaco74 commented on #36
Also, I remember you told something in a previous issue about being able to define the layers that are common to every building, and the one that can be added later on ?

[2020-05-25 16:34] agrignard commented on #36
"Walls", "Entrance","Offices", "Supermarket", "Meeting rooms","Coffee","Storage"=> yes however you can have a coffee and no storage and it will work so i need to find a smarter way to check if the dxf has the minimum information

but for sure it needs an entrance and replacing classroom by meeting rooms can help

[2020-05-25 16:38] agrignard commented on #38
What do you mean by a single file?

also do we need the .bak? If not you can remove them

[2020-05-25 17:19] cocsfav commented on #38
I replaced ENSAL-RDC by ENSAL and I deleted ENSAL-1.
When I did the commit, an other commit appeared. I tried to revert it but I don't know if there still something wrong.
![20200525_ENSAL_PUSH](https://user-images.githubusercontent.com/64479147/82832852-a0616880-9ebc-11ea-92df-7613a585b121.JPG)

[2020-05-25 17:45] agrignard commented on #36
@pacopaco74 and @cocsfav can you check it seems that the current version of the learning version on the git is the wrong one
https://github.com/CityScope/CS_Proxymix/commit/7027e8007dadd924ffaceed9d7e497197f9dbafe

maybe @pacopaco74 you need to repush it

[2020-05-25 17:50] agrignard commented on #38
I have the feeling that there is still something wrong no? It's still very long to instantiate the COVID model for ENSAL (like there are a lot of object in this file no?)

[2020-05-25 17:57] pacopaco74 commented on #36
Yes it's definitely the wrong one

[2020-05-25 17:59] pacopaco74 commented on #36
I repushed a version with the good layers names 1d65ff9

[2020-05-26 07:17] imartinezl commented on #30
Hi @agrignard ,

Thanks for you comments on the simulation goals. We can continue talking about that in another issue. Yes, I can PR this floor plan, and I think it is perfectly fine to have it on a opensource repo. In fact, the building floor-plans (in PDF) are available to the public in this link: https://www.bculinary.com/public_licitaciones/arquitectura/lote030/02_planos/004_pe_a_02_planta-1.p

[2020-05-26 07:39] cocsfav commented on #38
Normally there is not too many objects in the file, but is it possible that this is related to the many curves of the shape of the plan?

[2020-05-26 08:17] agrignard commented on #30
Ok great, yes exactly I put some validator in the toolkit , it's still work in progress but yes this basically where you can first test your dxf in terms of pure rendering and then in terms of layer needed to then run the simulation.
I am having a meeting with @ptaillandier today so the validator might be improved. but yes it's a good start to add it in the validated dxf experiment.

[2020-05-26 08:23] agrignard commented on #36
Ok it's better, however I think there is still an error in the unit of the file no? The building seems very very big
<img width="1318" alt="Screenshot 2020-05-26 at 10 22 04" src="https://user-images.githubusercontent.com/3928502/82877819-f674f100-9f3a-11ea-8422-1bab0f5fc021.png">

[2020-05-26 10:57] agrignard opened #39 "Structural Reorganization"
After a discussion with @ptaillandier we will have several change.

A first version has been committed with a separated folder per use case.

- building.dxf is now in each folder

What is missing is a
- people.csv (can be generated at the beginning)
- Path.shp (needs also to be generated by the Toolkit)
- Merging the 2 models giving the possibility to have a simple got or a pedestrian ones (now th

[2020-05-27 07:49] #39 closed

[2020-05-27 07:54] agrignard opened #41 "San Sebastian Pedestrian File"
@ptaillandier the generate pedestrian file seems a bit simple

Any idea how to densify it?

<img width="1090" alt="Screenshot 2020-05-27 at 09 52 59" src="https://user-images.githubusercontent.com/3928502/82992874-0e627880-a000-11ea-89e0-5971efd1aef9.png">

[2020-05-27 08:00] agrignard opened #42 "COVID RELATED TODOLIST"
**Goal:** Develop a tool that people can use to explore scenarios related
to safely opening up workplaces and other facilities where people
gather.

**Score:** It would allow a combination of policies to be scored, probably
using R0 (a target R0 could be established - not sure what that would
be)

**Target Audience:**  Decision makers who control policy - for example,
PIs who manage labs, corporat

[2020-05-27 08:01] ptaillandier commented on #41
ah ah ... awful :p .
There are many parameters for the pedestrian path generator model. So it is possible, but a bit tricky (even me, I have some difficulties to determine the best parameter values for a dxf file). During the next days, I will try to generate better pedestrian paths for all the case studies and improve the pedestrian path generator model by adding commentaries.

[2020-05-27 09:57] agrignard opened #43 "Layer name standardisation"
@pacopaco74 @cocsfav

Structural
- Architectural Type: Type of Building (Offices, Public, Hospital)

- Space Type: Type of Spaces (rooms, meeting rooms, coffee, billetterie)

Behavior
- For each architectural type; Type of People (professor student)
- For teach type: a schedule

[2020-05-28 14:22] pacopaco74 commented on #36
It seems correct to me... Do you still have this problem?

[2020-05-28 14:41] agrignard commented on #36
it looks very long no? like 600 meter? Is that possible? I have the feeling that there is a factor of 10 here

[2020-05-29 07:44] cocsfav opened #44 "ENSAL DXF file display issue"
There is a display issue withe the ENSAL DXF file. It is lighter than the Grand-Hotel-Dieu DXF file and the Learning Center DXF but it does not work on the COVID model. It seems to heavy and there is always a display problem.
Maybe this is a parameter to modify in Gama ? Maybe these are the curves of the ENSAL shape ?

![20200525_ENSAL_WorkInProgressDXF](https://user-images.githubusercontent.com/6

[2020-05-29 15:21] ptaillandier commented on #41
It is difficult to work with this DXF file because of the "hatching" that seems to represent walls on the left side.

[2020-05-31 11:30] imartinezl commented on #41
Hi @ptaillandier,

What could I do about the DXF to improve the generated pedestrian path?
Is there a guideline for the "ideal" DXF file?

[2020-05-31 11:56] ptaillandier commented on #41
Just having "plain" walls could be enough: on the attached picture you can
see an outside wall drawn with hatching in red, and the contour in green is
not closed. With GAMA it will be simpler to only have the complete contour
and not the hatching.

Le dim. 31 mai 2020 à 13:30, Iñigo Martínez <notifications@github.com> a
écrit :

[2020-06-01 12:44] ptaillandier commented on #42
I think you are more insterested in **Re** than in **R0**: https://en.wikipedia.org/wiki/Basic_reproduction_number. **R0** is more an input for me.

Most of the proposed things seem to be very easy to integrate to the model in terms of mechanics (just integrating a factor of decrease in the probability of contagion), but very difficult to quantify (for example, for the wearing of masks, decrease o

[2020-06-02 09:34] pacopaco74 commented on #43
**First attempt of definition of Building Types.**
[Building Types.pdf](https://github.com/CityScope/CS_Proxymix/files/4716167/Building.Types.pdf)

To be discussed/rearranged together as it is quite hard to be both exhaustive and selective..
When done with that we could maybe go on with the definition of space types and try to assign them to every Building Type ?

Would love to have your thoughts

[2020-06-02 09:53] pacopaco74 commented on #36
Strange.. I re-checked the DXF and its approximately 64 meters long, which seems coherent to me. When I run it on GAMA nothing crazy happens, it appears to me as big as the ENSAL model.
I don't know what's happening there... When you open the DXF on your computer it's 600 meters long ?

[2020-06-02 09:55] pacopaco74 commented on #36
The model in gama as it appears to me, compared to the ENSAL one :
<img width="1211" alt="Capture d’écran 2020-06-02 à 11 53 44" src="https://user-images.githubusercontent.com/60396205/83506752-dcea2100-a4c7-11ea-8787-b3daed5a3ef1.png">
<img width="1211" alt="Capture d’écran 2020-06-02 à 11 53 50" src="https://user-images.githubusercontent.com/60396205/83506761-e07da800-a4c7-11ea-9a7f-a34aa6abefba

[2020-06-02 09:58] pacopaco74 commented on #38
Does GAMA support curved lines/forms in the DXF ? It seems to be going crazy when there are some

[2020-06-02 10:14] ptaillandier commented on #38
For the moment, GAMA seems to not support it. I will try to see if it is
possible to improve that.

Le mar. 2 juin 2020 à 11:58, pacopaco74 <notifications@github.com> a écrit :

[2020-06-02 10:29] ptaillandier commented on #36
I added (and committed) the unit for the Learning center: to do that, I
just created a csv file in the Learning_Center folder called building.csv
that defines the unit of the DXF file.
Is it ok now?

Le mar. 2 juin 2020 à 11:54, pacopaco74 <notifications@github.com> a écrit :

[2020-06-02 10:33] ptaillandier commented on #38
So... taking into account the "curve" may be possible, but difficult (I
hate trigonometry: '(). I'll have to modify GAMA for that. Is it possible
to help me by providing a simple dxf file with only one or two elements
(curved walls)?

Le mar. 2 juin 2020 à 12:14, Patrick Taillandier <
patrick.taillandier@gmail.com> a écrit :

[2020-06-02 10:35] pacopaco74 commented on #42
For the following issues we may have to rely on existing research and scientific publications as we seem to lack on data about the effectiveness of such measures ?? :

- separators between stations (yes/no)
- mask policies (maybe all masks, no masks, 50% masks)
- handwashing/sanitizer upon entry (yes/no)
- temperature check upon entry (yes/no - prohibiting people with fever)
- ventilation (maybe g

[2020-06-02 11:21] imartinezl commented on #41
Hi @ptaillandier,

I have removed the hatching from the walls, as you requested. The updated DXF is at the [SanSebastian branch](https://github.com/CityScope/CS_Proxymix/tree/sanSebastian).

Also, from what I read on the issue #38, there may be some problems with the curve elements: Here is the difference between the generated shape on GAMA (1) vs opening the DXF file on Inkscape (2):

![Screensho

[2020-06-02 13:00] agrignard commented on #41
@imartinezl i think you can commit it on the master if you think the file is ok it will be easier than using branche for @ptaillandier

[2020-06-02 13:56] imartinezl commented on #41
Yep, sorry for that. I just updated the DXF file on the master branch. I also tried to execute the [generate_pedestrian_network.gaml](https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/models/ToolKit/generate_pedestrian_network.gaml), but it appears to be an error at line 97:

![image](https://user-images.githubusercontent.com/20516006/83528404-5ba38600-a4e9-11ea-8b6a-2b509729abf1.pn

[2020-06-03 08:39] cocsfav commented on #38
Hello @ptaillandier , In ly last commit I joined a DXF file with some curved walls.

[2020-06-04 08:58] agrignard commented on #43
Ok great first iteration. As we are also having this discussion in this other project so maybe it would make sense to follow the same standard
https://github.com/CityScope/cityscope.github.io/issues/15
where we basically use this standard in us
https://planning-org-uploaded-media.s3.amazonaws.com/document/LBCS.pdf

Do you think you can explore maybe a version with the corresponding LBCS code?

[2020-06-04 09:59] agrignard commented on #41
Hi @imartinezl , we have made a change now in the model and it requires a pedestrian skills plugins to compile.

I have updated the readme to explain how to install the plugins.

Can you try to install it and see if it compiles for you?

[2020-06-06 12:55] ptaillandier commented on #38
Good news, I have able to improve the DXF reader of GAMA. See the result obtained (with the latest version of GAMA)
![ensal](https://user-images.githubusercontent.com/1506077/83944689-bbf63880-a805-11ea-848f-57f9c508bfa4.PNG)
![test1](https://user-images.githubusercontent.com/1506077/83944690-bd276580-a805-11ea-9dc3-49eaaafa58b9.PNG)

[2020-06-06 16:39] agrignard commented on #38
Yes! That's a great news!

[2020-06-08 07:21] cocsfav commented on #43
Ok great we will explore a version corresponding LBCS code.

[2020-06-08 07:22] cocsfav commented on #38
Great news!

[2020-06-08 13:28] agrignard commented on #38
OK this is what I have with the DXF Validator
<img width="1173" alt="Screenshot 2020-06-08 at 15 28 09" src="https://user-images.githubusercontent.com/3928502/84035867-af581880-a99c-11ea-9123-a580c40c60fd.png">

Is that coorect , it doesn't look exactly like yours?

[2020-06-09 06:59] cocsfav commented on #38
That's right, it looks like the plan is displayed correctly.

[2020-06-09 19:02] agrignard commented on #37
Give a model that gives you an RO => set a goal of what is the RO

Basic Guideline (SPATIAL ARRANGEMENT)

- Where are the workstation that people will use
- Who is assigned to what space to time shift people
- What's the spacing between table

Basic Dynamic
- Circulation, entry, elevator

More complex ones (PEOPLE BEHAVIOR)
- Path
- Wearing mask
-

https://docs.google.com/spreadsheets/d/1GdAAwjDsk

[2020-06-09 19:04] agrignard opened #45 "Impossible to run model"
I don't knwo wht have change , I guess it's a very small change but I cannto figure it out

Try to run for instance DailyRoutine.gaml

get the follwoing error

[code]

[2020-06-09 20:12] #45 closed

[2020-06-09 20:46] agrignard commented on #45
I don't know if it can help but Gama is now me this when I open it
<img width="635" alt="Screenshot 2020-06-09 at 22 45 37" src="https://user-images.githubusercontent.com/3928502/84197931-0f38e700-aaa3-11ea-961c-2032605385ce.png">

[2020-06-09 20:53] agrignard opened #46 "Add a smoother and nicer movement"

[2020-06-10 07:53] ptaillandier commented on #45
I don't think so. It is more linked to the management relative path in models that import other models and to the fact that GAMA does not like relative paths that concern a file outside the project location.

My fix should be ok for the Proxy project, and I reported an issue about this on the GAMA github: https://github.com/gama-platform/gama/issues/2997.

[2020-06-10 08:15] #44 closed

[2020-06-10 08:25] agrignard opened #47 "Density Management"
One of the main action that is taken for a post covid world is to reduce the density of a building.

The way I see it could be for a given building knowing the activity of people

1. We run a "normal" scenario with 100% of the people to have the ground truth and to get the Maximum scenario (the max number of peopel is a common paramter for any building (at least in US, btw it would be ,ice to incl

[2020-06-10 08:30] agrignard opened #48 "Spacing of workstations"
The spacing of the workstations is one of the main action that a stakeholders can take to reduce the potential collaboration.

For workstations what would be great would be
1. Having a layer in the dxf that give the possibility to place the inital workstation, in order to run the ground truth scenario
2. To let GAMA compute the placement of the desk according to the number of people entering (on e

[2020-06-10 08:33] agrignard opened #49 "separators between stations"
How to evalaute the impact of that.

I don't know how difficult it is in GAMA to ask your people at a certain distance and to avoid the one that are behind a glass.

Like if you have this

Desk 1 || Desk 2  Desk 3 I would imagine that the neighbourhood of the people on desk 2 is only desk 3.

[2020-06-10 08:35] agrignard opened #50 "Mask policies"
mask policies (maybe all masks, no masks, 50% masks) : same question, what is the impact of wearing a mask ? It depends on the type of mask and how people use them.

Here the results is pretty clear the infection rate is lower (we can give the possibility to play with the value of the infection rate) but I would say that a 20% chance vs 100% is already a good approximation. 5again it's easy to fin

[2020-06-10 08:37] agrignard opened #51 "handwashing/sanitizer upon entry"
We could imagine again to compare a scenario with no handwashing and one with.

I am not sure exactly how to implement it

[2020-06-10 08:39] agrignard opened #52 "temperature check upon entry"
Seems pretty easy, people that are infected are recognize (maybe not 100 %) and they just cannot enter.

However it sounds a bit too magical, so maybe we can have a probability to be checked and a probaility to have fever if you are sick?

[2020-06-10 08:39] agrignard commented on #42
Density: See https://github.com/CityScope/CS_Proxymix/issues/47
Workstation: https://github.com/CityScope/CS_Proxymix/issues/48
Separator: https://github.com/CityScope/CS_Proxymix/issues/49
Mask: https://github.com/CityScope/CS_Proxymix/issues/50
Handwashing: https://github.com/CityScope/CS_Proxymix/issues/51
Temperature: https://github.com/CityScope/CS_Proxymix/issues/52
Ventialtion is too diffic

[2020-06-10 08:42] agrignard commented on #42
All the dedicated issue have been recreated

[2020-06-10 08:42] #42 closed

[2020-06-10 08:43] agrignard commented on #41
@imartinezl did you try to instal the plugin, I close this issue for now feel free to reopen it if needed

[2020-06-10 08:43] #41 closed

[2020-06-10 08:44] agrignard commented on #38
It seems that this issue is finally close. Thank you @ptaillandier and @cocsfav for your help!

[2020-06-10 08:44] #38 closed

[2020-06-10 08:47] agrignard opened #53 "Evaluate the maximum reception staff in a building or a specific area."
In a static way
Maybe this is something that can be made easily by analyzing the area of the offices, the number of desk and the maximum distance between people.
In a dynamic way depeding on the hour of the day, it depends on who is here at what time

[2020-06-10 08:47] agrignard opened #54 "Visualize the paths of different audiences."
This  is very easy just by playing with the trajectory.

[2020-06-10 08:50] agrignard opened #55 "Visualize the paths, identify crossings and bottlenecks of pedestrian flows."
Here I guess simple Grid that count the number of people that has been passing. Then we can highlight the potential bottlenecks

[2020-06-10 08:51] agrignard opened #56 "Check for reliable evacuation plans"
Something very simple that can give a kind of optimal path to reduce the potential encounter would be amzing! This could be based on the bottleneck already computed

[2020-06-10 08:52] agrignard opened #57 "Assess the strengths and weaknesses of a site in its capacity to put in place physical distance measures."
Not sure how to do that

[2020-06-10 08:53] agrignard commented on #37
Evaluate the maximum reception staff in a building
or a specific area => https://github.com/CityScope/CS_Proxymix/issues/53

Visualize the paths of different audiences => https://github.com/CityScope/CS_Proxymix/issues/54

Identify crossings and bottlenecks of pedestrian flows=> https://github.com/CityScope/CS_Proxymix/issues/55

Evacuation plan => https://github.com/CityScope/CS_Proxymix/issues/5

[2020-06-10 08:54] agrignard commented on #36
It seems ok now I close this issue

[2020-06-10 08:54] #36 closed

[2020-06-10 08:54] agrignard commented on #30
I close this issue for now

[2020-06-10 08:54] #30 closed

[2020-06-10 08:55] agrignard opened #58 "Check the impact of new architectural developments linked to access and reception."

[2020-06-10 08:55] agrignard opened #59 "Check the impact of temporary hardware solutions from the flow management (signaling, barrier, closure ...)."

[2020-06-10 08:56] agrignard opened #60 "Check the impact of technological solutions related to guiding and / or geolocation of the public."

[2020-06-10 08:56] agrignard opened #61 "Have a medium for communication to exchange with the various stakeholders on proposals and demonstrate their effectiveness."

[2020-06-10 08:57] agrignard commented on #37
see #58 , #59, #60, #61 ,

[2020-06-10 09:25] agrignard commented on #49
list of pair of workstation on top of the distance graph

[2020-06-10 09:41] agrignard opened #62 "COMOKIT Integration"
Get the code from COMOKIT to integrate a more realistic COVID model

[2020-06-10 09:47] agrignard opened #63 "Compute R0 - RE"
See how how to compute RO and RE

[2020-06-10 10:25] agrignard opened #64 "Missing elements in MediaLab"
@nayoub or @pacopaco74 or @cocsfav do you think you can have a look at the Medialab dxf file and add the follwoing elements at least Entrance and elevators ?

@nayoub as you know better the palce it might be easier if you can do it.

<img width="519" alt="Screenshot 2020-06-10 at 12 24 03" src="https://user-images.githubusercontent.com/3928502/84257230-51027580-ab15-11ea-8df3-312591ae0714.png">

[2020-06-10 10:33] agrignard commented on #64
entrance (previsously primary elevators) and elevators ( previously secondary elevators) have been added

However the offices are not alll well located (no cityscience for instance)
<img width="1774" alt="Screenshot 2020-06-10 at 12 32 16" src="https://user-images.githubusercontent.com/3928502/84258022-8eb3ce00-ab16-11ea-8285-21f83c800558.png">

[2020-06-10 10:39] agrignard opened #65 "Problem with entrances evluation (MediaLab)"
After 500 cycles around 12, there is a warning
1 occurence in people41 at cycle 718: Cannot evaluate entrances as the target agent is nil
in target <- closest_to(target_room.entrances,self);
in target <- closest_to(target_room.entrances,self);
in agent people41

[2020-06-10 10:41] agrignard opened #66 "Accelerate time when everyone is ariving"
Right now in the medialab people arrive at 7 and in 5min there are all in there offices, then it takes too long to speed up the simualtion to go to lunch.

[2020-06-10 11:06] agrignard commented on #47
Right now the number of people is compted according to the number of available spaces

see this part of the code

[code]

Then the density should impact on the number of workstations see #48

[2020-06-10 11:07] agrignard commented on #62
@ptaillandier I think the easiest way would to create a comokitViralPeople species that will be then mirrored in CityScope_Coronaize.gaml

[2020-06-10 11:42] agrignard commented on #61
Too large for an issue

[2020-06-10 11:42] #61 closed

[2020-06-10 11:42] agrignard commented on #60
won't be done here

[2020-06-10 11:42] #60 closed

[2020-06-10 11:42] agrignard commented on #58
too vague

[2020-06-10 11:42] #58 closed

[2020-06-10 11:44] agrignard commented on #55
First iteration here
<img width="1873" alt="Screenshot 2020-06-10 at 13 41 37" src="https://user-images.githubusercontent.com/3928502/84263822-7779de00-ab20-11ea-9d67-8e27842b08f4.png">

[2020-06-10 11:44] agrignard commented on #54
Merge in #55

[2020-06-10 11:44] #54 closed

[2020-06-10 11:46] agrignard commented on #57
To vague see #37

[2020-06-10 11:46] #57 closed

[2020-06-10 11:46] agrignard commented on #37
I close this one has the realistic one

[2020-06-10 11:57] agrignard opened #67 "Add the real desk in the media Lab"
@nayoub even if it's a bit rough we will need (in order to compare the before covid world with the after) to have the placement of the real workstation

[2020-06-11 07:53] agrignard commented on #64
Ok so we with @nayoub have identify the problem but for an AutoCAd reason we cannot fix it.

So in the MediaLab dxf file there is lot of layer that has the name E15-XXX (e. E15-389, E15-368 etc), those layer shoudl be names 'offices' instead. I am trying to make this modificaation with AutoCad but when I reload the newly created dxf file I have an error.

@pacopaco74 and @cocsfav woudl you mind ha

[2020-06-11 07:59] agrignard commented on #64
The file is in includes/MediaLab/building.dxf

[2020-06-11 08:05] agrignard commented on #66
It seems that the step stays stuck at 1 evn when hour >7 and minute >10

[code]

So it means that someone didn't reach is target, so the ste never go to 5#min
How can we be sure that everyoen reach his target?

[2020-06-11 08:05] agrignard commented on #56
We won't do it for now see #37

[2020-06-11 08:06] #56 closed

[2020-06-11 08:08] agrignard commented on #66
This 2 guys
<img width="405" alt="Screenshot 2020-06-11 at 10 07 55" src="https://user-images.githubusercontent.com/3928502/84361121-7651bb00-abcb-11ea-87b4-10d19ee0e4d6.png">

[2020-06-11 08:08] ptaillandier commented on #66
I am working on it

Le jeu. 11 juin 2020 à 10:05, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-06-11 08:21] agrignard commented on #50
Also we need to give the possibility to the user to lay with the infection rate value with or without mask

[2020-06-11 08:37] agrignard opened #68 "Specifiy the unit of MediaLab"
Now it's in feet need to be in meter (building.csv)

[2020-06-11 13:06] ptaillandier commented on #68
So finally, the unit is not feet... but I added a building.csv with the right unit (I compared the size of the building in google earth and in GAMA).

[2020-06-11 13:06] #68 closed

[2020-06-11 13:10] ptaillandier commented on #66
done

[2020-06-11 13:10] #66 closed

[2020-06-11 13:27] cocsfav commented on #64
Okay I'll take a look!

[2020-06-11 13:35] agrignard commented on #64
@cocsfav if you commit a new file commit it with a new name. I tried to merge it in autocad but i don't knwo why it doesnt work

[2020-06-11 13:39] cocsfav commented on #64
Ok!

[2020-06-11 13:41] agrignard commented on #64
This is the one that works (with E_15-XXX)
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building.dxf
and the oen merged that doesnt work
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building-test.dxf

[2020-06-11 15:11] agrignard commented on #64
OK hold on for this issue, the dxf is ok it seems to come from the pedestrian_path that should be recomputed

[2020-06-11 16:47] ptaillandier commented on #64
It is working now (I changed the name of the old file building_old.dxf and building-test.dxf is now building.dxf)

[2020-06-11 16:52] agrignard commented on #64
Great thank you Patrick!!! looks now very cool and realistic!
<img width="1126" alt="Screenshot 2020-06-11 at 18 52 31" src="https://user-images.githubusercontent.com/3928502/84416603-b9844c00-ac14-11ea-9b61-eae8715fca35.png">

[2020-06-11 16:52] #64 closed

[2020-06-11 19:14] ptaillandier commented on #47
I've defined four scenarios:
- "data": use actual data on the location of the workstations. For now, do nothing, but once the data is integrated in the dxf, it should be easy to define this scenario.
- "distance": minimum distance between workstations (using the "distance_people" parameter)
- "num_people_building": Total number of people in the building (i.e. number of work centers in the building

[2020-06-12 10:13] tnguyenh opened #69 "Cannot run daily routine"
3 occurrences in 3 agents at cycle 0: Java error: nil value detected
in float dist <- max([1.0,distance_to(self,closest_to(wall,self))]);
NullPointerException: null
msi.gama.metamodel.shape.GamaShape.euclidianDistanceTo(GamaShape.java:595)
msi.gama.metamodel.agent.AbstractAgent.euclidianDistanceTo(AbstractAgent.java:130)
msi.gama.metamodel.topology.continuous.ContinuousTopology.distanceBetween(Con

[2020-06-12 10:21] ptaillandier commented on #69
Hi Tri,
Do you have the  error everytime and just sometimes?
Which version of GAMA are you using? Could you try with the latest
continuous build:
https://github.com/gama-platform/gama/releases/tag/continuous ?

Le ven. 12 juin 2020 à 12:13, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-12 10:36] agrignard commented on #69
Yes everytime with the daily

[2020-06-12 13:24] tnguyenh commented on #69
Hi Patrick,

yes I tried with the latest continuous build. Actually it works well with the regular release, but not the daily build. And of course I can't use the regular release since it does not work with COMOKIT...

[2020-06-12 13:27] ptaillandier commented on #69
strange... On my computer (windows as well), the latest continuous build
works well. Could you try to create a new workspace?

Le ven. 12 juin 2020 à 15:24, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-12 14:06] agrignard commented on #47
@ptaillandier I guess it's a bit similar thatn distance, but it coudl be usefull to provide also a "density" scneario (density per building but also per offices)

[2020-06-12 14:36] tnguyenh commented on #69
Yes, I tried to create a new workspace, reinstall Gama... no way. So strange, but I've always had some kind of Karma problem with Gama...

[2020-06-12 17:55] LAAP opened #70 "I can't run the Gama model"
Hi @agrignard ,

Since we activate the plugging few days ago, I can't run the Gama model:

<img width="433" alt="Captura de pantalla 2020-06-12 a las 13 49 32" src="https://user-images.githubusercontent.com/19315213/84532510-5a761400-acb4-11ea-9a8d-815dac758b6f.png">

[2020-06-15 08:11] agrignard commented on #70
It can be interesting to see what's is written in the .log file, anyway did you try to create a new workspace? It should resolve the problem

[2020-06-15 08:23] agrignard opened #71 "Add a Dynamic Instantaneous Porximity heatmap"
Shouldn't be that hard to have this kind of features
https://www.arup.com/news-and-events/return-to-the-workplace-with-arup-space-explorer

[2020-06-15 14:10] LAAP commented on #70
Hi @agrignard ,

Yes, I have, and same issue:

<img width="456" alt="Captura de pantalla 2020-06-15 a las 10 08 31" src="https://user-images.githubusercontent.com/19315213/84667395-49194b80-aef0-11ea-9b5a-eb50b820172d.png">

And this is what the folder has... nothing!:

<img width="1281" alt="Captura de pantalla 2020-06-15 a las 10 08 43" src="https://user-images.githubusercontent.com/19315213/846

[2020-06-15 15:17] agrignard commented on #70
OK I see. The plugin has been installed on the current 1.8 it should be installed on a newer version of GAMA

Woudl it be possible for you to use it on the lasted GAMA release that you can find here
https://github.com/gama-platform/gama/releases/tag/continuous

Most of your already working GAMA project should be compatible

[2020-06-16 14:05] agrignard opened #72 "New Wish List"
How the behavior patterns of users of university centers should be modified for the gradual return to face-to-face courses considering the following optimal conditions:
Density
Paths
Social distancing
Safety/hygiene measures
Use of common/public areas
Transport access
Mobility as a result of emergent behaviors (avoiding space-time matches)

[2020-06-16 14:21] LAAP commented on #72
@agrignard ,

This is not the official list yet, but it is a good starting point

[2020-06-16 14:26] LAAP commented on #70
@agrignard ,
OK, awesome! Done, now, which one is the simulation that I should run?:
<img width="358" alt="Captura de pantalla 2020-06-16 a las 10 25 53" src="https://user-images.githubusercontent.com/19315213/84787346-dfff0a00-afbb-11ea-8ea2-53a82f9e67ca.png">

[2020-06-16 14:39] agrignard commented on #70
DailyRoutine for just the peopel moving
CityScope Coronaizer_XX for the epidemiologic model plugged on top of it

[2020-06-16 14:53] LAAP commented on #70
@agrignard ,
They are both in read. hahahahha!

[2020-06-16 16:00] agrignard commented on #70
Did you install the plugin on the new version of GAMA??

[2020-06-16 17:06] LAAP commented on #70
@agrignard ,
Nop. i don't remember how to do it. Do you have a tutorial?

[2020-06-16 17:23] agrignard commented on #70
Everything is written on the Readme

[2020-06-16 17:42] LAAP commented on #70
@agrignard ,

I have installed the plugin, and now is giving some issues:

<img width="1438" alt="Captura de pantalla 2020-06-16 a las 13 41 41" src="https://user-images.githubusercontent.com/19315213/84808824-3f1e4800-afd7-11ea-8b5a-3c073c0807c2.png">

[2020-06-16 17:59] agrignard commented on #70
can you expand the error (right click on it and do copy to clip board). maybe it's the same issue as what @tnguyenh has here https://github.com/CityScope/CS_Proxymix/issues/69

[2020-06-16 18:03] LAAP commented on #70
Sure!
<img width="557" alt="Captura de pantalla 2020-06-16 a las 14 03 04" src="https://user-images.githubusercontent.com/19315213/84810985-25323480-afda-11ea-9689-b921b7643f81.png">

[2020-06-16 19:17] agrignard commented on #69
Ok so one good news and one bad news:

- The good news is that @tnguyenh you are not the only one to have this issue

- The bad news is that @LAAP is also having this issue... see #70

[2020-06-16 19:18] agrignard commented on #70
Ok so one good news and one bad news:

- The good news is that wr can close this issue as @tnguyenh as the same one #69

- The bad news is that we do'nt knwo how to solve it... @tnguyenh is on Windows , what abotu you @LAAP which version of Mac are you using?

This model is working for @ptaillandier and I, @cocsfav , @pacopaco74 and @nayoub can you run this model to see if it works for you?

[2020-06-16 19:19] agrignard commented on #69
This model is working for @ptaillandier and @agrignard .  @cocsfav , @pacopaco74 and @nayoub can you run this model to see if it works for you?

[2020-06-16 19:19] LAAP commented on #69
@agrignard Thank you... I do not feel lonely in the world anymore  ;)

[2020-06-16 19:33] agrignard commented on #72
I close this isse are this is redundant with what has alreayd been discussed

[2020-06-16 19:33] #72 closed

[2020-06-16 19:42] agrignard commented on #69
@LAAP and @tnguyenh we might be lucky (or not) the very last version of GAMA 1.8.1 has just been released (however it should be very similar to the one you just download) but it could help if we all run the same version.

So when you have time can you download it ?
here
https://github.com/gama-platform/gama/releases/tag/1.8.1

[2020-06-16 20:38] LAAP commented on #69
Bad news @agrignard ... GAMA 1.8.1:

<img width="1431" alt="Captura de pantalla 2020-06-16 a las 16 37 17" src="https://user-images.githubusercontent.com/19315213/84825651-beb81100-afef-11ea-8ac6-c7492591094a.png">

[2020-06-16 20:41] agrignard commented on #67
Right now the space/desk (green point ) are generating according to the maximum distance between desk (2.0 meter in this case) but it would be great to have the current layout even if it's rough
<img width="1200" alt="Screenshot 2020-06-16 at 22 40 20" src="https://user-images.githubusercontent.com/3928502/84825895-6fd79f00-b022-11ea-8963-c934ec1a5eb1.png">

[2020-06-16 20:49] agrignard commented on #67
THis is the 3rd floor buildign where a layer desk could be added
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building.dxf

[2020-06-16 20:52] LAAP commented on #67
OK @agrignard , I will try to do it

[2020-06-16 20:55] agrignard commented on #69
Ok I was expecting that as the release is from today and you donwload it your like yesterday or today, we'll keep investgating with @ptaillandier

[2020-06-16 20:57] agrignard commented on #63
@tnguyenh is the current Ro the best we can do? If yes we can close this issue?

[2020-06-16 21:13] #46 closed

[2020-06-16 21:14] agrignard commented on #48
Equally spaced desk placed algortimicallu is working see #67 for the real layout

[2020-06-16 21:14] #48 closed

[2020-06-16 21:14] agrignard commented on #52
not a priority

[2020-06-16 21:14] #52 closed

[2020-06-16 21:15] agrignard commented on #53
not an issue (just need to count the number of desk) which is alrady computed

[2020-06-16 21:15] #53 closed

[2020-06-16 21:16] agrignard commented on #47
fixed with the 4 scenarios proposed by @ptaillandier

[2020-06-16 21:16] #47 closed

[2020-06-16 21:17] agrignard commented on #50
not an issue as the mask ratio is already here

[2020-06-16 21:17] #50 closed

[2020-06-16 21:18] agrignard commented on #55
Pedestrian path can be seen with a toggle button now
<img width="1846" alt="Screenshot 2020-06-16 at 23 17 54" src="https://user-images.githubusercontent.com/3928502/84829195-a532bb80-b027-11ea-90c8-2d1f1781ebd3.png">

[2020-06-16 21:21] agrignard commented on #55
We can visualize the path and the aggregated occupation so I consider this issue as fixed (could be easy if needed to identify the bottelneck programatically as we can see them (jsut identify high density places)

[2020-06-16 21:21] #55 closed

[2020-06-16 21:23] agrignard commented on #63
The RO we have now is the best we can have. It is biaised because the number of people in the simualtion and the tie of one day doesn't make any sense for an Ro that shoudl be computed with a lot of people and on at least on month. however the formula is the right one so I keep t for now (it is displayed in the simualtion)

[2020-06-16 21:23] #63 closed

[2020-06-16 21:25] agrignard commented on #62
@ptaillandier technically the integration is done, after I am not sure about the validity of the parameters. What do you think?

[2020-06-16 21:26] agrignard commented on #20
fixed since a long time ago

[2020-06-16 21:26] #20 closed

[2020-06-16 21:27] agrignard commented on #25
not specific enough for an issue

[2020-06-16 21:27] #25 closed

[2020-06-16 21:27] agrignard commented on #51
not an issue

[2020-06-16 21:27] #51 closed

[2020-06-16 21:28] agrignard opened #73 "Time Shifting"
Right now everyone arrives at the same time and have a very classic day, we will need to explore time shifting scenarios or even 24hours day, etc

[2020-06-17 17:04] ptaillandier commented on #69
Today, I made this test:
1. I downloaded the continuous build of GAMA (here: https://github.com/gama-platform/gama/releases/tag/continuous) -> GAMA1.8_Continuous_withJDK_Win_06.17.20_1a29564.zip

2. I ran GAMA and created a new workspace

2. I installed the "pedestrian" plugin (if the installation goes well, GAMA should ask you if you are sure that you want to install the plugin, and propose to re

[2020-06-17 20:59] agrignard opened #74 "STATIC SPATIAL ANALYSIS"
On top of the ABM Simulation ti woul dbe great to have some basic saptial analysis tool that gives for instance for a given site:

-  Total square meter
- Total Square meter of Offices
- Total Square meter of Public Spaces
- etc

The idea here is to give a tool where decision maker can have an idea of how many people can enter their sites just using simple spatial analysis tool before to run any A

[2020-06-17 21:02] agrignard commented on #69
Thanks @ptaillandier for testing this again, this is very unforunate you are on windows an it works I am on mac and it work @tnguyenh is on windows and it doesnt' work and @LAAP is on mac and it doesn't work...

I dont know how we can fix that

Can we blindly test if all of this guys are nil we give another value for dist?

[code]

@tnguyenh can you print ````wall````here to see if it's null, then

[2020-06-17 21:11] agrignard commented on #69
Also I don't know if it's because of this but some hiden file has been push by mistake in the github, can it affect the behavior of other conf?

<img width="1011" alt="Screenshot 2020-06-17 at 23 09 53" src="https://user-images.githubusercontent.com/3928502/84950806-bd6e0d80-b0ef-11ea-9ad1-81b2a0138723.png">

I will remove them and @LAAP and @tnguyenh you can retry if you have time (not sure at al

[2020-06-17 21:16] agrignard commented on #67
@LAAP here is the dxf file of CityScience
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CityScience/building.dxf

As it is it is consider as buildign like any other (it means the ABM is working like in the mediaLab) so do not change this , but the idea would be to copy past this "object" to then integrate it in this one labbelled as desk
https://github.com/CityScope/CS_

[2020-06-17 21:40] tnguyenh commented on #69
@ptaillandier : I followed this procedure several times, the last time using the links you provided in this issue. Sadly I still have the same problem.

@agrignard : nice try, but that would have been too easy....

[2020-06-17 21:53] LAAP commented on #67
@agrignard ,
Awesome! I will try to do this tonight

[2020-06-17 21:55] tnguyenh commented on #69
@ptaillandier : if you want to blindly debug this, if it can help, I tried the following code, if it can be of any help:

[code]

[2020-06-18 01:46] LAAP commented on #67
@agrignard ,

I have "refreshed the Github desktop", and all the files are the ones without furniture.  When I opened the file I don't find the "CS Lab" with the fourniture. I only see a flipped 3rd floor plan:

<img width="1230" alt="Captura de pantalla 2020-06-17 a las 21 40 59" src="https://user-images.githubusercontent.com/19315213/84968095-b3dea880-b0e3-11ea-93c6-9c97fea29786.png">

Please, c

[2020-06-18 07:27] agrignard commented on #67
So this one is the 3rd floor of the lab without fourniture
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building.dxf

and this one is just the CityScience (but using the same standardisation layer as the MediaLab so we can run the ABM)
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CityScience/building.dxf

So the idea is to copy pas

[2020-06-18 07:37] agrignard commented on #69
OK I like the concept of the blind debugging ;-) So now at least we know the wall is nil in your case (and I guess in @LAAP case)

[2020-06-18 07:54] pacopaco74 commented on #69
@agrignard daily routine doesn't seem to work for me neither :
<img width="1755" alt="Capture d’écran 2020-06-18 à 09 50 04" src="https://user-images.githubusercontent.com/60396205/84993375-8593b400-b149-11ea-8330-9e6486c521e1.png">

I am on Mac OS / Gama 1.8.0

[2020-06-18 08:05] pacopaco74 commented on #43
Ok great. So I guess the next move would be to define standard space types (rooms, meeting rooms, coffee, toilets,...) for every one of the 20 Architectural types ? and try to keep the number of space types as low as possible ?

[2020-06-18 08:28] cocsfav commented on #69
@agrignard I have the same problem on Windows with Gama v.1.8.0 ;
![20200618_error-DailyRoutine](https://user-images.githubusercontent.com/64479147/84996965-4320a600-b14e-11ea-89ed-e93312c626ea.JPG)

[2020-06-18 08:39] agrignard commented on #69
This is a different error, in your case you cannot even run the model as it's red.

Did you successfully install the plugin?  following this methodology?
https://github.com/CityScope/CS_Proxymix/issues/69#issuecomment-645500336

[2020-06-18 09:19] tnguyenh commented on #69
Nope, we can only know that 'wall closest_to self' is nil. There are 557 walls, self is pedestrian_path(0).

[2020-06-18 09:23] ptaillandier commented on #69
hum...
 Could you try:

write (wall with_min_of (each distance_to self));
To see if the problem comes from the quadtree or not.

Le jeu. 18 juin 2020 à 11:20, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-18 09:25] tnguyenh commented on #69
Just tried this:

[code]

The ouput is:
557
pedestrian_path(0)
2.8718905361467674E7
2.8718905247671742E7
2.8718865907673366E7
2.871886590762366E7
...
2.87189146773129E7
nil

It looks like that there is no problem in computing the distance (and also that this distance exists for every walls). Is it a problem with closest_to applied to a pedestrian_path agent ?

[2020-06-18 09:28] tnguyenh commented on #69
Yep. The code:

[code]
And the corresponding output:

557
pedestrian_path(0)
wall(163)
nil

[2020-06-18 09:31] ptaillandier commented on #69
The distance is totally wrong :p ...
Could you write:

write "self loc: " + location + "wall location:" + (wall with_min_of (each
distance_to self)).location + " world location:" + world.location;

Le jeu. 18 juin 2020 à 11:26, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-18 09:50] tnguyenh commented on #69
Yep, here is the output:

self loc: {-2.871886773199296E7,-382.30760529874203,0.0}wall location:{0.1381745117187525,9.19277014973955,0.0} world location:{47.44719793294267,29.541215958658835,0.0}

[2020-06-18 09:59] ptaillandier commented on #69
So, I thinK I found the problem.
In the experiment folder, could you add:
action _init_ {
gama.pref_gis_auto_crs <- false;
gama.pref_gis_default_crs <- 3857;
create simulation;
}

Le jeu. 18 juin 2020 à 11:50, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-18 09:59] ptaillandier commented on #69
I mean, in the experiment block

Le jeu. 18 juin 2020 à 11:59, Patrick Taillandier <
patrick.taillandier@gmail.com> a écrit :

[2020-06-18 10:03] tnguyenh commented on #69
With the other shapefiles, same problem with odd location. For Factory:

self loc: {-2.871861860684365E7,30.4324622049827,0.0}wall location:{0.4500000219349749,18.622013018384592,0.0} world location:{52.9521003597391,17.962324640434385,0.0}

[2020-06-18 10:03] tnguyenh commented on #69
OK, got this error:

![image](https://user-images.githubusercontent.com/18676913/85007393-c399d380-b15b-11ea-898d-3632bcbd5dd7.png)

[2020-06-18 10:32] ptaillandier commented on #69
Ok,

Try to remove "action _init_" .
In preference (Help menu -> preferences), in the "data and operators"
panel, check that you have the same value as me in GIS Coordinates
References Systems:

[image: image.png]
And run again the model

Le jeu. 18 juin 2020 à 12:04, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-18 10:39] agrignard commented on #69
THis is what I have
<img width="1269" alt="Screenshot 2020-06-18 at 12 39 09" src="https://user-images.githubusercontent.com/3928502/85010710-bdf2bc80-b160-11ea-98e1-81273af4c370.png">

[2020-06-18 12:45] LAAP commented on #69
Wow! Thank you to all of you for this effort  ;)

[2020-06-18 12:49] LAAP commented on #67
Awesome! Thank you @agrignard ,

Yes, I think I was looking in the wrong folder  ;)

[2020-06-18 13:15] agrignard commented on #69
@LAAP can you check your preferences?  You go to Help -> Preferences -> Data and Operators and make a screenshot

[2020-06-18 13:19] LAAP commented on #69
Sure! @agrignard , here it is:

<img width="1438" alt="Captura de pantalla 2020-06-18 a las 9 18 39" src="https://user-images.githubusercontent.com/19315213/85024957-c3420e00-b144-11ea-9edb-0589e70eb6dc.png">

[2020-06-18 14:08] agrignard commented on #69
Ok so at least we do'nt have the same value in the EPSG but we both have the let GAMA to true.

@ptaillandier any idea?

[2020-06-18 14:21] ptaillandier commented on #69
Yes
 Just change " or use the following epsg...." to 3857

Le jeu. 18 juin 2020 à 16:08, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-06-18 14:33] agrignard commented on #69
Ok but what I don't get is that there are some .prj right so GAMA will find it no?

In any case @LAAP can you try this

replace 32648 per 3857 to see if it works

[2020-06-18 15:40] tnguyenh commented on #69
@ptaillandier : I can't see the image you posted, but I assume you have the same value than Arnaud.

I've got the same than Luis:

![image](https://user-images.githubusercontent.com/18676913/85041854-c364fc80-b18a-11ea-860d-7f6485dd7390.png)

[2020-06-18 15:41] tnguyenh commented on #69
That works !

![image](https://user-images.githubusercontent.com/18676913/85041974-e8f20600-b18a-11ea-9172-5e0e62003a70.png)

[2020-06-18 15:41] tnguyenh commented on #69
Why do we have different values in the preferences ?

[2020-06-18 16:17] ptaillandier commented on #69
You have the default value, but not Arnaud and me (a long story....).
I will try to find a smart way to fix this error for "new" users.

Le jeu. 18 juin 2020 à 17:42, Tri Nguyen-Huu <notifications@github.com> a
écrit :

[2020-06-18 16:33] #69 closed

[2020-06-18 16:36] ptaillandier commented on #62
It is working... but, the infection probability seems very low. I have to check these values with Damien Philippon (who is the designer of the epidemiological sub-model of COMOKIT).

[2020-06-18 23:48] LAAP commented on #67
Hi @agrignard ,

I have finished the dxf furniture floor plan:

<img width="927" alt="Captura de pantalla 2020-06-18 a las 19 46 21" src="https://user-images.githubusercontent.com/19315213/85082308-80138980-b19c-11ea-9bed-11200e7df33e.png">

The file is: ML_3_L.dxf

I will push it

[2020-06-19 00:15] nayoub commented on #67
Super cool @LAAP

________________________________
From: LAAP <notifications@github.com>
Sent: Thursday, June 18, 2020 7:48:33 PM
To: CityScope/CS_Proxymix <CS_Proxymix@noreply.github.com>
Cc: Ayoub, Nicolas <nayoub@gsd.harvard.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CityScope/CS_Proxymix] Add the real desk in the media Lab (#67)

Hi @agrignard<https://urldefense.proofpoint.com/v2

[2020-06-19 07:52] agrignard commented on #67
Nice @LAAP can you push it?

[2020-06-19 07:57] agrignard opened #75 "Desk management: from file or generated"
@ptaillandier would you mind having a look in the code to have this features:

Having a boolean that gives the possibility to instanciate the desk (what you call spaces) form the dxf or programmtically . The idea would be the following

if you have desk object in your dxf then you can instanciate it so run the simulation on the current layout of the building, if you don't have it (or if we want to

[2020-06-19 13:28] agrignard commented on #70
Just reopening it to be sure that it's also working for @LAAP

[2020-06-19 13:34] agrignard commented on #67
@LAAP I don't think you commited the right file this is what i have in ML_3.dxf no desk)
<img width="1223" alt="Screenshot 2020-06-19 at 15 33 44" src="https://user-images.githubusercontent.com/3928502/85138013-56ad3900-b242-11ea-9a89-730592a4df6d.png">

[2020-06-19 13:57] agrignard commented on #67
I think the one you cmiit is ML_3_L.dwg but i cannot format it to .dxf can you do it?

[2020-06-19 14:02] agrignard commented on #67
also I see that there are some chair, are they in a different layer or attached to a specific desk?

[2020-06-22 14:31] LAAP commented on #67
@agrignard , OK, I will try to do this

[2020-06-22 21:09] LAAP commented on #67
@agrignard ,

Done. I have updated the floor plan with tables and chairs and shave it as a dxf, and pushed.

I am closing this issue

[2020-06-22 21:09] #67 closed

[2020-06-24 15:15] agrignard commented on #75
thank you @LAAP

@ptaillandier if you want to have a look the new file is mediaLab/building and tehy are chair and desk layer

[2020-06-25 08:26] agrignard commented on #75
This dxf and working with architech is definetely chalenging...

So I cannot open the dxf in my autocad because it's autocad2018... (wa 2 years and it's already not comaptible)

Aslo Luis you didn't startt from the vurrent building files, so in your ML_3_L_Whatever.dwg there is no entrance (I think you strated from ML_3/dxf...

ah architect....

I will try to fix this by self with my very oooooooo

[2020-06-25 08:30] agrignard opened #76 "No more entrance in building"
See #75

[2020-06-25 13:28] LAAP commented on #75
@agrignard ,

Done. I have save the furniture in the building.dxf file, in an old dxf version (R12) with furniture, chairs, and entrance

Please, notice that entrance = elevators and main stairs (as rectangles):

[2020-06-25 13:30] LAAP commented on #76
@agrignard ,

Done (See [#75](https://github.com/CityScope/CS_Proxymix/issues/75#issuecomment-649365003))

I close this issue

[2020-06-25 13:30] #76 closed

[2020-06-25 14:09] agrignard commented on #75
Interesting... this is what I have no
<img width="1181" alt="Screenshot 2020-06-25 at 16 08 53" src="https://user-images.githubusercontent.com/3928502/85735764-3d066880-b6fe-11ea-83b4-c1ec9dfdcac7.png">

It would be great if you can validate your fle by running DXF_Validator.gaml to be sure that it is still compatible

[2020-06-25 14:10] agrignard commented on #75
<img width="459" alt="Screenshot 2020-06-25 at 16 10 39" src="https://user-images.githubusercontent.com/3928502/85736046-70e18e00-b6fe-11ea-97d9-0530c38b8582.png">

[2020-06-25 14:11] agrignard commented on #75
Ah ok ... You put all the layer using Capital Case... I'll change that

[2020-06-25 14:14] agrignard commented on #75
No more elevator? something is different from the other
<img width="1256" alt="Screenshot 2020-06-25 at 16 14 15" src="https://user-images.githubusercontent.com/3928502/85736653-f5341100-b6fe-11ea-9d53-44880b530892.png">

[2020-06-25 14:15] agrignard commented on #75
Can you just keep the original one (s it is the one working) and **JUST** put the chair and desk layer?

[2020-06-25 14:17] agrignard commented on #75
Also the file is flipped compare to the other one

<img width="941" alt="Screenshot 2020-06-25 at 16 16 51" src="https://user-images.githubusercontent.com/3928502/85737072-578d1180-b6ff-11ea-8645-f88fd0e40ed1.png">

[2020-06-25 16:11] LAAP commented on #75
@agrignard
I have done as you wished

[2020-06-25 18:28] agrignard commented on #75
Seems to work except for the elevators. I have only one close to opera

[2020-06-25 18:32] LAAP commented on #75
@agrignard ,

OK. Let me fix it

[2020-06-25 18:35] LAAP commented on #75
@agrignard

Done, let me know if it is working now

[2020-06-25 22:06] agrignard commented on #75
I don't know what is wrong with this fie but I cannot run the DailyRoutine model with it.

And the entrance became and elevator
<img width="1255" alt="Screenshot 2020-06-26 at 00 06 31" src="https://user-images.githubusercontent.com/3928502/85800256-eb330200-b740-11ea-840e-c613c0337160.png">

[2020-06-26 01:07] LAAP commented on #75
@agrignard ,

Where is the furniture and chairs?

I have not touched the layers from the previous model, I only have copy paste furniture, chairs and the drawing of stairs (it is confusing the drawing without stairs). I have no touche entrances.

But yes. If I look to the Lawyer, "entrances", I see that only the four "Elevators_primary" are the entrance to the floor, which it makes sense to me.

I

[2020-06-26 06:46] agrignard commented on #75
@ptaillandier If you want ot have a look at building_LUIS_NEW.dxf i cannot instanciated DailyRoutine, maybe because there are two many elements like chair and furniture?

It's in the last commit

[2020-06-26 06:55] agrignard commented on #75
We can at least load them in the DXFValidator
<img width="1481" alt="Screenshot 2020-06-26 at 08 54 53" src="https://user-images.githubusercontent.com/3928502/85829391-cc595d80-b78a-11ea-91ea-6288cc5da9c7.png">

[2020-06-26 13:49] LAAP commented on #75
@agrignard ,

It is looking good. Let me know if you need help with the dxf

[2020-06-26 14:31] agrignard commented on #75
Ok great thanks @LAAP and @ptaillandier people are now going to the real desk

<img width="1186" alt="Screenshot 2020-06-26 at 16 30 49" src="https://user-images.githubusercontent.com/3928502/85868364-73a9b500-b7ca-11ea-9d9c-26a1798cbe42.png">

[2020-06-26 18:30] LAAP commented on #75
Awesome @agrignard and @ptaillandier!!!  Good job!!!! It is looking cool!!  ;)

[2020-06-29 15:42] agrignard opened #77 "CUCS building dxf production"
We will need to make the CUCS Office O compatible with proxymix. To do so we need to produce the right layer.

Here is the current dxf file
<img width="1177" alt="Screenshot 2020-06-29 at 17 36 23" src="https://user-images.githubusercontent.com/3928502/86026352-94267900-ba2f-11ea-8b94-df313ac23b73.png">

Here is the medialab case study
<img width="1652" alt="Screenshot 2020-06-29 at 17 39 45" src=

[2020-06-29 15:43] MarkusElKatsha commented on #77
Yes, can you point me to a layer structure/naming you would like to use?

[2020-06-29 15:47] agrignard commented on #77
There is already a placeholder to host the building.dxf

https://github.com/CityScope/CS_Proxymix/tree/master/ProxymixABM/includes/CUCS

Markus here is the file
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building.dxf

[2020-06-29 15:59] agrignard commented on #77
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CUCS/new%20block2_R12_.dxf

[2020-06-29 15:59] MarkusElKatsha commented on #77
These are the CAD standards we should always use: https://openlab.citytech.cuny.edu/arch-1230/files/2014/08/AIA-Layer-Standards.pdf

[2020-06-29 16:00] MarkusElKatsha opened #78 "CAD Standards - Architectural Elements - Unifying Layer Names"
AIA CAD Standards
https://openlab.citytech.cuny.edu/arch-1230/files/2014/08/AIA-Layer-Standards.pdf

[2020-06-29 16:01] agrignard commented on #43
https://openlab.citytech.cuny.edu/arch-1230/files/2014/08/AIA-Layer-Standards.pdf

[2020-06-29 16:53] LAAP commented on #77
Hi @agrignard and @MarkusElKatsha ,

I have done the ML one, so maybe it makes sense me doing also this other one. I can try to have it ready for tomorrow morning.

Please, let me know your thoughts

[2020-06-29 17:14] agrignard commented on #77
@nayoub is also working on it. But yes if you can have a look that would be great. The idea is to have a first iteration with the same spirit as the Medialab one

[2020-06-29 17:25] LAAP commented on #77
Hi, id @nayoub or @MarkusElKatsha are already doing it, that is great! I step back then

[2020-06-29 17:29] agrignard commented on #77
Well let's see i think there is lot of work here. and different level also. For now we decied to do the first level but there is also the groudn and the second level.

So it might take a lot of iteration in case, so the important thing is not to duplicate work and to coordinate on github with the right commit. @nayoub, let us know when you have a first version.

I don't how long it can take for yo

[2020-06-29 17:35] #75 closed

[2020-06-29 17:36] agrignard commented on #71
@ptaillandier any idea on how to do that?

[2020-06-29 17:58] LAAP commented on #77
@agrignard , you are right. I do not want to re do the work twice, so @nayoub please, let me know if you have time to do this today. if not, I will do it tonught

[2020-06-29 19:36] agrignard commented on #77
And we now have to do the same for the entire Campus...
Here is the starting point
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CUCS_Campus/PLANO%20DE%20CONJUNTO%20CUCS_LT2.dxf

<img width="1700" alt="Screenshot 2020-06-29 at 21 35 56" src="https://user-images.githubusercontent.com/3928502/86048318-9e0ca400-ba50-11ea-82c6-3d29a8656930.png">

[2020-06-29 20:36] agrignard commented on #71
For inspiration
https://www.burohappold.com/articles/social-distancing-in-the-workplace/

[2020-06-29 20:52] agrignard commented on #77
Thanks @nayoub the office O version beta is working (we still need to agree where to put offices, classrom etc) bu tthe structure is ok and running with the model (not yet for the real chair bu I will create a dedicated issue fr @ptaillandier )
<img width="1148" alt="Screenshot 2020-06-29 at 22 50 46" src="https://user-images.githubusercontent.com/3928502/86054820-1d06da00-ba5b-11ea-8c25-5839d44f5

[2020-06-29 21:10] MarkusElKatsha commented on #78
ISO CAD standards for review: https://www.itcon.org/papers/itcon.paper.1997-2.pdf

[2020-06-29 21:11] agrignard commented on #78
Thanks god @MarkusElKatsha is here!

So let's start the convertion so here is the current naming convetion (no standard)
[code]

[2020-06-29 21:13] agrignard commented on #43
See #78

[2020-06-29 21:14] agrignard commented on #74
close it for now not specific enough

[2020-06-29 21:14] #74 closed

[2020-06-29 21:14] #70 closed

[2020-06-29 21:21] agrignard commented on #43
Reopening it as by discussing with @MarkusElKatsha we quicklu figure out that #78 was made for architectural artefact not for spaces so I reopen this issue for now

[2020-06-29 21:29] LAAP commented on #78
@agrignard and @MarkusElKatsha ,

Are we sure that we want to deal with ACAD-Architectural standards?

¿?

[2020-06-29 22:22] agrignard opened #79 "Switching to 3D"
<img width="1605" alt="Screenshot 2020-06-30 at 00 19 12" src="https://user-images.githubusercontent.com/3928502/86061775-a9b79500-ba67-11ea-8ab1-55748360b907.png">
<img width="938" alt="Screenshot 2020-06-30 at 00 20 19" src="https://user-images.githubusercontent.com/3928502/86061781-aae8c200-ba67-11ea-981e-cc960b3f7b43.png">

https://github.com/CityScope/CS_Proxymix/tree/master/ProxymixABM/inclu

[2020-06-29 22:50] agrignard opened #80 "DailyRoutine doesn't work with chair in CUCS"
useCase<-"CUCS"
density_scenario<-"data"

[2020-06-29 23:11] LAAP commented on #79
Why not? However, let's stick with the "basics" in this first phase, please, hahahah! After, we can go to the moon if you wish!

[2020-06-30 07:21] agrignard commented on #77
@nayoub
Here is what I have for the hole campus it seems that something is wrong with the enveloppe (the enveloppe is too big). Also right now I cannot compute the pedestrian path on it. So something is wrong, let's find out what. Also it looks like all the oterh layer are here. I think it would be better to start form Scratch and copy paste the right layer instead of starting from the original fi

[2020-06-30 07:23] agrignard opened #81 "How to easily generate different pedestrian path"
One of the big request of the post covid world is too have a tool that can tell peopel which path to take in a given site.

Right now we use ````generate_pedestrian_network.gaml```` to generate the pedestrain path but the parameters are still a bit mysterious for me.

@ptaillandier do you think they are some relevant parameters with which we can play for instance:

- create a path that ensures tha

[2020-06-30 07:25] agrignard opened #82 "Cannot generate pedestrian path on CUCS_Campus"
In generate_pedestrian_network.gaml I cannot generate a pedestrain path (it stays in Instantiating mode for ever) with CUCS_Campus (might be link to #77) but might be also due to something in GAMA

[2020-06-30 09:32] ptaillandier commented on #71
A simple first solution was implemented.
The visual aspect can be improved (for example, color), but, at least, it works.
The size of the grid used for the computation can be defined through a global variable (by default, 0.5 meters, to avoid to heavy computation) and the masked_by operator can be used (optional : false by default) to improve the realism of the result.

[2020-06-30 09:38] agrignard commented on #71
Great! it seems to work pretty well, I wil explore a bit the parameters

<img width="1164" alt="Screenshot 2020-06-30 at 11 37 58" src="https://user-images.githubusercontent.com/3928502/86110698-2b3e1000-bac6-11ea-93d8-8e53309b528b.png">

[2020-06-30 10:01] agrignard commented on #71
Maybe a little thing to change for me it seems that if 2 pepel are well cited on their site then the proxymity map shoudl exist (they are in a "safe" place) isn't it?

<img width="94" alt="Screenshot 2020-06-30 at 11 59 46" src="https://user-images.githubusercontent.com/3928502/86113332-6aba2b80-bac9-11ea-9360-3b19aaace116.png">

How ever I see some blue close to peopel that re sitted? I guess is

[2020-06-30 10:20] agrignard commented on #81
close it for now (a bit too complex)

[2020-06-30 10:20] #81 closed

[2020-06-30 10:20] agrignard commented on #79
@nayoub can you try to find a more iconized .obj?

[2020-06-30 10:28] agrignard commented on #82
seems to be stucked in this infinite loop

[code]

[2020-06-30 10:33] agrignard commented on #82
The problem seems to arrive on the shape number 87 which is the first entrance

<img width="484" alt="Screenshot 2020-06-30 at 12 33 04" src="https://user-images.githubusercontent.com/3928502/86116549-e61ddc00-bacd-11ea-9a2a-38ea8e6af616.png">

[2020-06-30 10:36] agrignard commented on #82
Ok I get it
roomsOffices
rooms namedxf_element86
rooms shapeLINESTRING (1357.9190051257456 74.57964513419077, 1369.977624927508 72.12629120764609)

So one shape is a linestring ,

@nayoub or @LAAP can you have a look in the Autocad??

[2020-06-30 10:38] agrignard commented on #82
<img width="561" alt="Screenshot 2020-06-30 at 12 38 15" src="https://user-images.githubusercontent.com/3928502/86117008-9855a380-bace-11ea-9687-52d1fe973ffb.png">

[2020-06-30 13:04] agrignard commented on #71
I reduce people at_distance distance_people -0.1#m

but still

<img width="647" alt="Screenshot 2020-06-30 at 15 02 20" src="https://user-images.githubusercontent.com/3928502/86129336-ce048780-bae2-11ea-8279-8c831adbfa39.png">

[2020-06-30 13:12] agrignard commented on #71
Ok this is fixed. One last thing before to close this issue would be the availability to show instantaneous but alos aggregated grid to keep a trace of where there has been a potential danger

[2020-06-30 17:10] agrignard opened #83 "1st Iteration deliverable"
Given a distance to respect between people what is the maximum number of people that can fit in a room?

Here are 4 screenshots with the number of maximum desk for each room given the distance.

This is for the 1st level we will need to make it for the ground floor and for the 2nd level. For this see issue #77

<img width="1920" alt="Screenshot 2020-06-30 at 17 52 44" src="https://user-images.gith

[2020-06-30 17:16] #79 closed

[2020-06-30 17:18] agrignard commented on #78
See #43 it's the same discussion at the end

[2020-06-30 17:19] agrignard commented on #73
How do we proceed on that, @LAAP maybe by inspiration with the whatever dining room curve, we could end up with a specific time where people can stay. However how can we specify this time? Would it be in link with the ventilation of the space?

[2020-06-30 17:35] LAAP commented on #73
Hi @agrignard ,

Yes, as soon as we have the density, we could have sift of people, and in between, maybe 1 agent gets in to the room and "cleans" or similar.

Do we have different profiles? Students, Teachers, staff?

[2020-06-30 21:28] agrignard commented on #77
The enveloppe is now ok. Still some problem for the pedestrain Iam working on it.

Things that still need to be done related to this issue is to produce the ground floor and the second level for the Office O

[2020-06-30 21:34] agrignard commented on #82
Ok it seems to work now. though it's very long to compute
<img width="1340" alt="Screenshot 2020-06-30 at 23 30 09" src="https://user-images.githubusercontent.com/3928502/86179275-3aef4000-bb2a-11ea-8cbf-3be4256982f1.png">

[2020-06-30 21:34] #82 closed

[2020-06-30 21:34] LAAP commented on #83
Hi @agrignard

I am working on this

[2020-06-30 21:36] agrignard opened #84 "DailyRoutine doesn't work with CUCS_Campus"
I guess this is because we do not have wall.

@ptaillandier what do you suggest should we had a layer wall?
[code]

[2020-06-30 21:38] agrignard commented on #83
You mean to produce the ground floor and the second level dxf?

[2020-06-30 21:39] #71 closed

[2020-06-30 21:39] LAAP commented on #83
Hi @agrignard ,

You are missing 2 Labs here:

<img width="243" alt="Captura de pantalla 2020-06-30 a las 17 37 31" src="https://user-images.githubusercontent.com/19315213/86179527-7113cc00-baf8-11ea-8abf-c29b827bdf2d.png">

And the 2 WC:

<img width="116" alt="Captura de pantalla 2020-06-30 a las 17 38 46" src="https://user-images.githubusercontent.com/19315213/86179639-a28c9780-baf8-11ea-841b-8b

[2020-06-30 21:43] agrignard opened #85 "Identify crossings and bottlenecks of pedestrian flows."
Either form the Instaneaous proximity grid or from the flow grid, it would be great to create on the fly bootleneck agent to identify and display them. Then we can imagine to have a kind of parameter to decide wether or not it's a bottleneck

Something like this would be great (the red dot would emerge during the simulation or at the end)
<img width="1249" alt="Screenshot 2020-06-30 at 23 42 59" s

[2020-06-30 21:45] agrignard commented on #83
You can put it as labs (actually Offices or Meeting rooms) @nayoub did it like that because we just don't have the information right now so it's an "educated guess"

If you modifiy it please be sure that the file is still compatible (save to AutoCad 2013) and then all the procedure to be sure everything work is now written here https://github.com/CityScope/CS_Proxymix/wiki so more excuse to have n

[2020-07-01 00:00] LAAP commented on #83
Hi @agrignard

Base in IDSS this are times and People. Tomorrow I will study the "% of use" (density) and the shifts need to cover as much as possible of the time in the building:

Room | Pre-COVID-19 | Ramp-up 1.5m | Max Time min | Ramp-up 2m | Max Time min | Ramp-up 2.5m | Max Time min | Ramp-up 3m | Max Time min
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
WC Men | 5 | 3 |   | 2 |   | 2 |  

[2020-07-01 07:53] agrignard commented on #83
Whow that looks cool. I cannot imagine the time it took to make this in github ;-) maybe just a csv can be easier for you and also for them, and can be use to plot stuff. If we go in the csv mood we can also imagine to have Gama producing it. We just need to agree on what to put in it. I will make a first trial to export a csv output from the simulation

[2020-07-01 08:24] agrignard commented on #83
OK I just did a first version here that will save a csv file with the following information

@LAAP You can try it if you want (run DailyRoutine and play with ````distance_people````

Name ````output2020-07-01 10:22:06distance_1.5.csv````

[code]

[2020-07-01 12:37] #80 closed

[2020-07-01 14:55] LAAP commented on #83
@agrignard ,

It takes 1 sec to copy paste from the csv.

I have pushed the csv file into the Github:

results < Handmade
csv file -  200630_Rooms and time

[2020-07-01 15:06] LAAP commented on #83
@agrignard ,

I am running the tool, and it is looking very cool:

<img width="1431" alt="Captura de pantalla 2020-07-01 a las 11 00 21" src="https://user-images.githubusercontent.com/19315213/86259757-6a359980-bb8a-11ea-8c78-fc4c196101f3.png">

Also, I have the output of the 1st csv:

type | length(entrances) | length(available_places)
-- | -- | --
Offices | 2 | 133
Offices | 6 | 130
Offices | 2

[2020-07-01 17:37] agrignard commented on #83
Nice!! it starts too look like something!

[2020-07-01 17:41] agrignard commented on #80
Yes! Thanks! They are still too many chair I will create an issue.

<img width="1098" alt="Screenshot 2020-07-01 at 19 40 57" src="https://user-images.githubusercontent.com/3928502/86274966-d1773c00-bbd2-11ea-8bec-768863912e09.png">

[2020-07-01 17:43] agrignard opened #86 "Too many chair in CUCS"
@nayoub do you think we can simplify the chair layer?

<img width="1098" alt="Screenshot 2020-07-01 at 19 40 57" src="https://user-images.githubusercontent.com/3928502/86275108-0aafac00-bbd3-11ea-909b-95db9d6b1a8e.png">

[2020-07-01 18:37] nayoub commented on #86
Sure no problem. I can do it today

________________________________
From: Arnaud Grignard <notifications@github.com>
Sent: Wednesday, July 1, 2020 1:43:44 PM
To: CityScope/CS_Proxymix <CS_Proxymix@noreply.github.com>
Cc: Ayoub, Nicolas <nayoub@gsd.harvard.edu>; Mention <mention@noreply.github.com>
Subject: [CityScope/CS_Proxymix] Too many chair in CUCS (#86)

@nayoub<https://urldefense.proofpoint

[2020-07-01 19:30] LAAP commented on #83
Awesome @agrignard ,

So, if you can pic 3 or 4 "stuff" related to the heatmapsetc to show in the cvs it could be cool

[2020-07-02 02:34] LAAP commented on #83
New table with time spended in the building, pre-COVID and ramps up:

Room | Pre-COVID-19 | TIME min | Time per person | Same density   COVID time | Max Time min | Time per person | Ramp-up 1.5m | Max Time min | Time per person | Ramp-up 2m | Max Time min | Time per person | Ramp-up 2.5m | Max Time min | Time per person | Ramp-up 3m | Max Time min | Time per person
-- | -- | -- | -- | -- | -- | --

[2020-07-02 08:16] agrignard commented on #84
OK it seems to work now

However it seems pretty slow
<img width="1006" alt="Screenshot 2020-07-02 at 10 15 26" src="https://user-images.githubusercontent.com/3928502/86334065-02945280-bc4d-11ea-9384-d0e7295d3b04.png">

[2020-07-02 08:17] #84 closed

[2020-07-02 08:17] agrignard opened #87 "DailyRoutine slow with CUCS_Campus"

[2020-07-02 08:20] agrignard commented on #86
OK it s now working
<img width="1377" alt="Screenshot 2020-07-02 at 10 19 41" src="https://user-images.githubusercontent.com/3928502/86334510-9534f180-bc4d-11ea-85ae-d1269c208f32.png">

[2020-07-02 08:20] #86 closed

[2020-07-02 08:21] agrignard commented on #77
@LAAP and @nayoub do you think you will have time to produce the ground level and the second floor before friday?

[2020-07-02 10:40] #87 closed

[2020-07-02 13:03] agrignard commented on #87
Great! thank you @ptaillandier it works fine

[2020-07-02 13:19] LAAP commented on #77
@agrignard ,
I can try, but not sure exactly what is the task. Also, At the end I think Carlos Ivan will have his meeting on Monday, so I can try tomorrow too

[2020-07-02 13:39] agrignard commented on #77
The task is pretty clea:  Repeat what have been done by @nayoub that produces the first level from the original spanish version of the edificio O and to do it for the ground level and the 2nd level (mainly with entrance, offices/meeting romms and wall)

Do you see ?

[2020-07-02 19:51] agrignard commented on #77
Level 2 seems ok (validated + pedestrain apth + Dailyroutine)
<img width="1210" alt="Screenshot 2020-07-02 at 21 51 16" src="https://user-images.githubusercontent.com/3928502/86403547-36539480-bcae-11ea-8056-6219a9a0f125.png">

Still an issue with Ground

[2020-07-02 19:53] agrignard opened #88 "Cannot generate pedestrain path for CUCS/Ground Floor"
Something is wrong in the dxf I guess. The path cannto be generated
https://github.com/CityScope/CS_Proxymix/tree/master/ProxymixABM/includes/CUCS/Ground

[2020-07-03 08:08] agrignard opened #89 "Level 1 dxf confusion"
In the current dxf there are 3 offices and 7 class rooms.

@LAAP in one of your slide i saw you put it to 10 class rooms. Why not but please be careful to always update or the corresponding building.dxf so that we all run the same simulation or maybe @nayoub you did a change

<img width="924" alt="Screenshot 2020-07-03 at 10 05 45" src="https://user-images.githubusercontent.com/3928502/86446845-c9

[2020-07-03 08:31] agrignard opened #90 "Research Question for a ready to use tool for reopening space"
Hi everyone, Would be great to have your input to all of you (@ptaillandier , @tnguyenh , @LAAP and @Markus (I don't why I cannot tag you maybe you should contribute at least ones in this repo ;-) )

So we have been doing a great push this last weeks (big thanks to @ptaillandier for the GAMA part and @nayoub for the dxf part). So we now have an ABM model pretty robust but that doesn't really answe

[2020-07-03 22:23] LAAP opened #91 "unknown error"
Hi @agrignard ,

I have found this error:

1 occurence in people13 at cycle 1194: Cannot evaluate entrances as the target agent is nil
in target <- closest_to(target_room.entrances,self);
in target <- closest_to(target_room.entrances,self);
in agent people13

<img width="1433" alt="Captura de pantalla 2020-07-03 a las 18 21 44" src="https://user-images.githubusercontent.com/19315213/86499622-3f9a3

[2020-07-03 22:35] LAAP commented on #90
@agrignard ,

I agree, 1 and 2 are the main goals for the simulation

[2020-07-03 22:36] LAAP commented on #89
@agrignard , I will close this issue. It was a "placeholder image" of one of my cool tests

[2020-07-04 09:33] agrignard commented on #91
Hi @LAAP with which file is this happening? Which level? Is it always happening?

[2020-07-04 09:37] agrignard commented on #89
I think you confuse with another issue, no? This is an issue has the dxf in the github has 3 offices and 7 meetings and you ahd a version with only Offices. So I depends on what we want to keep. But I think you have the dxf in local no?

[2020-07-04 14:44] LAAP commented on #91
mmmmmmm.... No idea.... @agrignard ... I am just running the simulation normally

[2020-07-04 14:45] LAAP commented on #89
@agrignard .... Mmmmm. I didn't add any version as far as I know...

[2020-07-04 16:47] nayoub commented on #89
I didn’t make any changes, it was 3 offices and the rest meeting rooms but we can change it if you prefer wi try only offices?

________________________________
From: LAAP <notifications@github.com>
Sent: Saturday, July 4, 2020 10:45:55 AM
To: CityScope/CS_Proxymix <CS_Proxymix@noreply.github.com>
Cc: Ayoub, Nicolas <nayoub@gsd.harvard.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CityS

[2020-07-06 13:50] pacopaco74 commented on #43
Hey @agrignard ! With @cocsfav we did review the different type of classification (IBC, LBCS, etc) and tried to choose the best one. However it seems to us that, as complete as they are, they might be not very suitable to our goal which is create an adaptative layer system for each building we will put inside the simulation. Indeed, those classifications were often designed with an other purpose i

[2020-07-07 08:36] agrignard commented on #91
Ok I can have it to but not always right?
[code]

However this is just a warning not an error. but we will check what happens here

[2020-07-07 08:37] agrignard commented on #89
What I don't get is that @LAAP you show in an issue a screenshot with 10 offices instead of 3 and 7 Meetings rooms. If it's ok as it is now in the Github we can close this issue (just people don't go in the meeting rooms)

[2020-07-07 10:02] agrignard commented on #88
@ptaillandier, do you think you can have a look here? I don't knwo exactly what's happening

[2020-07-07 10:05] agrignard commented on #77
I close this issue as there is only #88 remaining

[2020-07-07 10:05] #77 closed

[2020-07-07 13:07] LAAP commented on #89
@agrignard , Yes, the number "10" Emerges when you have a physical distance smaller than 2m

[2020-07-07 15:50] #88 closed

[2020-07-07 16:06] #91 closed

[2020-07-08 10:16] agrignard commented on #89
No as you can see on the 2 screenshot I put in the first comment of this issue I was speaking about 10 offices as spaces ( not 10 desk in an office). So it meansat some point you have created this modified dxf but nevrmind let's not create issue if there is no issue there is enough other stiff to do.

[2020-07-08 10:16] #89 closed

[2020-07-08 10:44] agrignard opened #92 "Droplet Integration and "pollution heatmap""
We have been discussing with @tnguyenh to see how we could implement this

<img width="801" alt="Screenshot 2020-07-08 at 12 38 58" src="https://user-images.githubusercontent.com/3928502/86909265-1d1c6f00-c118-11ea-9298-650eaf37faa0.png">

<img width="784" alt="Screenshot 2020-07-08 at 12 40 50" src="https://user-images.githubusercontent.com/3928502/86909387-49d08680-c118-11ea-8bb5-b2b684fcabc7.pn

[2020-07-08 10:45] agrignard commented on #90
See #92 for one way to evaluate the riskness of a specific layout

[2020-07-08 12:04] agrignard commented on #92
Maybe a good idea would be to start from only one room like CityScience like this one
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CityScience/building.dxf

[2020-07-08 14:35] LAAP commented on #92
@agrignard and @tnguyenh, Integrating this knowledge is a very good idea.

I suggest to start with a simpler approach (As similar as possible as the IDSS documentation), and after we can try something a bit more complex.

With that in mind, I think that:

1) A pollution heatmap is a great idea

2) Difusión: I suggest a uniform spreading

3) Ventilation: Sounds like a dream, however some knowledge

[2020-07-09 09:45] agrignard commented on #92
Hi @LAAP all the document comes form the IDSS doc, so the goal is to start with this, nothing more complex as it's already pretty tricky to implement

For the point 4, the reason why I wanted to start with CityScience is simply because it is small, this approach will be very time consuming and doesn't make sense to be build at the building scale as the goal is to evaluate a specific spaces. If you

[2020-07-09 14:15] LAAP commented on #92
@agrignard ,

Yes, this is very easy. The detail typical room at the UdeG will be a classroom. Is that OK? If so, I can put chairs and tables and push it. Please, let me know!

[2020-07-14 18:11] agrignard commented on #92
One more sources that can be helpful

https://www.ashrae.org/File%20Library/About/Position%20Documents/Airborne-Infectious-Diseases.pdf

[2020-07-17 15:38] agrignard commented on #92
Firs version of a basic droplet integration where any agent "emits" a certain amount of droplet

things that can be parametrized so far

- Droplet size distribution
- Droplet lifespan
- Droplet Distance

<img width="1628" alt="Screenshot 2020-07-17 at 17 35 24" src="https://user-images.githubusercontent.com/3928502/87804459-3201ac80-c854-11ea-8427-2c8982385e15.png">

[2020-07-21 08:43] agrignard opened #93 "Windows layer integration"
Following the differnet discussion we have had the last few days, we'd like to see the effect of ventilation and so the effect on windows on the spreading of the droplet for this we need to have a new layer window for the dxfs

@milkmonica , @nayoub , @LAAP and Markus how do we proceed? The idea would be to add to the existing dxfs file a window layer and then we will see with @ptaillandier how to

[2020-07-21 13:43] LAAP commented on #93
Hi @agrignard ,

I think that we should simulate windows as well as "conventional" air conditioning.

It will depend a bit on how the model will work. As far as I can imagine, there are 2 options:

1) The complex one: If we have a good fluiddynamik model, combined with the Gama diffusion model, etc. we can give you the inputs of air (windows, fans, air nozzles, etc.) and the outputs (doors, or oth

[2020-08-02 15:59] LAAP commented on #92
@agrignard , This is looking great! Any progress in the AC ventilation issue?

[2020-08-12 21:29] agrignard opened #95 "CUT Integration"
Well done @gamalielpalomo and @milkmonica , we have the first dxf.

<img width="1128" alt="Screenshot 2020-08-12 at 23 28 14" src="https://user-images.githubusercontent.com/3928502/90070106-9dc02380-dcf3-11ea-825f-cac8afa7f13d.png">

We need now to make it compatible with the simulation here are the layer missing  (I had to change the capital case to small case (something related to autocad (save

[2020-08-13 02:36] gamalielpalomo commented on #95
- Furniture layer is already in the dxf, the name has a typo
- I think we need to add the validation for windows as this building has a lot of them. This is why the result seems empty of walls
- Also, gama it appears in the wrong orientation, the following is a snapshot from autocad
![image](https://user-images.githubusercontent.com/19692636/90088098-d6580100-dce3-11ea-96dd-aff64fd66a87.png)

[2020-08-13 04:06] gamalielpalomo commented on #95
![image](https://user-images.githubusercontent.com/19692636/90092992-1e7d2080-dcf0-11ea-9974-50ed4a372e19.png)
For now this is the pedestrian paths network and the walking area generated with the file in the current state. I dont know exactly how the generator algorithm works, is it a good idea to put windows (color:blue) as walls?

[2020-08-13 10:16] agrignard commented on #95
Window are now taking in account (but not yet in the pedestrain network) but there are still mandatory layer that are missing especilly: Entrance (where peopel arrive in the building, and Offices
<img width="1030" alt="Screenshot 2020-08-13 at 12 14 55" src="https://user-images.githubusercontent.com/3928502/90123165-aa2d9600-dd5e-11ea-8239-cd5bb3be18b3.png">

<img width="520" alt="Screenshot 2020-

[2020-08-13 10:24] agrignard opened #96 "CUT dxf 180 rotation"
Right now the dxf opened in Autocad and in Gama is flipped 180°

@gamalielpalomo and @milkmonica can you make the change?

[2020-08-13 10:31] agrignard opened #97 "Cannot Run DailyRoutine on CUT"
Right now there is not enough layer in the dxf (see #95) so DailyRoutine cannot be run so far producing this error because there is no offices

[code]

[2020-08-13 10:36] agrignard opened #98 "CUT dxf formalization"
Right now in the CUT dxf it seems that we have only one classrooms and one Labs.

What about the other spaces? I would expect to have more Offices and Meetings Rooms.

@milkmonica can you tell us a bit more about what you think on this one?

<img width="1031" alt="Screenshot 2020-08-13 at 12 35 43" src="https://user-images.githubusercontent.com/3928502/90125016-959ecd00-dd61-11ea-9e38-8675aa76aa66

[2020-08-13 14:49] milkmonica commented on #98
Yes, the original idea (following Luis suggestions to make quick drawings) was making strategic decitions about simulate only one type of scenario for each campus (for example: ventilation, access points, etc).

The original idea for C.U.T was to simulate only one classroom and only one lab, but now we think its a better idea to use the complete building to simulate the students  flows.

 Gama and

[2020-08-13 15:18] milkmonica commented on #93
For this simulation, in the .dxf I put a separate layer called "Windows" (although for now is not declared in gama)

I draw these objects as an individuals rectangles (window by window) I also separate the glass from the aluminum profiles (this profiles are in "Wall" layer) ![IMG-20200806-WA0012](https://user-images.githubusercontent.com/7746716/90153155-3b484100-dd4e-11ea-91f0-515886d53000.jpeg)

[2020-08-13 15:22] milkmonica commented on #96
Yes, although I would like to know why the .dfx export makes these changes, especially to prevent this from happening again... and in that case rotate all the centers before uploading them, or download the 2018 version of autocad. (I have 2021)

[2020-08-13 15:25] agrignard commented on #96
I don't think it's the export of Autocad, it's the way GAMA handle dxf file (the Y is down) and in Autocad I guess the Y is up.

So for now, even though it's not very clean but at least we have something running, it shoudl be rotated in Autocad and then save like this.

[2020-08-14 13:32] agrignard opened #100 "CUT Wrong layer name"
@gamaliel and @monica can you change the Entrances layer to Entrance?

[2020-08-14 14:05] gamalielpalomo commented on #97
I have changed localy constants:
offices <- "Classrooms"
entrance <- "Entrances"
Also, in generate_pedestrian_network.gaml changed this:

list<dxf_element> wall <- dxf_element where (each.layer = walls or each.layer = windows);

in line 70.

The result, I can run daily routine, but does not anything yet:
![image](https://user-images.githubusercontent.com/19692636/90257034-3b0e7b00-de0c-11ea-82fb-8

[2020-08-14 15:16] agrignard commented on #97
I am bit afraid to change the Constants (because then it will break all the other model), it would be better to change it directly in the dxf

[2020-08-14 15:18] gamalielpalomo commented on #97
Yeah, me too. Just was to see localy where was the problem. We will change that in the dxf

[2020-08-14 15:19] agrignard commented on #97
How do we proceed for this issue, do we wait for a new dxf?
What do you mean by I can run DailyRoutine but does not anything? is it compiling? is it running?

[2020-08-17 14:29] agrignard commented on #100
@milkmonica , @gamalielpalomo , @LAAP @markus, can you tell me how to edit a layer in Autocad 2019??? in Autocad 2018 i just had to click on the layer and change its name, it seems that autocad 2019 is different nothing happen when I click or right click on the later.

<img width="1789" alt="Screenshot 2020-08-17 at 16 26 52" src="https://user-images.githubusercontent.com/3928502/90407283-a1162f00

[2020-08-18 11:44] agrignard opened #101 "UDG VIDEO CONSOLIDATION"
Here are the 3 different project we have in // so far

Slides from MIT
https://docs.google.com/presentation/d/1VeX73hG5gdjqb4sFJ4QhJKxl6ZvxLeuBkg7hr4c_YbY/edit#slide=id.g35f391192_00
Slides from UdG
https://docs.google.com/presentation/d/1FB-eWkUBE34tVvbnjmbQWSHPb83gRDwl4pF9zTi9flY

Video mixing differnt sources
https://drive.google.com/file/d/1Y4kLsxDhHESXGF4IjA5t2P-s7ck-25rS/view?usp=sharing

It

[2020-08-18 12:25] MarkusElKatsha commented on #100
There are a few ways to change the layer name. If you are looking to change the layer name for ALL lines on that layer, then you change the GLOBAL layer name in the upper right zone of the LAYER Dialogue box.

If you are looking to change the layer of a specific line, or group of lines, then you use the LAYER PROPERTY dialog box in the lower right panel under the LAYER tab.

Select the line(s) you

[2020-08-18 12:57] agrignard commented on #100
Yes this is what I am saying but I have no way to edit the global layer in the upper right. Is there anyone that can have a look to see if it comes from my autocad 2019 or from the file it self?

[2020-08-18 13:15] agrignard commented on #100
<img width="1207" alt="Screenshot 2020-08-18 at 15 14 44" src="https://user-images.githubusercontent.com/3928502/90517373-99698f80-e165-11ea-9746-84556f7235b5.png">
 This is what I get now...

[2020-08-18 13:17] MarkusElKatsha commented on #100
can we look at this right after our meeting? You have an active command open. Lets do this though zoom

[2020-08-18 13:17] agrignard commented on #100
Can you see if it works on yours???

https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CUT/building.dxf

[2020-08-18 13:22] MarkusElKatsha commented on #100
Where is the file stored?

[2020-08-18 13:23] agrignard commented on #100
Here!https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/CUT/building.dxf

[2020-08-18 14:05] #100 closed

[2020-08-18 14:07] agrignard commented on #98
There is still no Offices in this dxf... so the model cannot run as it is implemented.

[2020-08-18 14:36] agrignard commented on #97
@gamalielpalomo and @milkmonica do you manage to move forward on this issue?

[2020-08-18 15:50] LAAP commented on #101
Hi everyone,

I have "re-made" the draft video trying to merge the 3 sources that Arnaud
is pointing out. I also Agree with Markus approach,

*"We have to be clear about what the hight level message is - especially
vis-a-vis behaviors*

*To me these behaviors include:*

*% Wearing Masks*
*% Maintaining Physical Distances*
*% Getting checked (IE Understanding the % of the population that is
asympto

[2020-08-18 17:58] LAAP commented on #101
Hi @agrignard

I think that we should have the ABM for the 6 videos where we can see:

**1) Use of masks scene Classroom (Natural ventilation):** [UdeG wants to have this simulation made in CUCS. We already have the dxf] The Infection sprawl when people are not wearing masks vs wearing masks in the Classroom. (Can we have in gama people shifting from with to red like in the Analogics model? That w

[2020-08-19 05:13] gamalielpalomo commented on #97
This issue is solved, we can run daily routine correctly as CUT dxf is now working well.

[2020-08-19 05:13] #97 closed

[2020-08-19 05:15] gamalielpalomo commented on #98
We really needed to do a little trick with the problem with offices. We have put classrooms as offices (though really they are not offices) for the model to run with the dxf.

[2020-08-19 05:15] #98 closed

[2020-08-19 05:16] gamalielpalomo commented on #96
Issue solved with new PR.

[2020-08-19 05:16] #96 closed

[2020-08-19 05:16] #95 closed

[2020-08-19 10:36] agrignard commented on #97
Great!! Congrats it's working now!!

[2020-08-19 10:38] agrignard opened #103 "Integrate classrooms layer"
Right now people goes either to Offices or to Meeting Rooms , we need to add the Classrooms and the lab ayer also

[2020-08-19 10:38] agrignard commented on #98
Now that the dxf works well we can  think about adding the classrooms with the same behavior as the office. I have created a dedicated issue #103

[2020-08-19 10:39] agrignard commented on #95
Awesome!!

[2020-08-19 11:35] agrignard commented on #101
OK @LAAP  great! it seems that we have the 5 scenarios

I will  do specific issue for each of them.

Just some question/comment for each point:
1) Use of masks scene Classroom (Natural ventilation):=>CUCS Ok sounds doable. what do you mean by "Can we have in gama people shifting from with to red like in the Analogics model?"?

2) Use of masks scene Lab (air conditioning - AC): => should be ok in C

[2020-08-19 13:35] LAAP commented on #101
Hi @agrignard,

Awesome! I feel like we are in a good track. Let me try to answer your questions:

_1. Use of masks scene Classroom (Natural ventilation):=>CUCS Ok sounds doable. what do you mean by "Can we have in gama people shifting from with to red like in the Analogics model?"?_

I know that our simulation is very realistic, so infected people will "emerge" after 14 days = X0000K cycles... I

[2020-08-21 23:21] agrignard opened #105 "Cannot run UDG/CUAAD"
3 occurrences in 3 agents at cycle 0: Java error: nil value detected
in closest_path <- paths with_min_of distance_to(each.free_space,location);
NullPointerException: null
when applying the distance_to operator on nil and {19.609053066740447,7.304609674349487,0.0}
in closest_path <- paths with_min_of distance_to(each.free_space,location);
in else  {
	closest_path <- paths with_min_of distance_to(e

[2020-08-24 08:42] agrignard commented on #105
Fixed with the last PR

[2020-08-24 08:42] #105 closed

[2020-08-24 10:31] agrignard opened #107 "Episode 1: Masks in Classroom with Natural Ventilation (CUCS)"
Site: **UDG/CUCS/Level 2**
**2 sub episode**: No Mask (big sprawl) and mask (lower sprawl)

Density Scenario: people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)
Mask: **0 to 0.5** (or other value as you wish)

Code to run (and edit) in ````StoryTelling.gaml`````

[code]

This is how it look so far
<img width="1305" alt="Screenshot 2020-08-24

[2020-08-24 10:37] agrignard opened #108 "Episode 2: Use of masks scene Lab - air conditioning - (CUT Lab)"
Site: **UDG/CUT** (lab) howeber we have also room 104? What do we do with this?
1 Episode showing how the virus spread here.

Density Scenario: people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

Code to run (and edit) in ````StoryTelling.gaml`````

[code]

This is how it look so far
<img width="850" alt="Screenshot 2020-08-24 at 12 35 15" s

[2020-08-24 10:41] agrignard opened #109 "Episode 3: Sanitation points and social distancing - air conditioning (CUAAD)"
Site: **UDG/CUAAD**
**2 sub episode**: Difference between people keeping social distancing and using the sanitation points and cleaning the droplets or not.

Density Scenario: people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

Code to run (and edit) in **StoryTelling.gaml**

[code]

This is how it look so far
<img width="615" alt="Screensho

[2020-08-24 10:50] agrignard opened #110 "Episode 4: Use of common areas (natural ventilation or AC) Lines and masks in common areas - (CUCEA)"
Site: **UDG/CUCEA** WE DON'T HAVE IT SO FAR

**Episode**: Same than Classroom and Lab, but with a line waiting and a bigger room (library or Restaurant/cafeteria).

Density Scenario: people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

Code to run (and edit) in ````StoryTelling.gaml`````

[code]

CANNOT DISPLAY IMAGE AS WE DON'T HAVE THE SITE

[2020-08-24 10:53] agrignard opened #111 "Episode 5: Social distance, masks and dedicated Paths in an open space - (CUSUR)"
Site: **UDG/CUSUR** **WE DON'T HAVE IT SO FAR**
**Episode**: How people can get infected in the open space without following the rules vs following the rules.

Density Scenario: people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

Code to run (and edit) in **StoryTelling.gaml**

[code]

This is how it look so far
**WE CANNOT SHOW ANYTHING SO

[2020-08-24 10:55] agrignard commented on #101
See #107, #108, #109, #110, #111

[2020-08-24 10:55] #101 closed

[2020-08-24 10:59] agrignard opened #112 "CUCEA DXF"
@gamalielpalomo and @milkmonica the CUCEA DXF is not produced yet for the Episode 4 see #110

[2020-08-24 11:00] agrignard opened #113 "CUSUR dxf production"
@gamalielpalomo and @milkmonica we need to dxf to run Episode 5 see #111

[2020-08-24 11:30] LAAP commented on #107
Hi @agrignard , some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl) and
_COVID19_ = mask (lower sprawl)

Density Scenarios:

_Pre-COVID19_ = 30 students per room
_COVID19_ = people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

The rest as you have it below.

[2020-08-24 11:31] LAAP commented on #107
Hi @agrignard , some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl) and
_COVID19_ = mask (lower sprawl)

Density Scenarios:

_Pre-COVID19_ = 30 students per room
_COVID19_ = people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

The rest as you have it below

[2020-08-24 11:34] LAAP commented on #108
Hi @agrignard

No idea about which room is best. @gamalielpalomo , @milkmonica , any answer?

In the other side some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl) and
_COVID19_ = mask (lower sprawl)

Density Scenarios:

_Pre-COVID19_ = 10 students per Lab
_COVID19_ = people are place with a distance of **2 meter** (if we have the real desk that could be possible t

[2020-08-24 11:37] LAAP commented on #110
Hi @agrignard , some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl) no line, and
_COVID19_ = mask (lower sprawl) and line

Density Scenarios:

_Pre-COVID19_ = as many people as we can fit keeping no distance
_COVID19_ = people are place with a distance of **2 meter** (if we have the real desk that could be possible to run it)

The rest as you have it above

[2020-08-24 11:40] LAAP commented on #109
Hi @agrignard , some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl) not following distancing and hygienic rules, and
_COVID19_ = mask (lower sprawl) and following the rules

Density Scenarios:

_Pre-COVID19_ = @gamalielpalomo and @milkmonica , how many people uses this floor in a normal day?
_COVID19_ = people are place with a distance of **2 meter**, etc

The rest

[2020-08-24 11:43] LAAP commented on #111
Hi @agrignard , some small clarifications:

**2 sub episode:**

_Pre-COVID19_ = No Mask (big sprawl), no line, no distance, no control points, no hygienic measures, and
_COVID19_ = mask (lower sprawl) and following all the rules

Density Scenarios:

_Pre-COVID19_ = @gamalielpalomo and @milkmonica , how many people uses the campus in a normal day pre-COVID crisis?
_COVID19_ = people following the r

[2020-08-24 12:58] agrignard commented on #108
You have 4 sub episode here? Or is it a mistake form a copy/paste?

[2020-08-24 14:11] LAAP commented on #108
@agrignard ,
There are 2 sub-episoids,  but we always show 2 things per episoid: the use **NO use of masks** with **pre COVID density** and, the **Use of Masks** with a new **COVID density**. Does it makes sense?

[2020-08-24 14:39] LAAP commented on #108
In all the episodes we show "pre-COVID" Scenario, no masks, no nothing VS "COVID" scenario, Masks, low density, ventilation, distancing, etc. So, we show with and without masks in all the episodes.

Yes, in the "COVID" scenario, everyone (or at least 90% of people) will be wearing masks, so infection do not spreads

[2020-08-24 16:27] agrignard opened #114 "Legend for the video"
@LAAP and Markus please give me your feedback about what we want to display and how.

here is the current version of the text layout. Please tell me what to add or remove

<img width="1792" alt="Screenshot 2020-08-24 at 18 22 58" src="https://user-images.githubusercontent.com/3928502/91070727-72b0ca80-e637-11ea-8002-579b93ca17fd.png">

[2020-08-25 10:49] LAAP commented on #114
Hi @agrignard ,

M wishes list is:

**SITE** = OK

**CHARACTERISTICS** = some typos and clarifications:

- **Fiscal** distance [the "Fisical" is important]
- Surface [of what? Tables, floor...? If is floor, then it shouldn't be "surface", we should say "area", ]

**PARAMETERS** = Explain a bit:

- Mask ratio: 1.0 [can we add a %? As an example 1.0 = 100%]

**PROJECTION** = Explain a bit more the m

[2020-08-25 11:58] agrignard commented on #114
OK  I will implement this and let you know how it look.

[2020-08-25 13:56] agrignard commented on #114
Version fo today taking some of @LAAP input
<img width="1616" alt="Screenshot 2020-08-25 at 15 52 35" src="https://user-images.githubusercontent.com/3928502/91182919-1a3b0500-e6eb-11ea-8857-3a1555c9bbe6.png">

Still to be done but I need more info

_Shifts = Pre-CoVID : 1 shift 3h, vs CoVID: 3 shifts of 45min => I need those value for each Episode
Real time Cake: with low risk vs high risk % => We

[2020-08-25 14:08] agrignard commented on #112
A first version fot eh dxf has been pushed here https://github.com/CityScope/CS_Proxymix/pull/115  but there is still a problem to generate the pedestrian network.

By looking at the error , it clearly seems that there are some shapes in the AUTOCAD that are wrong and that cannot be traingulated by GAMA. IS tehre an Autocad expert that can check the validity of each shape of this dxf?

[code]

[2020-08-25 14:14] agrignard commented on #112
Maybe @ptaillandier can also (if he has time) have a look at this one

[2020-08-25 14:23] agrignard commented on #93
Not specific enough . I close this isse

[2020-08-25 14:23] #93 closed

[2020-08-25 14:24] agrignard commented on #90
Outdated

[2020-08-25 14:24] #90 closed

[2020-08-25 14:26] #83 closed

[2020-08-25 14:29] agrignard commented on #43
Thank you @pacopaco74 and @cocsfav for your precious input on this. I close this issue for now as the project is currently really focus on Covid in Guadalajara. But all this inout are anyway stored and will be reuse later

[2020-08-25 14:29] #43 closed

[2020-08-25 14:29] agrignard commented on #37
Outdated

[2020-08-25 14:29] #37 closed

[2020-08-25 14:33] agrignard commented on #62
@ptaillandier thank you for the great work for the integration of COMOKIT that has been done so far. I think we have a good first step  proof of concept of anyone is interesting in pushing this forward. As right now we have decide not to use this tool as a prediction tool but as an educational one and regarding the time constrain and the small amount of people working on this project we have decid

[2020-08-25 14:33] #62 closed

[2020-08-25 14:33] agrignard commented on #73
Not specific enough

[2020-08-25 14:34] agrignard commented on #85
The first proposition made by @ptaillandier is a good proof of concept for now. I close this issue if anyoen is interesting in pushing it forward please feel free to reopen it.

[2020-08-25 14:34] #85 closed

[2020-08-25 14:36] agrignard commented on #92
The first version taht we have now is a good proof of concept. I close this issue for now, if anyone has idea to make the droplet more realistic please feel free to reopen this issue

[2020-08-26 11:42] LAAP commented on #114
Hi @agrignard ,

This is great! Thanks!

---
**Suggestions:**

**1) Low Risk Vs high Risk** = Can we have a "gradient"? Having a 2nd level of "Medium risk" in orange color?

**2) Access to building** = Now is red color, can we change it into blueish color? something like rgb(0, 169, 217)?

----
**My answer:**

_- Shifts = Pre-CoVID : 1 shift 3h, vs CoVID: 3 shifts of 45min => I need those value fo

[2020-08-26 12:14] agrignard commented on #112
Thank you @ptaillandier !! However it seems that the dxf is a bit too complex, if uyou have identify the object that seems suspucious maybe you can explain it here and see if @gamalielpalomo and @milkmonica can fix it?

[2020-08-26 12:16] gamalielpalomo commented on #112
We made a PR with dxf working. Can you check it @agrignard ?

[2020-08-26 12:23] agrignard commented on #112
Ok it's workign now. good job! One more to go #113

[2020-08-26 12:23] #112 closed

[2020-08-26 12:23] agrignard commented on #110
OK thanks to #112 it is now working this is what we have so far

<img width="1051" alt="Screenshot 2020-08-26 at 14 22 41" src="https://user-images.githubusercontent.com/3928502/91303072-c2160880-e7a7-11ea-864a-5a2d1ddf1286.png">

[2020-08-26 12:25] gamalielpalomo commented on #112
Ok. When you run daily routine, can you see the agents? When I did it, it seems to work fine but agents are not visualized

[2020-08-26 12:32] agrignard opened #117 "Have a way to define the time spent in a room"
Right now the time people spend in a room is kind of hardcoded (actually I don't remember exactly how and where? are we using the activity?)

It would be great if we can use a parameter for that. Rigth now there is this variable ````timeSpent```` which is used only in the display, if it can be used in the model that would be great

[2020-08-26 12:35] agrignard opened #118 "Have a pie that represents the number of high risk people vs low risk"
(It could be cool to have a dynamic visual way to show it. The Pie can show, in real time, just with colors, how "High risk infected people are growing depending on how people follow the rules or not. The Pie could have the green (low), orange/yellow (medium), and red (high) colors, changing in parallel with the numbers: Visual inputs are usually easier to understand than numbers by students and c

[2020-08-26 12:37] agrignard opened #119 "Have real time fever chart in the simuation"
We already have it as a separeted window, but it doesn't look very graphics... let's sse if we can embed it in the simualtion  it self (shoudl be doable)

[2020-08-26 12:38] agrignard opened #120 "Identify the high risk area"
(I think that it is easier to measure by time spent in a room by an infected person vs air renovations (ventilation)) Since the simulation probably doesn't have yet the ventilation level, etc. Maybe is number of cases per m2 of room

[2020-08-26 12:39] agrignard commented on #114
1) Low Risk Vs high Risk = Can we have a "gradient"? Having a 2nd level of "Medium risk" in orange color?
=> hard to do as people are either S or I (there is no real intermediate states)

2) Access to building = Now is red color, can we change it into blueish color? something like rgb(0, 169, 217)?
done

<img width="902" alt="Screenshot 2020-08-26 at 14 27 30" src="https://user-images.githubuserco

[2020-08-26 12:41] agrignard commented on #112
Yes agent are not visualize because they are not speicy in the DailyRoutine model but only in the CityScope Coronizer showing the ViralPeople (red of green)

[2020-08-26 15:04] LAAP commented on #73
Hi @agrignard ,

I am reopening this issue. I think time in the room is important. I think that, if we can't calculate the time from the simulation, at least we should follow the IDSS graph below.

Seems to me that, **if we follow the 0.003 curve** (and if we integrated in the simulation), we will be in the side of safety: in this curve, **30 people** in a room with masks and keeping social distan

[2020-08-26 15:09] LAAP commented on #92
@agrignard ,

Some important questions before you closes this issue, I think there is a huge potential here, but we are not using it at all:

- Can we infer the areas of the building with high risk, from the amount of droplets accumulated in a m2?
- Can be reduce the droplets by assuming people following the rules of wearing masks, sanitation points, cleaning surfaces etc?
- Are agents getting "po

[2020-08-26 15:12] LAAP commented on #117
Hi @agrignard ,

As I have commented in a reopened issue,  I think time in the room is important. I think that, if we can't calculate the time from the simulation, at least we should follow the IDSS graph below.

Seems to me that, **if we follow the 0.003 curve** (and if we integrated in the simulation), we will be in the side of safety: in this curve, **30 people** in a room with masks and keepin

[2020-08-26 15:12] LAAP commented on #118
Awesome @agrignard !

[2020-08-26 15:14] LAAP commented on #119
Ok @agrignard , I think aesthetics are important, it could be cool to have @markus involved on this design issue, if not, I will try to put some time on it

[2020-08-26 15:17] LAAP commented on #120
@agrignard ,

As mentioned in the droplets issue, we can also use the amount of droplets from that part of the model

[2020-08-26 15:26] markus commented on #119
@LAAP, you mentioned my github username, but I suppose you mean someone else.

[2020-08-26 16:26] LAAP commented on #119
@markus, Sorry about that it is another "markus" from the CS group... @agrignard , what is "Markus-CS" Github user name?

[2020-08-26 16:30] LAAP commented on #114
Hi @agrignard,

My answer:

- Low Risk Vs high Risk = Can we have a "gradient"? Having a 2nd level of "Medium risk" in orange color?
=> hard to do as people are either S or I (there is no real intermediate states)

How and when people shift from "S" to "I" ? I am sure that there is a "process of agents contamination", actually, in the real world you get infected when your "viral load" gets high. C

[2020-08-26 17:11] agrignard commented on #119
Shoudl something like @MarkusElKatsha but as often with Markus for a certain reason you cannot tag him automatically with @... I think this is because he never contributed (by doign a commit) to this github. I am keeping asking him to contribute but it never happened yet...

[2020-08-26 17:18] agrignard commented on #109
We wil need to add the sanitation point in this dxf if we want to have people going there. @LAAP , @gamalielpalomo , @milkmonica  is is somethign doable for you?

[2020-08-26 17:22] agrignard commented on #110
We need to have the layer for common area (e.g Libray, cafeterie, etc) in the dxf if we want to implement this episode .

@LAAP , @gamalielpalomo , @milkmonica doable?

[2020-08-26 17:26] agrignard opened #121 "THE CURRENT FATHER CHRISTMAS LIST"
A big thanks to @ptaillandier that is back from vacation and is willign to help us on the final lap.

I have been discussing with him and he will implement a way to define specific scenario for each episode, instead of having always the same model which is now a DailyRoutine where people enter, go to work, go to lunch, go back to work etc.

As in most of the Episode we just want to show how peopel

[2020-08-26 17:30] agrignard commented on #73
See #117

[2020-08-26 17:30] #73 closed

[2020-08-26 17:32] agrignard commented on #120
For now the amount of dropet is acutally directly proportional to the number of people so I am not sure it add anything but let's see

[2020-08-26 17:58] agrignard opened #122 "Cannot run model anymore"
It seems that the Agenda modification ahs ntriduce some strange behavior. In my case the simualtion stop fater 300ish iteration

@ptaillandier any idea?

[2020-08-26 18:53] LAAP commented on #119
Hahahah! I see, I will make a "Github workshop" to Markus (@MarkusElKatsha ) so he can contribute to Github

[2020-08-26 18:58] LAAP commented on #109
Hi @agrignard ,  @gamalielpalomo, and @milkmonica,

I think that this is a great idea. We should have sanitation points in:
- Toilets
- Access to buildings and Campus
- In front of elevators and/or stairs

And good to have:
- In the access to each classroom, labs, and indoor spaces in general

 @gamalielpalomo , @milkmonica,
I think we could make a new layer in the dxf, where the sanitation points

[2020-08-26 19:01] LAAP commented on #110
@agrignard,  @gamalielpalomo and @milkmonica,

Maybe it is more about using this entire floor plan, but identifying (with a label or a different color and a legend) where is the common space, so we can see the general behaviour in and out of the common space. I think that it is the Triangular one, isn't it?:

<img width="430" alt="Captura de pantalla 2020-08-26 a las 15 00 32" src="https://user-im

[2020-08-26 19:49] LAAP commented on #121
Hi @ptaillandier ,

Thank you so much for your help! Let me add some info to @agrignard scenarios and ideas:

The goal of the simulation is to show how if we behave as the old "Normal", we will be potentially infected, so we need to follow the rules in order to reduce the potential level of infection.

**A) Scenarios:**
Keeping this in mind, in **each episode** we want to show 2 simulations/scenar

[2020-08-26 19:55] LAAP commented on #120
@agrignard , Yes, of course, but  please, use the imagination:

Droplets are cumulative and stays in a space, even when people are moving, so it can be accumulated in indoor rooms, tables, crosspaths, etc, so if they are not cleaned up, that areas became "high-infection areas"

Also, if a person stays long in a place (desk for instance), that desk will accumulate a lot of droplets, so, if it is no

[2020-08-26 20:03] milkmonica commented on #110
Ok, I'm going to make the changes with the dxf. But I have a question: do I only identify these spaces in a generic way as "common space"? I mean regardless of whether it is a library or an auditorium ... or in any case if I put each one in reality is: "library", "terrace", "auditorium", etc.
In fact, I tell you that in this .DFX (and this is also how Gama and I solved the CUT problem) the areas w

[2020-08-26 20:28] milkmonica commented on #110
I can't do the pull request, but I don't want to stop you. I made the changes and shared the drive folder where the file (https://drive.google.com/drive/u/1/folders/1qDCtFPs7N90VdfIRoTMJn-NXnz14XY2m) is. As soon as Gama is available we upload it to GIthub

[2020-08-27 06:52] agrignard commented on #110
Hi @milkmonica you have the same permission of @gamalielpalomo in the github so you should be able to PR, let me know if there is any problem. I think this dxf file is the one that @gamalielpalomo PRed here https://github.com/CityScope/CS_Proxymix/pull/123 right?

[2020-08-27 12:25] #122 closed

[2020-08-27 13:05] ptaillandier commented on #121
Very interesting, but that's a lot to do :)

In terms of works, what's the priority. I mean are there any simulations that you need to run in priority (to start producing videos, graphics or whatever you want).

By simulation, I mean here :
- a dxf
- behavior for agents (agenda, type of behavior in relation to the Covid, etc.)
- possibly a rule for the placement of workstations.

[2020-08-27 13:13] agrignard commented on #121
Hi @ptaillandier thank you for your input and of course I totally agree with you that it's a tremendous whishlist especially with the few amount of people working on it on the time we have . So no pressure for you especially as you are an external voluntary collaborator. This is the Christmas list from @LAAP  and it might be completed actually for Christmas ;-)

More seriously, as discussed with t

[2020-08-27 13:18] agrignard opened #124 "Continous risk infection"
Right now, as we agreed since a long time top use an SIR model, the infection is in a binary mode you have a certian probability to be infected and ones your are infected you are infected. However some new requirement seems to prefer to have somehow something more "continous" to illustrate the risk of infection.

Woudl it be possible (maybe with keeping the SIR strucutre) to add a risk of infectio

[2020-08-27 13:22] agrignard opened #125 "Prepare 2 scenario by default per Episode"
According to issue #121 and the new @LAAP christmas list it's now clear that we want for every Episode a scenario A and a scenario B.

We need to create the structure in each experiment to have 2 simualtion running in parallel.

I will take care of writing it in the Storytelling.

Scenario-1. People behaving in a pre-COVID way, but in a era of pandemics: so a lot of people gets "potentially infect

[2020-08-27 13:40] agrignard opened #126 "Produce the desk layout for each dxf"
@gamalielpalomo, @milkmonica , @LAAP or any AUTOCAD expert we need to have the desk layout for the classrooms in most of the Episode.

Right now there is no layout and people are just equally place in the room, it will looks much more realistic with desks...

Is it something doable?

[2020-08-27 13:53] agrignard commented on #125
The skeleton is here with the follwogin syntax (that could be better, @ptaillandier maybe you have an idea?)

[code]

We need now to give the right parameters for each Episode/Scenario and see how to take in account of thos e parameters in the simu

[2020-08-27 13:55] agrignard opened #127 "Having a boolean for people entering in line or not"
Would it be possible to have a parameter to trigger if the people wait in line or not before to enter. They would basically not enter in line  in a precovid world and wait in line with the specified distance between people (it might make a biiiiiiiiig line) in the post covid.

We did that for the project in the Champs Elysées but we needed to draw by hand the line, is there a way to do it without

[2020-08-27 14:03] agrignard opened #128 "Possibility to have a shift of scenario to show the cleaning room strategies"
Right now when a simu representing a scenario (A or B) of an Episode (1,2,3,4, or 5) the simualtion ends.

It could be good to be able to loop on it to represent the shift. It will be very similar to repeat the simualtion but we could have a scenario where we simply loop without cleaning then shit2 arrived in a dirtier place than shit1, etc etc.

This would show the benefit of cleaning the room

[2020-08-27 14:07] agrignard commented on #121
@LAAP two things are not clear for me and different from waht we agree in this episode

_Scenario-1. People enter form the Entrance, go to Classrooms (and to all the indoor spaces of the building: The zoom can be in a classroom level, but if we have the dxf of the entire building, it will be cooler if we show the behaviour in the entire building) and they follow steps 1 to 4, defined below: stay f

[2020-08-27 14:12] agrignard commented on #109
Hi everyone, it's getting pretty urgent to have the sanitation point at least in this dxf if we want to implement the behavior requested in #121

[2020-08-27 14:15] agrignard opened #129 "Sanitation point behavior"
In Episode 3 (see #109) we want to show the sanitation effect.

First we need to have the Sanitation (THIS IS PRETTY URGENT FOR WHOEVER SEE THIS MESSAGE) and then we need to implement the behavior of people that could be something like:

1. A certain amount of peopel goes to Saniation point before to go to the classroms
2. A ceratin amount (that will be defined as a parameter) of people goes to sa

[2020-08-27 14:19] agrignard opened #130 "Common Area behavior"
For Episode 4 (#110) we want to show what happens in common area. For that we need

1. To take in account the common area in the simulation and to consider this area a bit differently in this type of area:

- Some people stay at there desk
- Some peopel wander around
- Some people goes from desk to desk

[2020-08-27 14:28] agrignard opened #131 "Sanitation point in CUAAD"
@gamalielpalomo , @milkmonica , @LAAP this is getting pretty urgent and is blocking @ptaillandier do implement #129

Can you please put at least one sanitation point in the dxf?

[2020-08-27 14:30] agrignard commented on #121
Ok so this crazy christmas list issue has made some baby which are so far

#124 => Gama people
#125 => Gama people almost done
#126 => AutoCad people
#127 => Gama people
#128 => Gama people
#129 => Gama peopel but we need
#130 => Gama people but cannot be done until #131 is done
#131 => Autocad people

And of course still

#107, #108, #109, #110, and #111 are the one we want to close at the end

[2020-08-27 14:41] LAAP commented on #121
Dear @ptaillandier ,

Thank you very much for all the help and support that you are providing to us. You are fantastic!!!

Hi @agrignard ,

Thanks for your questions about Episode-1. I think that we need to be "creative and strategic" here, and depends on how far is the simulation ready for showing the different behaviours.

With that in mind, we have two "zoom/scale" options:

**A) Closer scale/z

[2020-08-27 14:51] agrignard commented on #121
I see all the desk on this screenshot, is it an Autocad or a pdf? couldn't it be used for #126????

[2020-08-27 14:56] LAAP commented on #121
@agrignard ,

Answering also your questions more specifically:

I think you have been in the same meetings than me, and that you know that we are trying to show a "realistic behaviour of the people". **The goal is to show that, if people keeps their normal daily routine will get potentially infected, so they have to follow CDC rules**. That is the reason why we asked about the "normal" behaviour o

[2020-08-27 14:59] LAAP commented on #121
Hi @agrignard ,

We have a cad file, dxf and pdf file of module "o" with furniture in the google drive, since June 29th:

https://drive.google.com/drive/folders/1_HmN7un2iLySR-rxhJkjCJfKAkwfNsAr?usp=sharing

[2020-08-27 15:02] LAAP commented on #126
Dear all; @agrignard , @gamalielpalomo, and @milkmonica

We have a CAD, dxf and pdf file with fourniture in the Google Drive since June 29th:

https://drive.google.com/drive/folders/1_HmN7un2iLySR-rxhJkjCJfKAkwfNsAr?usp=sharing****

Example:

https://drive.google.com/file/d/1DhE4Pok-k5iJ9XM43zB2bjOpMSxd05Ae/view?usp=sharing

<img width="1429" alt="Captura de pantalla 2020-08-27 a las 10 57 42" src

[2020-08-27 16:32] LAAP commented on #128
@agrignard ,

This sounds fantastic to me! A loop can help to understand shifts. If we can show also how "dangerous" is to stay in a room more than 45 min due the accumulation of viruses, that could be fantastic

[2020-08-27 16:35] LAAP commented on #127
@agrignard ,

What about an "offset when waiting", so agents waiting in line, "park" a few pixels away, from the existing "path line already draw in the dxf file "?

[2020-08-27 16:37] LAAP commented on #124
@agrignard ,

This could be awesome!

[2020-08-27 16:43] agrignard commented on #127
@ptaillandier is working on it, let's see what he will produce ;-) We discussed abotu having a parameters defining the time between two people entering in the building (1sec between 2 entrance, 2sec , etc) but he needs to generate programmaticaly the line that doesn't exist on the dxf (it's normal it's not part of the building plan)

[2020-08-27 16:47] agrignard commented on #126
So for the first Episode CUT it would be great to have it (I guess it's only a kind of copy paste from originla file to the current building.dxf.

You can have a look at the one in the file ProxymixABM/CityScience/building.dxf the name of the layer should be **"Furniture"** with a capital F and no s

[2020-08-28 08:30] #125 closed

[2020-08-28 15:24] LAAP commented on #126
@agrignard ,

Yes, that should be a work of few minutes. @gamalielpalomo and @milkmonica , Do you have this under control? Please, let me know!

[2020-08-28 15:25] LAAP commented on #131
@gamalielpalomo , @milkmonica ,

Please, can you confirm that this is under control?

[2020-08-28 15:26] LAAP commented on #129
@gamalielpalomo , @milkmonica ,

Please, can you confirm that this is under control?

[2020-08-28 15:27] LAAP commented on #130
Dear @agrignard ,

This sounds great! Thanks!

[2020-08-28 15:28] LAAP commented on #109
Hi @gamalielpalomo , @milkmonica ,

Please, can you confirm that this is under control? Please, let me know!

[2020-08-28 16:52] agrignard commented on #113
Working!

[2020-08-28 16:53] agrignard commented on #111
First version of this episode

<img width="1497" alt="Screenshot 2020-08-28 at 18 52 31" src="https://user-images.githubusercontent.com/3928502/91593027-bcfbb980-e95f-11ea-9079-8d84e49d749a.png">

[2020-08-28 17:13] agrignard commented on #113
According to a discussion on whatsapp with @milkmonica it's not finished yet. so I reopen this issue

[2020-08-28 19:05] gamalielpalomo commented on #126
Hi @agrignard, @LAAP,
Furniture layer is in all the dxfs, in the case of CUT/Lab they are work tables at the center of the room.

[2020-08-28 19:06] gamalielpalomo commented on #131
Please see #133, adds sanitation points for CUAAD.

[2020-08-28 19:31] agrignard commented on #126
Ok great peopel are now going to the real desk

<img width="741" alt="Screenshot 2020-08-28 at 21 31 03" src="https://user-images.githubusercontent.com/3928502/91608424-d445a180-e975-11ea-891d-a5f9068ea34f.png">

There is still a kind of weird shape for the room (the gray polygon) is there a way to modify it so it has the real shape of the building?

[2020-08-28 19:38] agrignard commented on #131
OK great
<img width="1096" alt="Screenshot 2020-08-28 at 21 37 11" src="https://user-images.githubusercontent.com/3928502/91608922-b9bff800-e976-11ea-8dfa-fe3bf32d5d51.png">
I can see the Sanitation point (in purple here) in the dxf loader, we now need to  implement #129.

[2020-08-28 19:38] #131 closed

[2020-08-28 19:41] agrignard commented on #126
Can we have it also for CUCS as mention by @LAAP ?

[2020-08-28 19:44] agrignard opened #134 "CUT dxf choice"
Right now we have 3 sites for CUT
labs, room104 and the whole campus.

So far the Episode 3 #108 is for the mab, do we want ot keep it for the lab? What do we do for room 104 and the hole campus?

[2020-08-29 10:13] LAAP commented on #134
Hi @agrignard ,

I think that the correlation of episodes and Buildings (dxf files) was clear since long time ago.

The real correlation was:

- **Episode 1: CLASSROOM** = **CUCS** = Masks in Classroom with - Natural Ventilation -

- **Episode 2: LAB** = **CUT** (Lab) = Use of masks scene Lab - air conditioning -

- **Episode 3: OFFICE** = **CUAAD** = Sanitation points and social distancing - air

[2020-08-29 10:16] LAAP commented on #131
Awesome!

[2020-08-29 12:25] agrignard commented on #134
Yes I agree but I see 3 different sites for CUT so I had a doubt. Let s see if we use the extra one but we already have more than enough with what we have

[2020-08-31 12:56] #134 closed

[2020-08-31 14:36] agrignard opened #135 "Cannot run Episode 1 with simple scenario"
Run Episode 1 (with string agenda_scenario <- "simple" among: ["simple", "custom", "classic day"];)

I haev an exception after few iteration (185 cycles)

2 occurrences in 2 agents at cycle 185: Java error: nil value detected
in
NullPointerException: null
in agents people11, Simulation 1

[2020-08-31 16:41] agrignard opened #136 "problem with UDG/CUT/level2"
There has been a mistake between meeting rooms and offices it's actually the opposite....

[2020-08-31 18:06] agrignard opened #137 "Cannot run CUCS/Lab"
It seems that the queing is producing some side effects on other site (it shoudl if queuing s set to false) with "UDG/CUCS_Campus"

[code]

[2020-08-31 18:07] agrignard commented on #136
Thank you markus (needed to invert meeting rooms and offices...)

[2020-08-31 18:07] #136 closed

[2020-08-31 18:07] #135 closed

[2020-08-31 18:28] agrignard opened #138 "Cannot run Episode 2"
Again the queuing effect has been pretty brutal...

[code]

[2020-08-31 19:40] agrignard opened #139 "Desk layout for CUCEA"
It seems that there are too many desk for CUCEA no? @milkmonica can you confirm this?

<img width="855" alt="Screenshot 2020-08-31 at 21 36 52" src="https://user-images.githubusercontent.com/3928502/91759766-82e61e00-ebd2-11ea-9187-c244f34a64f5.png">

[2020-08-31 19:41] agrignard commented on #137
just for infrmation this is not a pre defined Episode but it could be useful to run it on this site also

[2020-08-31 19:43] agrignard commented on #139
is it possible that the chair is made two object? so 2 desks in GAMA?
<img width="266" alt="Screenshot 2020-08-31 at 21 42 37" src="https://user-images.githubusercontent.com/3928502/91760054-f6882b00-ebd2-11ea-9e35-01b479431d75.png">

[2020-08-31 19:49] agrignard commented on #139
For instance this is what Gama produce
<img width="252" alt="Screenshot 2020-08-31 at 21 48 10" src="https://user-images.githubusercontent.com/3928502/91760475-b83f3b80-ebd3-11ea-87c9-72726b5ebb94.png">
for this
<img width="127" alt="Screenshot 2020-08-31 at 21 48 14" src="https://user-images.githubusercontent.com/3928502/91760522-cab97500-ebd3-11ea-905e-1a01bd3a9ad4.png">

[2020-08-31 19:50] agrignard commented on #139
This chair is made of 8 objects...

<img width="252" alt="Screenshot 2020-08-31 at 21 49 36" src="https://user-images.githubusercontent.com/3928502/91760599-e91f7080-ebd3-11ea-8e81-a82581ee030f.png">

[2020-09-01 07:48] agrignard opened #141 "Cannot Run Episode 5"
Seems to have an issue with queing also

[code]

[2020-09-01 07:49] agrignard commented on #126
OK we now just need #139 the rest is ok thanks to #140

[2020-09-01 07:49] #126 closed

[2020-09-01 07:51] agrignard commented on #127
It is implemented but not working for #137, #138, 141

[2020-09-01 08:12] agrignard commented on #107
Ok so as it has been request in this issue the Episode 1 has been produced here:
https://drive.google.com/file/d/144Elt3EqB7fbl9q3mvaqEep9ah1HOWs0/view?usp=sharing

It is so far the official Episode, we will wait for feedback and produce another one if needed

[2020-09-01 08:59] #137 closed

[2020-09-01 09:01] LAAP commented on #139
@agrignard ,

Here you can find a file with simplified "chairs". I have made "one object" per chair:

I have made a push in github. The name of the file is buildin_L . I didn't want to "overwrite" the old file. Here is the dxf:

https://drive.google.com/file/d/1SH7_hvx4wE1OwksB_3AfAcb1VpJwLjLu/view?usp=sharing

[2020-09-01 09:10] agrignard commented on #139
Ok great let me check if it works

[2020-09-01 09:12] agrignard commented on #139
Nice thank you master @LAAP ! much more better it reduce to 210 people vs 750...
<img width="724" alt="Screenshot 2020-09-01 at 11 12 13" src="https://user-images.githubusercontent.com/3928502/91831183-0ab84080-ec44-11ea-8426-de5c027def68.png">

[2020-09-01 09:12] #139 closed

[2020-09-01 09:15] LAAP commented on #107
@agrignard ,

The video is cool. However, I think that scenario "A" is a bit extreme... Maybe we can start with less "infected people"? Not sure.

Also, there are things that I am missing:

- Starting number of "potentially infected students"
- Potential "R0 (level of infection)" used in the simulation in each scenario
- Number of students per classroom
- Maybe: A "Big" Indicator giving the % of "

[2020-09-01 09:22] agrignard commented on #107
Yep this is the beta rehearse Episode and I can enhance it (I would prefer to have feedback from  Carlos and Mayra first) and that's why the issue is not close. I agree it's abit to extreme

- Starting number of "potentially infected students" => 10 it's wriiten on, top of the high and low risk. Its a parameter taht w can change if we want

- Potential "R0 (level of infection)" used in the simulat

[2020-09-01 09:28] #138 closed

[2020-09-01 09:34] agrignard commented on #108
I lost a bit inspiration here.

hwo do we want the clear difference betwsen the 2 episode? Just by playin with the number of infection?

[2020-09-01 09:35] #141 closed

[2020-09-01 09:36] ptaillandier commented on #127
Now, it works (could be improved, but ok for now).

[2020-09-01 09:36] #127 closed

[2020-09-01 09:36] #113 closed

[2020-09-01 13:09] ptaillandier opened #142 "Better organisation of the model parameters + documentation"
We are currently in a development phase where we are adding a lot of new features and therefore parameters. Work would be necessary to better arrange these parameters in the code and to document them.

[2020-09-01 13:38] agrignard commented on #108
Firt attempt work in progress

Natural ventilation: lots of droplets and far
AC: fewer droplet and close

WIP
<img width="1578" alt="Screenshot 2020-09-01 at 15 35 46" src="https://user-images.githubusercontent.com/3928502/91858205-2aae2b00-ec69-11ea-9c52-f6c818a4b8bc.png">

[2020-09-01 18:32] gamalielpalomo commented on #139
Thank you @LAAP, we also made a dxf to solve this issue yesterday as I said in the last PR, unfurtunately we didnt upload it inmediatly. Whatever, It is good to see this is already working and the issue is closed.

[2020-09-01 18:51] milkmonica commented on #109
Hi Luis and Arnaud!
Today, Gama and I are giving a final review to all the issues, since yesterday we had already made all the changes that appeared here.
I imagine that when you work on this specific simulation you will tell us if with the last pull that Gama did, everything was solved.

[2020-09-01 18:53] milkmonica commented on #107
I asked Mayra to solve this issue right now, she tells me that she agrees with Luis, that in scenario "A" they get infected very quickly. In the previous simulation, they entered the classroom “healthy” and the risk of infection occurred when leaving the classroom (in the 5 min in which they changed classrooms)

[2020-09-01 19:04] milkmonica commented on #110
I imagine this issue remains open until the video production.
As Gama has commented, yesterday we made the change of the chairs as well, and let you know that we are pending Github, so that in case any change is needed, you know that we will do it as soon as possibl. Above all, remember our difference of time, so any of you does not have to redo something that we were already doing.

[2020-09-02 13:10] LAAP commented on #139
Awesome! Good job team!

[2020-09-02 13:11] LAAP commented on #109
Awesome @milkmonica and @gamalielpalomo ,
Please, keep closing issues as soon as you solve them! Also, we will open new issues if something is needed  ;)

[2020-09-02 13:19] ptaillandier commented on #109
I added in the model the possibility for agent to wash their hands before and after the activity. I am not closing this issue yet because the link with the epidemiological model is still missing.

[2020-09-02 13:21] LAAP commented on #107
Dear @milkmonica ,

Yes, this simulation is a bit "extreme", however, the virus now is airborne and things has changed. I recommend to look into this article:

https://www.wsj.com/articles/key-to-preventing-covid-19-indoors-ventilation-11598953607

- The new distance is 26 feet
- The small Aerosols Can linger for hours in the air
- Small Droplets and Large Aerosols Can linger in the air for 30 min

[2020-09-02 13:54] LAAP commented on #110
Hi @agrignard ,
For colors I suggest a first try with:

- The yellow room shift into greyish/blueish = rgb (84,102,159)
- The red tables shift into greyish/brownish/greenish = rgb (128,121,72)

Let's see how it looks like

[2020-09-02 13:54] agrignard commented on #109
Great @ptaillandier !! Right now it's a bit hard to see the effect in the Episode 3 but I guess it's because the simulation is too fast

[2020-09-02 13:55] agrignard commented on #107
"I was asking to @agrignard , to have a "scale" of color so people can go from low risk (green) to middle risk (Yellow/orangish) and after high risk (red). But that will take some time to develop" => see https://github.com/CityScope/CS_Proxymix/issues/124

[2020-09-02 13:58] ptaillandier commented on #124
Just one question. At the moment we have a SIR model: an uninfected (susceptible) person has a probability of being infected if she/he is close to an infected person. Once infected, she/he can also infect others, which is not realistic.

If we take a continuous model that is more interested in a level of risk, can we not just take into account that at the beginning of the simulation a defined numb

[2020-09-02 14:03] agrignard commented on #124
That would be ideal. I think we realize a long time ago that having a SIR for such a short period of time was totaly useless and wrong.That's why we switch to the risk level in the legend but we are still using the SIR to show it

[2020-09-02 17:41] LAAP commented on #124
@ptaillandier ,

This is a great idea!!! The numerical value could be the perfect solution for a "infection risk indicator", so agents can shift following a color gradient of "infectioness", and also we could have an aggregated total value of infectioness in the population, and even in the room

[2020-09-03 14:09] #124 closed

[2020-09-03 14:10] ptaillandier commented on #129
It should work now

[2020-09-03 15:01] agrignard opened #143 "Division per zero"
Run Episode 3

2 occurrences in 2 agents at cycle 0: Division by zero
in target_room <- sanitation_rooms[rnd_choice(sanitation_rooms collect (1 / distance_to(each,self)))];
in target_room <- sanitation_rooms[rnd_choice(sanitation_rooms collect (1 / distance_to(each,self)))];
in if (use_sanitation and not(empty(sanitation_rooms))) and flip(proba_using_before_work)  {
	current_activity <- first(sani

[2020-09-03 15:11] #143 closed

[2020-09-03 15:12] agrignard opened #144 "Episode 4: peopel get stuck in the entrance"
Run Episode 5:

See how people get stuck so all people cannot go the classroom

<img width="541" alt="Screenshot 2020-09-03 at 17 09 10" src="https://user-images.githubusercontent.com/3928502/92133391-9aa6e780-ee08-11ea-8a1e-8356839ea1c9.png">
<img width="281" alt="Screenshot 2020-09-03 at 17 09 16" src="https://user-images.githubusercontent.com/3928502/92133393-9bd81480-ee08-11ea-9607-229985f4ebf

[2020-09-07 08:00] agrignard opened #145 "Droplet realism"
Right now the droplet features is implemented as follow:

[code]
[code]

Wold be nice to have something more realist, even in 3D, @tnguyenh
I think some cool mathematical equation could be useful here

In will impact also #108

[2020-09-07 08:27] agrignard opened #146 "Mask Effect"
I am not sure that the mask now has the desire effect.

For instance run Episode 1 where the only different is that poeple are not wearing mask or 70% of them are.

We shoudl have a very big difference betwen the 2 scenario in term of high risk but when I run the simualtion the number is very similar.

Maybe something is missing in the way to handle the masK?

@ptaillandier can you have a look at

[2020-09-07 08:30] agrignard commented on #146
Maybe it commes from that change (I didi this change to see more the effect) ? So the effect of the mask is negligeable?

[code]
by
[code]

[2020-09-07 14:27] LAAP commented on #146
Hi @agrignard ,

I know that you are just testing the masks, but I want just to remember that in Episode 1 we are testing Masks + Density of people in the room + Time spent.

So Scenario A, No intervention should be with 30 students in the room, and Scenario B should be with 20 students (or less) in the room.

Just for keeping the consistency

[2020-09-07 14:40] agrignard commented on #146
Yep, i just wanted to be sure that with the same layout the mask are doing there job (whcih seems to rebe the case after @ptaillandier commit https://github.com/CityScope/CS_Proxymix/commit/3c7e511da11267376ea931dcae7cd535ce668e41)

I'll check it and close this issue

However timespent was not very clear in the intial request... (see #107) so it can be here but we just need to agree (the video pro

[2020-09-07 14:45] agrignard commented on #107
@gamalielpalomo and @milkmonica now that most of the feature are finally here and all the dxf are all ready  can you start to propose some content for this Episode? Let me know if you have any trouble to produce video with GAMA

[2020-09-07 14:45] agrignard commented on #108
@gamalielpalomo and @milkmonica now that most of the feature are finally here and all the dxf are all ready  can you start to propose some content for this Episode? Let me know if you have any trouble to produce video with GAMA

[2020-09-07 14:46] agrignard commented on #109
@gamalielpalomo and @milkmonica now that most of the feature are finally here and all the dxf are all ready  can you start to propose some content for this Episode? Let me know if you have any trouble to produce video with GAMA

[2020-09-07 14:46] agrignard commented on #110
@gamalielpalomo and @milkmonica now that most of the feature are finally here and all the dxf are all ready  can you start to propose some content for this Episode? Let me know if you have any trouble to produce video with GAMA

[2020-09-07 14:46] agrignard commented on #111
@gamalielpalomo and @milkmonica now that most of the feature are finally here and all the dxf are all ready  can you start to propose some content for this Episode? Let me know if you have any trouble to produce video with GAMA

[2020-09-07 14:53] agrignard commented on #144
Sorry it's Episode 4 not 5...

[2020-09-07 14:55] agrignard commented on #146
Ok seems to be fixed (in Episode 1)

[2020-09-07 14:55] #146 closed

[2020-09-07 14:56] agrignard opened #147 "Episode 1: stop to early"
Run Episode 1: the simualtions tops but peopel are still in the room in Episode B.

[2020-09-07 14:57] agrignard commented on #147
By the way can we have the option either to stop the simualation or to loop it? See https://github.com/CityScope/CS_Proxymix/issues/128

[2020-09-07 15:00] agrignard commented on #146
MMM I reopen it as i can see sometime that scenario A is worse, i guess we have a stochastic issue here no?

[2020-09-07 15:02] agrignard commented on #147
Ok good catch @ptaillandier seems to be related to the syncronization of the display can be fixed by having synchronzied to true (for now it set to false to have quicker simualtion for the impletation phase)

[2020-09-07 15:02] #147 closed

[2020-09-07 15:18] agrignard commented on #146
Sorry i did a wrong interpretation of the number. It's coeherent, the number of low risk is lower in the scenario B which makes sense

[2020-09-07 18:51] LAAP commented on #146
Hahahaah! Crazy auto-conversation @agrignard ,

Yes, if time (and shifts of new students) can be shown in the videos, that could be fantastic!!!

Also, I have been talking to @milkmonica , and she told me that the UDG is having their own protocols, like 50% of students less than normal, that is 15 students (not 20) instead of 30. So she will clarify in an issue all this protocols so the scenarios

[2020-09-07 18:55] LAAP commented on #107
@agrignard ,

Let me see if I am understanding you correctly: I think that @gamalielpalomo and @milkmonica can give us the UDG protocols for the "Rump up"; as an example In Episode 1, "UDG is planning to have 50% of students in the classrooms", or "the will keep "2m distance per student in the classrooms" etc., so we can adapt the UDG protocols to the final simulations.

However, we will produce t

[2020-09-07 19:17] LAAP commented on #108
@agrignard ,

Same than in episode 1, @gamalielpalomo and @milkmonica should give us the specific "**details of the UDG protocols for LABs**" so we can adapt the simulation to UDG challenges.

In here, I really like the idea of comparison of natural ventilation with AC. **However, we should see the meaning of it now that COVID is Airborne and not only Droplet based** Air droplets maybe not very af

[2020-09-07 19:22] LAAP commented on #109
@agrignard ,

This episode is to see how, in this office building from the UDG, the use of masks, lower density, and sanitation points can help to reduce the infection. Please, notice that the office has AC when the classrooms and Labs has Natural ventilation.

Like in the other episodes; @gamalielpalomo and @milkmonica, please let us know where are the UDG protocols for office and cleaning hands

[2020-09-07 19:25] LAAP commented on #110
Hi @agrignard ,

Here the idea is to see how people should follow the rules when using a big common space like a library. Please, notice that the library has AC.

@gamalielpalomo and @milkmonica, please, like in previous episodes, let us know how many people are using the library today and the expected reduction of density of people (maybe it is 50% like in classrooms), physical distance, health m

[2020-09-08 08:34] agrignard commented on #142
@gamalielpalomo as discussed in one of our meeting, can you  start the documentation process of the project in the Wiki? It will be then used and completed then by your student in the training session.

Here is where you should start
https://github.com/CityScope/CS_Proxymix/wiki/Documentation

[2020-09-08 10:20] agrignard commented on #107
Yes Rump up is for sure mandatory. But I was also thinking that it would be great and an indicator of successful collaboration in term of transfer of knowledge to be sure that the UdF team can produce video (that would be validated by us later).

@gamalielpalomo and @milkmonica any thought?

[2020-09-08 10:32] agrignard opened #148 "Define the same seed for each Scenario A and B"
Right now there is a lot of stochastic effect that can introduce  a big difference between scenario A and B, in order to evaluate with the best reproducibility, it would be great to be able to define the seed of the simulation for each scenario.

I have been trying to do it by writing

[code]

When I inspect the simualtion tehy have the same seed however the two experiment are different (e.g the i

[2020-09-08 11:12] agrignard commented on #120
This is issue is now fix and even in a better way that what was discussed.
It will need to be documented as pointed by #142  but we now have 3 types of infection risk that can be displayed just with boolean

[code]

- draw_infection_grid=> if the SIR is used (which is not the case by default) w can see where the "infection" has been taking place (however this is not realistic as it's very difficut

[2020-09-08 11:12] #120 closed

[2020-09-08 11:19] agrignard commented on #145
Duplicated with #92

[2020-09-08 11:19] #145 closed

[2020-09-08 11:19] agrignard commented on #92
Right now the droplet features is implemented as follow:

[code]
[code]

Wold be nice to have something more realist, even in 3D, @tnguyenh
I think some cool mathematical equation could be useful here

In will impact also #108

[2020-09-08 11:43] agrignard commented on #114
With the new infection method implemented by @ptaillandier we now have low, medium and risj where the threshodl is a parameter between 0 and 1 (e.g below 03 is low, between 0.3 and 0.6 is medium and high than 0.6 is high)

[code]

<img width="375" alt="Screenshot 2020-09-08 at 13 39 41" src="https://user-images.githubusercontent.com/3928502/92472038-36ee3700-f1d9-11ea-9c29-27a1e8cf5ebb.png">

I cl

[2020-09-08 11:43] #114 closed

[2020-09-08 11:45] agrignard commented on #119
See #114 we have the low, medium and high number and also represented in the color of the agent.

[2020-09-08 11:45] #119 closed

[2020-09-08 11:45] agrignard commented on #118
See #114 and recent improvement

[2020-09-08 11:45] #118 closed

[2020-09-08 11:50] agrignard commented on #128
This is also implemented (just need to reinitialize the viral load of a room)

So I don't consider it as an issue, we jsut need to agree on what and how we want to show in the different Episode, but it is technically possible to do that

[2020-09-08 12:03] agrignard commented on #130
@ptaillandier I think the idea is to define a new agenda trying to emulate the behavior of people in a common area like a library. Let me know if this is clear, you can have some freedom here. It's just to avodi that people only stay at there desk like in classrooms (to show that there are a potential high risk infection in this type of space)

[2020-09-08 12:58] LAAP commented on #107
I see @agrignard ,

It make sense. Yes, I think that it is a good idea having @gamalielpalomo and @milkmonica making a test running GAMA an making a video from GAMA just for educational purposes, so we can learn together how to make videos with GAMA, so in the future we already have that training.

Please, @gamalielpalomo and @milkmonica , let us know your thoughts

[2020-09-08 13:05] LAAP commented on #120
Dear @agrignard and this is looking Awesome! Good Job!!!

[2020-09-08 13:09] LAAP commented on #92
Hi @agrignard ,

I think this is very related to issue #120 (Maybe, even is an overlapping issue)

[2020-09-08 13:10] LAAP commented on #114
Fantastic job guys! @ptaillandier and @agrignard , thank you for this new push!

[2020-09-08 13:13] LAAP commented on #119
Thank you @agrignard ,

Yes issue #114 is looking fantastic !  Good job!!!

[2020-09-08 13:29] LAAP commented on #117
Hi @agrignard ,

I think that each Episode may be a combination of both. In some Episodes, **like Episode1-Classrooms, Episode2-Labs, and Episode5-Campus** I think that UDG knows that they want to **reduce students/population/density into 50%**. In other episodes, like the **Episode3-office and Episode4-Library**, they are not that sure, so maybe we can run and "optimization" simulation, previous

[2020-09-08 13:35] LAAP commented on #117
Hi @agrignard ,

I think that each Episode may be a combination of both. In some Episodes, **like Episode1-Classrooms, Episode2-Labs, and Episode5-Campus** I think that UDG knows that they want to **reduce students/population/density into 50%**. In other episodes, like the **Episode3-office and Episode4-Library**, they are not that sure, so maybe we can run and "optimization" simulation, previous

[2020-09-08 13:51] LAAP commented on #128
Awesome @agrignard ,

I reopen this so we can discuss a bit:

I think that we could have a clock or similar where we mark time spent inside of the room and shifts. So in Scenario B we can see rooms getting ventilated and cleaned (infection levels gets reduced) and new or the same agents gets in the room again with less risk. When, in Scenario A, the agents stay and the risk increases during the 3h

[2020-09-08 13:51] LAAP commented on #128
Awesome @agrignard ,

I reopen this so we can discuss a bit:

I think that we could have a clock or similar where we mark time spent inside of the room and shifts. So in Scenario B we can see rooms getting ventilated and cleaned (infection levels gets reduced) and new or the same agents gets in the room again with less risk. When, in Scenario A, the agents stay and the risk increases during the 3h

[2020-09-08 13:52] LAAP commented on #130
Hi @agrignard ,

Yes, this is the idea! Thanks for pushing this into the next level!

[2020-09-09 07:46] agrignard commented on #117
The problem of the" _50% reduction_"  is...  **50% of What???** as we don't have the initial number...

The only thing we have is the intial layout of the desk and when we use it we put one personne per desk but I don't think this is realist

@gamalielpalomo and @milkmonica can you help us on this?

[2020-09-09 11:29] agrignard commented on #107
Update on this issue to try to reach a common agreement. This is what we have so far on the 9/9/20. All the information appears (time spend, ratio of mask, distance, number of low, medium, high rsk, etc)

This is the status of the building just before people leave the space (10am in scenario A, 7.45am in scenario B)
Scenario A
<img width="1236" alt="Screenshot 2020-09-09 at 13 25 15" src="https://

[2020-09-09 11:38] agrignard commented on #108
Update on th 09/09/2020

This is what we haev so far integrating all the recent changes made to show the impact of natural ventilation vs AC
Scenario A
<img width="1792" alt="Screenshot 2020-09-09 at 13 35 31" src="https://user-images.githubusercontent.com/3928502/92593486-797b4680-f2a1-11ea-9cc5-aa04d55f440f.png">
Scenario B
<img width="1792" alt="Screenshot 2020-09-09 at 13 35 31" src="https://u

[2020-09-09 12:03] agrignard opened #149 "Possibility not to kiil agent at the end"
Right now as soon as an agent leave the site we kill him, the problem is that it's hard to see the final results of the simlulation on the video.

Woudl it be possible (whay woudl be the impact) not to kill them? Maybe usign a bool if we want to rekill them at some point

[2020-09-09 12:20] agrignard commented on #109
Update on the 09/09/20

Here is what we have it migth be better ones #149 is solved to really see the effect of sanitation when student leave the room

<img width="1792" alt="Screenshot 2020-09-09 at 14 18 41" src="https://user-images.githubusercontent.com/3928502/92597324-86029d80-f2a7-11ea-829a-ca60dc938e14.png">
<img width="1792" alt="Screenshot 2020-09-09 at 14 18 58" src="https://user-images.

[2020-09-09 12:33] agrignard commented on #110
Update on 09/09/20. WIP in progess (see #130 )
<img width="1792" alt="Screenshot 2020-09-09 at 14 32 44" src="https://user-images.githubusercontent.com/3928502/92598649-610f2a00-f2a9-11ea-83f5-81801adb8a4c.png">

<img width="1792" alt="Screenshot 2020-09-09 at 14 32 37" src="https://user-images.githubusercontent.com/3928502/92598627-5c4a7600-f2a9-11ea-9029-78f1b03b9fce.png">

[2020-09-09 12:38] agrignard commented on #111
update on 09/09/20

Dxf is working but there are still a feature missing
@gamalielpalomo and @milkmonica if we want to illustrat the use of specifi path, we will need to have it. Or to generate it? I discuseed with @gamalielpalomo and this can be easily done in QGIS (replacing the pedestrian path)

Also as the site is very big the simualtion is very slow to run (but running)

<img width="1792" alt

[2020-09-09 13:14] #149 closed

[2020-09-09 13:29] LAAP commented on #107
Hi @agrignard ,

This is great, Awesome job!

Just a last question, Can we show a bit (maybe in a very transparent background in the rooms) the "Pollution map" (or Risk level "green to red" of the rooms) that you have made in a previous model?. I don't remem in which issue

[2020-09-09 13:33] LAAP commented on #108
@agrignard ,

I think this scenario **is not working**. I think **we shouldn't show this** as it is now

As I have commented several times and as you can read in the articles that I have shared **NORMAL Air conditioning** (like the one that most buildings have) **can be much worse spreading the virus that Natural ventilation.** Actually, that is the issue in Cafeterias and Bars that are closed ind

[2020-09-09 13:38] LAAP commented on #109
@agrignard ,

This is great!

I think that in the case of the library, we **should run a couple of simulations in order to give to the UDG an estimated number of  students using the space** in a safer way as possible. For instance: Pre COVID 250 students where using the library. In a Pandemic scenario, and If all the students clean the hands, where masks, and keep 2m distance, then we test with re

[2020-09-09 13:44] LAAP commented on #110
Hi @agrignard ,

In this episode, I think that we have to do the same than in the office building and, we should run a couple of simulations in order to give to the UDG an estimated number of students using the space in a safer way as possible. For instance: Pre COVID 228 students (@gamalielpalomo and @milkmonica is this the real number???) were using the Library. In a Pandemic scenario, and If al

[2020-09-09 14:57] agrignard commented on #149
Perfect!! much more better to see the result immeditely

[2020-09-09 15:07] agrignard commented on #107
Yep good idea.
It's a parameter to set to true or false. I set to true now for all the episode. Looks pretty cool indeed
<img width="1633" alt="Screenshot 2020-09-09 at 17 06 20" src="https://user-images.githubusercontent.com/3928502/92616748-e81acd00-f2be-11ea-9394-acb66bd3fe46.png">

[2020-09-09 15:17] agrignard opened #150 "Problem with dxf Episode 2: 2 objects are created in GAMA"
@LAAP can you check in the UDG/CUT/lab/building.dxf we shoul have onl one object for the room.

Something is wron gin the dxf  there are 2 of them for the same object

<img width="563" alt="Screenshot 2020-09-09 at 17 16 07" src="https://user-images.githubusercontent.com/3928502/92618052-3bd9e600-f2c0-11ea-94c1-e7ef1286022e.png">

[2020-09-09 15:19] agrignard commented on #108
Yep your right, it has been fixed in https://github.com/CityScope/CS_Proxymix/commit/c2772f0d4e8b422217c181b88382e8f39beeb9af (so basically a ventilated room now is a room with natural ventilation)

[2020-09-09 15:24] agrignard commented on #92
small improvement with droplet in 3D but still we really need some TriD here @tnguyenh ! the droplet should be closer to the people (they are too random right now)
<img width="1001" alt="Screenshot 2020-09-09 at 17 23 31" src="https://user-images.githubusercontent.com/3928502/92619019-48ab0980-f2c1-11ea-8e76-3c04a8adcfa1.png">

[2020-09-09 15:27] agrignard commented on #129
it's working but the result are still weird depending on the simualtion, we oftne end up with a worse sanitation than without.

I reopen it for now just not to forget

[2020-09-09 15:29] LAAP commented on #107
@agrignard ,

Beautiful!!!!!! I love it!!!!   ;)

[2020-09-09 15:32] LAAP commented on #108
Awesome @agrignard! Thank you!

[2020-09-09 15:38] LAAP commented on #92
@agrignard and @tnguyenh ,

This is opening a cool door. If we have the height of the droplets, then, every droplet below 1m or 1.25m, will infect less than droplets at the level of the mouths, noses, and eyes

[2020-09-09 15:56] LAAP commented on #150
Hi @agrignard ,

I can't see the 2 elements in the dxf. But I have cleaned and closed some vertex. Please, let me know if now works, if not, I will redraw the object

[2020-09-09 16:05] agrignard commented on #150
you pushed it in .bak, can you push it in .dxf (AUTOCAD 2013) please?

[2020-09-09 16:08] LAAP commented on #150
Hi @agrignard ,

I have pushed also at the dxf. But just in case I have also pushed with a different name: building_L

[2020-09-09 16:12] agrignard commented on #150
I don't what you did here ;-)
https://github.com/CityScope/CS_Proxymix/commit/47ce8c0765a6165ee849557d8c5601e312a322cc

it seems that you have added some element in the .gitignore telling not to commit .dxf...

You can try to attached a file though this issue I will fix the gitignore story ;-)

[2020-09-09 16:16] agrignard commented on #150
can you retry to pull (toi have the new gitignore) and repull (just the dxf )

[2020-09-09 16:22] LAAP commented on #150
I Have an issue
<img width="1244" alt="Captura de pantalla 2020-09-09 a las 12 22 23" src="https://user-images.githubusercontent.com/19315213/92625856-2e5c3600-f297-11ea-9461-ad454f092015.png">

[2020-09-09 16:24] LAAP commented on #150
@agrignard Here is the file

[building_L1.dxf.zip](https://github.com/CityScope/CS_Proxymix/files/5196583/building_L1.dxf.zip)

[2020-09-09 16:24] agrignard commented on #150
write a commit messsage

[2020-09-09 16:28] agrignard commented on #150
Hmmm I am not sure there is a difference between building_L1 and building.dxf

I might check with @ptaillandier why we have 2 room here

[2020-09-10 00:01] LAAP commented on #150
Hi @agrignard
I Have redraw the line. Now, for sure it is only one (it is the only one object in the layer) and it is closed. So it shouldn't be an issue anymore
<img width="1386" alt="Captura de pantalla 2020-09-09 a las 20 00 18" src="https://user-images.githubusercontent.com/19315213/92666427-35a33400-f2d7-11ea-9f2d-a05577542a1b.png">

[2020-09-10 08:00] agrignard opened #151 "Episode 4: Common area type"
There is something i don't understand in the Episode 4.

The same object is an Office in scenario A and a common_area in Scenario B and still it seems that people behave like in a common area in sceanario A.

See the picture and the type of the common_area
<img width="1517" alt="Screenshot 2020-09-10 at 09 58 47" src="https://user-images.githubusercontent.com/3928502/92698223-66718080-f34c-11ea-94

[2020-09-10 09:43] agrignard opened #152 "ffmpeg converter"
@crisjf I am using the combineSnaps.py that you wrote to produce some video

However I cannot manage to have a great quality. When I compare the quality of the input image with the produce video there is clearly a decrease in term of quality

Would you have an idea of what can be change in the script ? I have try many option but didn't find the right one

[2020-09-10 11:02] agrignard commented on #129
There is defintely somethign that needs to be fixe here, in many simualtion the sanitation is worse than the no sanitation...

Would be fix with #148 (but this one seems difficult to fix)

[2020-09-10 12:30] #130 closed

[2020-09-10 12:30] #144 closed

[2020-09-10 13:34] #148 closed

[2020-09-10 13:38] ptaillandier commented on #129
I think it is ok now. I changed 2 things:
- fixe an issue with sanitation usage (... forgotten 'not')
- add a new feature: people who wash their hands will not infect "objects" for a certain period of time.

Seems better now (at least there is an effect).

[2020-09-10 13:49] agrignard commented on #148
Nice!!! Will be a great feature to have the same people infected in the same room. Looking forward to see the results !

[2020-09-10 14:48] ptaillandier commented on #151
Ok, I fixed the issue with the type of building (not both in scenario A and B, you have a library room). However, I am not sure about the scenarios that you want to explore.
In both scenarios, are you supposed to have a library and associated behavior (i.e. people moving around the room)?

[2020-09-10 14:50] agrignard commented on #151
yes yes like all the episode same site, and differnet parameters, so we whould have the same "environement", maybe I'll play a bit with the ratio between the 2 experiment

[2020-09-10 14:55] ptaillandier commented on #151
So, I think it is working normally now

Le jeu. 10 sept. 2020 à 16:50, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-09-10 14:57] #151 closed

[2020-09-10 15:20] agrignard commented on #151
Pretty similar shape ;-)

![13097115](https://user-images.githubusercontent.com/3928502/92753209-f41f9100-f389-11ea-8880-fbe07202adc2.jpg)

[2020-09-10 15:22] agrignard commented on #152
Can you commit or paste the comand line here so I can test?

[2020-09-10 18:59] LAAP commented on #151
Dear @ptaillandier and @agrignard ,

This is looking good. BTW, is the yellow color just indicating the Library? Can we change the color into a Greyish color?

[2020-09-10 19:10] crisjf commented on #152
With the last commit, you can run the script with the `inpath` option.

```python combineSnaps.py -inpath PATH_TO_IMAGES```

[2020-09-10 21:20] gamalielpalomo commented on #150
@agrignard I am talking with @milkmonica and dont understand wich 2 figures you refer to. Do you refer to the 2 green areas that are shown?

[2020-09-10 21:28] gamalielpalomo commented on #142
Hi @agrignard and @ptaillandier, I'll begin working in the documentation.

[2020-09-11 07:51] agrignard commented on #152
I cannot run the script I get the following error
[code]

[2020-09-11 08:07] agrignard commented on #151
<img width="557" alt="Screenshot 2020-09-11 at 10 06 50" src="https://user-images.githubusercontent.com/3928502/92889447-88373a00-f416-11ea-8ef2-98aee258478b.png">
 @ptaillandier can we make also the libray a Viral room, so we can see how it turn from green to red?

[2020-09-11 12:44] agrignard commented on #150
I mention the fact that there are two objects rooms created in GAMA whereas it's only one room. @LAAP redrew it but the problem is still here. I don't why

[2020-09-11 13:20] LAAP commented on #151
Great idea @ptaillandier !

[2020-09-11 13:32] #150 closed

[2020-09-11 13:46] agrignard commented on #150
OK once again thank you @ptaillandier that mange to fix it, however he had to fix it inside Gama as there is apparently still 2 objects... Would be great to be able to have clean dxf (it's clearly out of my knowledge but this format is definetly ... how to say it gently... complicated)!

[2020-09-11 13:52] crisjf commented on #152
You might have python 2.7 as the default python. Try:
[code]

[2020-09-11 13:56] agrignard commented on #152
ok better with python3 but still

[code]

[2020-09-11 13:58] agrignard commented on #152
This is the name of the generated output
````StroyTelling_model_display_Simulation (S1)_size_1236x1772_cycle_11_time_1599832699661```if it can help

It use to work before

[2020-09-11 14:01] crisjf commented on #152
Could you send me a zip file with a sample of the images? It’d really help
with debugging.

On Fri, Sep 11, 2020 at 9:59 AM Arnaud Grignard <notifications@github.com>
wrote:

Cristian Jara-Figueroa
Graduate Researcher & PhD Student
City Science,
MIT Media Lab
Pronouns: he, him, his

[2020-09-11 14:26] agrignard commented on #152
[snapshots.zip](https://github.com/CityScope/CS_Proxymix/files/5209605/snapshots.zip)

[2020-09-11 15:16] LAAP commented on #150
Thank you @ptaillandier!

@agrignard , As far as I could tell, in the dxf I only see 1 object... So this maybe a UFO kind of challenge. Hahahaha!

[2020-09-11 16:51] crisjf commented on #152
@agrignard I fixed the command and it now runs without any issues. The script will print the `ffmpeg` command it uses. It looks something like:
[code]

 If the quality is not good enough, you can copy the command and run it yourself from a terminal and play around with some of the options. For example, if you run it like this:
[code]

it will generate `mkv` file that should have no compression and

[2020-09-11 18:42] agrignard commented on #152
Cool it seems to work pretty well

However I got ones this error buyt I cannot reproduce it now. So let's consider it's working

[code]

[2020-09-11 18:51] crisjf commented on #152
Yay, feel free to reopen if the issue persists.

[2020-09-11 19:17] agrignard commented on #152
mmm there is somethng wrong here...

Also Are you sure you need to rename all the image, the problem is that ones they are rename I cannot rerun the same script

ffmpeg -r 24 -f image2 -pattern_type glob -i /Users/arno/Projects/GitHub/CS_Proxymix/ProxymixABM/models/CurrentModels/snapshots/cycle_%05d.png -vcodec libx264 -crf 20 -pix_fmt yuv420p test.mp4
ffmpeg version 4.3.1 Copyright (c) 2000-2020

[2020-09-11 19:28] crisjf commented on #152
You still need to at least copy the files because of the syntax used by `ffmpeg`. The alternative would be to enforce a naming convention. I pushed an update that copies the files instead of renaming them and then deletes the copies once the process is done.

[2020-09-11 19:46] agrignard commented on #152
mmm another interesting issue when the ratio is not divisible by 2... very weird that ffmpeg cannot hande this no?

[code]

[2020-09-12 08:57] agrignard commented on #152
For now I resize the first image with the good ratio and it works but would be great to find a way to do it automatically in the code? What I don't understand is that this was not a problem before

[2020-09-14 09:39] agrignard opened #153 "Problem with timestep change"
After producing the 5 video I have noticed some strange behavior in time step change (as a results it seems that simualtiona re very long ven if we speed it upo)

For instance

Run Episode 1_A: peopel are supposed to stay 3h here, at the beginning the time step is equl to one until they arrive in their room, where then it will speed up to 10. However after 45min the time step regoes to 1. I donet

[2020-09-14 09:52] ptaillandier commented on #153
I will check, but for the vidéo, you can deactivate it (there is bool
use_change_step or something like that). I already deactivate the
"step-changing" for scenario 4 (common area behavior).

Le lun. 14 sept. 2020 à 11:39, Arnaud Grignard <notifications@github.com> a
écrit :

[2020-09-14 15:50] ptaillandier commented on #153
ah ah... after rereading your message, I just understood the problem :) .

It's actually a modeling choice: I wanted in multi-simulation that all the simulations remain synchronized (not that on one 3h is passed while on the other, we have just 1h). For that, in multi-simulation, you have to look at what the other simulations are doing to change "step" at the same time.

I can add a global paramet

[2020-09-14 21:44] LAAP commented on #107
From the videos sent by @agrignard

- **Episode1_A:** It looks Great: I love the way we show how people gets potentially infected in a gradual way (from green to red), and how spaces gets also in a high level of risks, after spending 3h in the classroom

- **Episode1_B:** I really like it: It works very well showing that 45min + Masks, + Social distancing reduces the risk of infection

From my poi

[2020-09-14 21:45] LAAP commented on #108
From the videos sent by @agrignard:

- **Episode2_A:** NATURAL VENTILATION should be the option "B". Here, in the top of natural ventilation we have to add the following measures:
-Time inside of the room needs to be just 45 min (instead of 3h)
-Everyone should have a mask,
-The density needs to be reduce to 50% (from 35 students to 17students)
-Everyone should keep the 1 or 2m physical distance (

[2020-09-14 21:46] LAAP commented on #109
From the videos sent by @agrignard:

- **Episode3_A:** This video could be final. Maybe we could have some very small random movement of people going to the toilet on shifting tables (spending 3h without movement in an office is not super realistic, however is making the point), but if we have no time for this small changes, we can keep this video as it is

- **Episode3_B:** (there is a typo in th

[2020-09-14 21:47] LAAP commented on #110
From the videos sent by @agrignard:

- **Episode4_A:** This video could also be a final one. I love the Agents moving randomly in the library. There are 2 things:
1) Some spaces don't work with the infection: The people at the spaces outside of the library (Theater, rooms, etc) don't get infected, and the space doesn't  change color into a red scale, looks like the simulation doesn't work out ther

[2020-09-14 21:49] LAAP commented on #111
From the videos sent by @agrignard:

Episode 5 is a bit confusing. I think we are mixing scenarios, in episode A, "NO INTERVENTION", we have less people on campus than in B, "INTERVENTION", less infected people than in B, and they stay less time than in B. Also I think that we need to have a bigger population in the campus. A couple of thousands of people, if possible. This is the detailed note:

[2020-09-15 09:19] agrignard commented on #107
OK great! We are close to close this issue then.

I agree with you the Episode 1 is the most compelling so far and I don't see what can be improved so far

[2020-09-15 09:34] agrignard commented on #108
OK the change have been made let's see how it looks

[2020-09-15 09:39] agrignard commented on #129
I reopen this isuse to see if it would ba avilable to work on the line when people goes to the sanitation point.

According to @ptaillandier theres is already one but it's too smal so maybe it's not a big deal to increase it. Let's see

[2020-09-15 09:41] agrignard commented on #142
Hi @gamalielpalomo did you find time to work on the documentation? I don't see update on the wiki so far. Let us know how things evolve.

[2020-09-15 09:41] agrignard commented on #109
Chnage are made and this issue is reopned https://github.com/CityScope/CS_Proxymix/issues/129

[2020-09-15 09:49] agrignard opened #154 "Potential problem in Episode 4"
It seems that in the non library area at least in Scenario A the spread of the infection is not occuring. Which gives a scenario A much more better than the scenario B (which should be the opposite)

[2020-09-15 09:51] agrignard commented on #110
Ok change made and #154 has been created

[2020-09-15 09:53] agrignard commented on #111
Ok thank for the update, this one is a bit trickier as there is lot of people in the campus.

Compare to the other Episode it's almost a new and more complex model so we will se what we can do , but maybe the priority will be to finsih until Episode 4