[2020-09-15 09:56] agrignard commented on #153
Ok the fact that all the simualtions remain synchronized are great and I think it was someone I request so we can keep it.

What I was refering in this issue is the fact that the acceleration of the timestpe seems to be a weird.

Just to understadn if I want the simualtion being synchronized (the 3h as long as the 45#min) what should I put for bool synchronized_step <- ? true or false?

[2020-09-15 12:50] agrignard commented on #92
FYI
https://alkazar.com.tr/blog/indoor-air-quality-for-office-rooms/

[2020-09-15 20:12] crisjf commented on #152
I think this was because I accidentally dropped the `aspectRatio` option in one of the updates. I just changed that. Could you test it again?

[2020-09-16 13:13] LAAP commented on #110
Awesome!

[2020-09-16 13:15] LAAP commented on #108
Awesome @agrignard ,

WTB, This is the latest in COVID and ventilation:

https://www.medrxiv.org/content/10.1101/2020.02.28.20029272v2

"The odds that a primary case transmitted COVID-19 in a closed
environment was 18.7 times greater compared to an open-air environment
(95% confidence interval [CI]: 6.0, 57.9). Conclusions: It is
plausible that closed environments contribute to secondary
transmiss

[2020-09-16 13:16] LAAP commented on #107
Yes. Let's see

[2020-09-16 13:21] LAAP commented on #111
@agrignard ,

I see. Also, in this episode, in scenario A I see students being "produced" right in the door of the building (at the left side), and "killed" as soon as they get in the building. That doesn't happen in scenario B

[2020-09-16 13:24] LAAP commented on #92
@agrignard ,

Very cool document for fluid dynamics. Air quality, when talking about virus is a bit different. Only HEPA filters can kill 99% of viruses, so AC can be a huge problem. Indoor environments can increase the risk in a 18.7% more, as it is shown in this article:

https://www.medrxiv.org/content/10.1101/2020.02.28.20029272v2

"The odds that a primary case transmitted COVID-19 in a closed

[2020-09-18 09:05] agrignard commented on #152
Nope.. still the same problem

[code]

[2020-09-18 10:36] agrignard opened #155 "Better pedestrian path in Episode 2"
The fact that Episode 2 is just a room implu that there is no pedestrain apth in the room, would it be possible to enhance this?

I am not sure how? could we regenerate the path taking in account the room or the desk to have also a path inside the room?

This is how it looks right now
<img width="1267" alt="Screenshot 2020-09-18 at 12 35 08" src="https://user-images.githubusercontent.com/3928502/9

[2020-09-18 14:55] LAAP commented on #155
@agrignard , What do you recomend? Do you want to have the drawing of the tables and the path inside the room ? @gamalielpalomo and @milkmonica , can we have this graphos?

[2020-09-21 10:36] agrignard commented on #155
Actually would be great to have them as an GIS, that's something we have been discussing for a while (e.g https://github.com/CityScope/CS_Proxymix/issues/81 to geneeate it from GAMA and in many different discussion to produce it by HAnd (it shouldn't be taht difficult). However but I don't know if @gamalielpalomo and @milkmonica have been exploring this path ? (that's one of the main reeason why w

[2020-09-21 17:20] LAAP commented on #155
Hi @agrignard ,

I think that the path are solved now, isn't it? When I open Qgis I see them:

<img width="1389" alt="Captura de pantalla 2020-09-21 a las 13 18 42" src="https://user-images.githubusercontent.com/19315213/93799375-15e00a00-fc0d-11ea-8eb3-2bbe7a6983ef.png">

It doesn't look like very "fine grain", however, are there. Do you need a more refine grapho?

[2020-09-21 22:24] agrignard commented on #155
This one is the one generated by GAMA, so far the 2 Episode run the same one, we will need to create our own educated guess safe path. That can be done though QGIS. If you feel creative and want to do one, you can copy the pedestrain_path and create and commit another one (safe_path.shp for instance). I will have a look also as QGIS can be a bit touchy some time for graph edition.  then I will  im

[2020-09-24 12:32] agrignard commented on #155
I close this one for now, as indeed the path exists (could be better) but this is what we have

[2020-09-24 12:32] #155 closed

[2020-09-24 12:33] agrignard commented on #142
@gamalielpalomo any step on this part?

[2020-09-24 12:34] agrignard commented on #152
@crisjf sorry to insit but I think we are closr to close this issue (and it coule be actually very useful for any GAMA model), do you think you can find sometime to try to fix the ratio issue? Let me know how I can help

[2020-09-24 12:36] agrignard commented on #117
I think we can close this issue if we don't have any new input

[2020-09-24 12:36] #117 closed

[2020-09-24 13:31] agrignard opened #156 "Center entrance"
<img width="339" alt="Screenshot 2020-09-24 at 15 31 11" src="https://user-images.githubusercontent.com/3928502/94151738-0960e900-fe7b-11ea-8948-97593ad128f1.png">

[2020-09-24 15:33] crisjf commented on #152
Totally missed your previous message, I'll look into it today. Can you send the images you are using so I can replicate the error on my side?

[2020-09-25 11:58] agrignard opened #157 "Infection risk category update"
I have the feeling that the number for infection risk is updating it self in a weird way. I would assume that it will change continously, now it change by bi steps as if the graphics do not update it self

this is how it is written

[code]

[2020-09-25 12:13] agrignard opened #158 "Episode 1 - B"
I am curious about the number in Episode B at the end of the simulation there is 0 medium and High I think this is too much.

I am wandering which parameters should be change ?
Also they are distanced by 2m
Right now we have 100% people wearing mask and the diminution factor is 0.8

[code]

@ptaillandier what do you think?

[2020-09-25 13:34] #157 closed

[2020-09-25 13:39] agrignard opened #159 "FINAL DESIGN"
Here is the current final design (though it's not clear from alst mail from @milkmonica if we keep the text or not). Anyway the case can be remove by the video team as it's not overlerlapping the sites.

So here is the current final one  please fell free to comment/validate/critic

<img width="1498" alt="Screenshot 2020-09-25 at 15 39 03" src="https://user-images.githubusercontent.com/3928502/9427

[2020-09-25 13:46] LAAP opened #160 "Separate render in separated files of text and building for episodes"
Hi @agrignard ,

@milkmonica is asking about rendering the scenarios with the text in one video and the agents and buildings in a separated one:

_"the only thing that requires the department of UDG social communication is that all the elements are given separately (simulation of space separated from text) to make decisions about the general composition. "_

Also, maybe we will have feedback regar

[2020-09-25 13:51] agrignard commented on #160
This is clearly not possible from GAMA and not what was intially plan so it won't be done,
However it shoudln't be difficult from any post-production software as the 2 information are not overlapping

[2020-09-25 14:45] LAAP commented on #160
Mmmmmm. OK, Maybe I can suggest them to do it from Premier. Hahahaahah! Just with a "black mask" Hiding the text and other hiding the building

[2020-09-25 15:06] agrignard commented on #159
Working on some better chart with 100 colored circle
![Uploading Screenshot 2020-09-25 at 17.05.19.png…]()

[2020-09-25 16:28] agrignard commented on #159
New iteration with some TriD
<img width="1501" alt="Screenshot 2020-09-25 at 18 27 53" src="https://user-images.githubusercontent.com/3928502/94292176-e3137a00-ff5c-11ea-86b5-268b3ececc15.png">

[2020-09-25 18:40] crisjf commented on #152
@agrignard don't forget about this!

[2020-09-25 20:14] agrignard commented on #152
Any non "even" ratio picture will do the same.

[2020-09-25 20:17] agrignard commented on #152
Like this one for instance
[snapshots.zip](https://github.com/CityScope/CS_Proxymix/files/5285149/snapshots.zip)

[2020-09-28 09:52] agrignard opened #161 "Episode 4"
Be sure that all the infected people goes in the same room. right now it both scenarios it's not excatly the same so some time Episode B is wrose Episode A

And potienally too much people "rase les murs"

@ptaillandier will check the init

[2020-09-28 09:54] agrignard opened #162 "Episode 5"
Potential nul exception when people

[2020-09-28 09:57] #158 closed

[2020-09-28 09:57] #156 closed

[2020-09-28 09:59] agrignard commented on #154
This is due to the fact the room is very big so we don't see the color viral room

[2020-09-28 09:59] #154 closed

[2020-09-28 09:59] agrignard commented on #129
Maybe a bonus will be to implement a queing effect near the sanitation point

[2020-09-28 10:00] #128 closed

[2020-09-28 10:06] agrignard commented on #159
Getting  closer and closer to the final design and to the final version of the model also  (only few issues remaining that are not blocking).

Here are the 5 current final Layout also

Unless someone has a good reason to modify the design it will stay as it is. We also have now a powerful dynamic indicator that we made with @tnguyenh that gives a aggregated point of view of the sanitary situation.

[2020-09-28 10:09] agrignard commented on #160
This is a post production issue that won't be fix here. I personally think (especially when we see the time we ha
ve spent on it) that we should keep our design (see #159) instead of recreating a new one. If there is a new one we need validate it before to releas it. Also as I already explained the number are dynamic so need to be in sync with the simulation.

[2020-09-28 10:09] #160 closed

[2020-09-28 10:10] agrignard commented on #152
@crisjf did you get the file? I will regenerate in the week of all the scenario it would be great and save me a lot of time  if we can fix this one.

[2020-09-28 10:11] agrignard commented on #142
Seems that this issue is not really active. I close it for now. We are all aware that the model need to be technically documented but we will discussed more in detail who can/want do it

[2020-09-28 10:11] #142 closed

[2020-09-28 10:12] agrignard commented on #121
Most of th Father Christams list are now implemented. So I consider this issue as closed

[2020-09-28 10:12] #121 closed

[2020-09-28 10:12] agrignard commented on #107
I consider this Episode done

[2020-09-28 10:12] #107 closed

[2020-09-28 10:13] agrignard commented on #108
I consider this Episode done. Feel to reopen a specific issue if needed

[2020-09-28 10:14] agrignard commented on #109
I consider this Episode done in term of implementation. Feel to reopen a specific issue if needed.
#129 is still open

[2020-09-28 10:14] agrignard commented on #110
I consider this Episode done. Feel to reopen a specific issue if needed. #160 is still open to make it even better

[2020-09-28 10:15] agrignard commented on #111
I consider this Episode as alomost done. Feel to reopen a specific issue if needed. #162 is still open for a very tiny detail

[2020-09-28 10:16] agrignard commented on #92
Droplet are implemented and working but it seems that we wo'nt integrate it in the 5 educational video. If we want to push this model further keep in mind that we have a droplet model first version working.

[2020-09-28 10:16] #92 closed

[2020-09-28 10:16] #153 closed

[2020-09-28 12:35] #162 closed

[2020-09-28 14:06] crisjf commented on #152
Thanks @agrignard ! I just fixed it.

I followed the solution proposed here:
https://stackoverflow.com/questions/20847674/ffmpeg-libx264-height-not-divisible-by-2

Let me know if you have any other issues.

[2020-09-28 15:07] LAAP commented on #161
@agrignard , Why all infected people should go to the same room?

I think that if we reduce density of people, Keep distance, reduce time in the room, and where masks. That should be enough to reduce the risk. Isn't it?

[2020-09-28 15:10] LAAP commented on #129
@agrignard queuing and lines are very important as a way of reducing the infection

[2020-09-28 15:13] LAAP commented on #110
@agrignard , Can you share a video of the final Episode 4 before closing this Episode?

[2020-09-28 15:14] LAAP commented on #111
@agrignard , Can you share a video of the final Episode 2 before closing this Episode?

[2020-09-28 15:15] LAAP commented on #109
@agrignard , Can you share a video of the final Episode 3 before closing this Episode?

[2020-09-28 15:15] LAAP commented on #108
@agrignard , Can you share a video of the final Episode 2 before closing this Episode?

[2020-09-28 15:45] LAAP commented on #159
Hi @agrignard ,

I love @tnguyenh 's dots as an scale of "riskiness". However, I think that we need also to show in a bigger font the numbers of Low, Medium and High Risk population

[2020-09-28 15:50] agrignard commented on #108
You can also simply run the model from your computer ;-)

[2020-09-28 16:05] agrignard commented on #159
A proposal (made from photoshop for instance) could help a lot.

[2020-09-28 16:08] agrignard commented on #152
Yes!!! I tested seems to work like a charm!

thank you very much for the effort you will save precious hours!!!! not only in this project but for any GAMA related export! I close this issue for now

[2020-09-28 16:26] agrignard commented on #161
In the same room between the 2 scenario

[2020-09-28 16:35] crisjf commented on #152
let me know if it breaks again, happy to take a look :)

[2020-09-28 16:59] agrignard commented on #152
Maybe one thing, not really a bug but a feature, do you know a simple way to ask ffmpeg to produce a video of "n sec" (e.g 30Sec). Could be nice to have this in the script

[2020-09-29 00:31] crisjf commented on #152
There is now a `duration` parameter that can be passed to the script (in seconds). For example:
[code]

[2020-09-29 11:44] agrignard commented on #159
What about this? Big enough?
![Uploading Screenshot 2020-09-29 at 13.43.41.png…]()

[2020-09-29 12:13] agrignard commented on #152
Awesome!!! thank you @crisjf

[2020-09-29 12:13] #152 closed

[2020-09-29 13:04] LAAP commented on #159
Hi @agrignard ,

Here are my 2 cents in the design part trying to not change a lot.

A Black version:

![Example1](https://user-images.githubusercontent.com/19315213/94561925-ad0f1800-0232-11eb-9069-ef477af9b518.jpg)

A white version (Quick hack):

![Example1_White](https://user-images.githubusercontent.com/19315213/94561962-b7c9ad00-0232-11eb-8f1f-a5d72b995078.jpg)

Please, let me know your thoug

[2020-09-29 13:07] agrignard commented on #159
Ok why not we just spent one day with another world class design that validated the other one. So I guess it's a question of taste...

I also like this one  just think that with the other one the site/buildign can be bigger as it can take the full width of tje screen no?

[2020-09-29 13:22] LAAP commented on #159
@agrignard , If Markus has validated the other one, keep it!

[2020-09-29 13:24] LAAP commented on #159
@agrignard , Now I see that the design from Markus fits with all the 5 videos. **So keep Markus**

[2020-09-29 13:34] agrignard commented on #159
So here is fro the first Episode . let's see for the other...
<img width="1211" alt="Screenshot 2020-09-29 at 15 34 27" src="https://user-images.githubusercontent.com/3928502/94565278-4b1dd500-0269-11eb-982f-3a8ee30fd3bb.png">

[2020-09-29 13:36] agrignard commented on #159
<img width="1277" alt="Screenshot 2020-09-29 at 15 35 20" src="https://user-images.githubusercontent.com/3928502/94565484-90da9d80-0269-11eb-9cb8-87569d002afa.png">
<img width="1204" alt="Screenshot 2020-09-29 at 15 35 36" src="https://user-images.githubusercontent.com/3928502/94565492-93d58e00-0269-11eb-8612-1096668407ad.png">
<img width="804" alt="Screenshot 2020-09-29 at 15 35 58" src="https://

[2020-09-29 13:42] LAAP commented on #159
@agrignard ,

I like this new version... Maybe because it is mine design? Hahahah! Can you push the "time" to the right so it is aligned with the end of the dots line?

[2020-09-29 13:52] agrignard commented on #159
Is it your final word ;-) ?
<img width="1167" alt="Screenshot 2020-09-29 at 15 50 04" src="https://user-images.githubusercontent.com/3928502/94567373-b23c8900-026b-11eb-9aa6-a87c631d8705.png">
<img width="1161" alt="Screenshot 2020-09-29 at 15 50 21" src="https://user-images.githubusercontent.com/3928502/94567383-b49ee300-026b-11eb-9416-098958dc14c8.png">
<img width="1170" alt="Screenshot 2020-09-

[2020-09-29 14:56] agrignard commented on #159
From @nayoub input a scale would be nice also

[2020-09-29 14:59] agrignard commented on #159
Also the yellow circle are too big

[2020-09-29 15:09] agrignard commented on #129
Queing at sanitation is now here

[2020-09-29 15:09] #129 closed

[2020-09-29 15:15] LAAP commented on #129
@agrignard , Can you share an image please?

[2020-09-29 15:23] agrignard commented on #129
It's in the simualtion Episode 3_B at some point. You will see it in the video

[2020-09-29 15:23] agrignard commented on #159
Add the scale at the bottom left

<img width="1199" alt="Screenshot 2020-09-29 at 17 21 56" src="https://user-images.githubusercontent.com/3928502/94578869-7fe55880-0278-11eb-84dc-959092b4fb81.png">
<img width="1203" alt="Screenshot 2020-09-29 at 17 22 21" src="https://user-images.githubusercontent.com/3928502/94578877-807def00-0278-11eb-8faf-486a5d30cb9a.png">
<img width="820" alt="Screenshot 202

[2020-09-29 15:25] agrignard commented on #129
Something like this
<img width="740" alt="Screenshot 2020-09-29 at 17 25 05" src="https://user-images.githubusercontent.com/3928502/94579136-c5a22100-0278-11eb-9f68-60794a46629a.png">

[2020-09-29 15:48] agrignard commented on #159
I will froze this design to generate the 10 videos today

[2020-09-29 15:53] agrignard commented on #161
Ok we are good for this one also

[2020-09-29 15:53] #161 closed

[2020-09-29 17:04] milkmonica commented on #159
Hello everyone, first of all thank you for all the excellent work you have done!, especially in these moments that Gama and i have complicated delivery times.
thank you very much also for making decisions not to stop the flow, excellent decisions too! I showed them to social communication and now the information can be read very clearly!
Regarding the final decision for these design issues, the bl

[2020-09-29 17:15] milkmonica commented on #111
Last week Gama and I were working on adding a border to the .dxf throughout the building (according to Luis's recommendation), we did tests and it seems to us that this can help the pedestrian.

I've had a lot of problems making the pull requests, so if it's okay with you, I'll share the link of the drive where these changes were left, we'll be uploading it in a pull as appropriate shortly, but I'

[2020-09-29 17:21] agrignard commented on #111
Would be great to have a better dxf. However we are in the process of producing the video so I am afraid it's a bit too late.

Also I just tried to integrate it t there are something weird with it.

it would be great if you can validate first your dxf before to send it

This is what I have so far (so for now we keep the current one)
<img width="783" alt="Screenshot 2020-09-29 at 19 19 47" src="htt

[2020-09-29 17:26] milkmonica commented on #160
Thank you both very much!
What happened is that we all took a course with Gama and he show us how to change RGB values in all agents, that stuck in our minds and we thought about it as an adjustment possibility for UDG colors, we all understand that this can also be done in any other video editor, but the idea was not to correct the originals if from base it could already be adequate with, we unde

[2020-09-29 17:34] milkmonica commented on #111
Yes I understand, for now Gama is not able to validate them
Let's leave it as it is then! thank you very much Arnaud! I will keep an eye on anything.

[2020-09-29 19:40] nayoub commented on #159
Hi everyone, here's a first quick proposal for the layout @agrignard
Let me know what you think ;)
![Proxymix COVID-19 Copy 4](https://user-images.githubusercontent.com/49419303/94607061-6b4d9400-0269-11eb-8d0d-5ba8e4954c32.png)

Color used (RGB):
Blue: 50, 197, 255
Green: 109, 212, 0
Orange: 247, 181, 0
Red: 244, 67, 54

[2020-09-29 20:54] LAAP commented on #129
Oeoeoeoeh!!!

The line is cool! Congrats!

[2020-09-30 10:16] agrignard commented on #159
@nayoub great design for a "squared shape site", what woudl you propose for this one which is very "large". If I keep the same text layout I am afraid the site will look very small

<img width="1466" alt="Screenshot 2020-09-30 at 12 14 58" src="https://user-images.githubusercontent.com/3928502/94673190-ab1e8500-0316-11eb-81af-d62ea6475959.png">

[2020-09-30 11:17] agrignard commented on #159
One first iteration in GAMA after a looooooong night with @tnguyenh to implement the new dynamic sliders!

Works pretty well for Episode 4 and any square environment
<img width="1481" alt="Screenshot 2020-09-30 at 13 14 26" src="https://user-images.githubusercontent.com/3928502/94678585-0b192980-031f-11eb-8385-8c08bd1e1603.png">

but it's still problematci for the Episode 1
<img width="1608" alt="

[2020-09-30 12:16] nayoub commented on #159
Very cool!! Bravo @agrignard + @tnguyenh!
I’ll try to find something for a very long one (episode 1)

________________________________
From: Arnaud Grignard <notifications@github.com>
Sent: Wednesday, September 30, 2020 7:17:46 AM
To: CityScope/CS_Proxymix <CS_Proxymix@noreply.github.com>
Cc: Ayoub, Nicolas <nayoub@gsd.harvard.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CityScope/CS_P

[2020-09-30 12:43] agrignard commented on #159
And what if we jsut place this long buildign in the middle? To do so maybe it could be useful to have an invisible frame arounf it in the dxf. That would make the preocess much more easier

@nayoub can you try to add an invisible frame with a "normal ratio" around it just to see if it works?

[2020-09-30 13:37] LAAP commented on #159
Wow!!! good Job to @all , especially to @agrignard + @tnguyenh

It is there!

[2020-09-30 14:07] agrignard commented on #159
Yep almost there, the very not funny part now is to have it working for each Episode...

For next project let's be sure we have 5 sites with the same ratio it will save a looooooooooooooooooot of time....

[2020-09-30 14:25] LAAP commented on #159
@agrignard ,

We will always have very different ratios. I think we need to find a smart way of escalating everything for the different ratios, so then, we will have the generic perfect tool for Architects    ;)

[2020-09-30 16:26] agrignard commented on #159
OK so thanks to this Amazing building that we chose in the first scenario it's just impossible to have something generic (I love architects!)

So here are the 2,3,4 and 5 design and @nayoub and I will work on a specific one for Episode 1 (@nayoub can you push it here ones it's done)

<img width="1503" alt="Screenshot 2020-09-30 at 18 20 20" src="https://user-images.githubusercontent.com/3928502/94

[2020-09-30 16:27] agrignard opened #163 "Room blending color"
Now that we are in the real design part (see #159) it's not possible to keep the color room as it is. The color goes from Green to brownish to Red it really looks really ugly.

So for now the color of the room has been disabled to have a coherent design and we will work on it with @tnguyenh and @nayoub to have a better way to interpolate color between "nice" color.

[2020-09-30 18:30] LAAP commented on #159
Yep. Building 1 is not looking good... However, the other scenarios are very good

[2020-09-30 21:49] nayoub commented on #163
Here's an option for the color palette, following our discussion on the phone ;)

RGB codes (from green to orange to red):
109, 112, 0 (low-risk)
175, 190, 49
211, 186, 25
247, 181, 0 (medium-risk)
246, 143, 18
245, 105, 36
244, 67, 54 (high-risk)

![Palette_ProximixUDG](https://user-images.githubusercontent.com/49419303/94743280-1b43ff80-0345-11eb-84d4-4cabde999b15.png)

[2020-10-01 02:49] agrignard commented on #163
Nice! Let me integrate this in the room and see how it looks

[2020-10-01 03:22] agrignard opened #164 "MURPHYS LAW"
Now that everything is almost done I have an incredible and very simple bug

I CANNOT RUN THE MODEL ANYMORE.... When I launch a simulation I cannot go further than cycle 0

Very nice joke from GAMA...

Can someone try with the current master ?

[2020-10-01 03:37] agrignard commented on #164
Again something related to this wonderful Building of the Episode 1 (Customising all the graphics one by one seems to be way to much for GAMA)

[2020-10-01 03:50] agrignard commented on #164
Something totally unbelivable...

If you  uncomment this line in DailyRoutine line 133 which is just the declaration fo a list it will block the hole simulation
[code]
@ptaillandier I need your input here it's beyond my skills

[2020-10-01 18:15] LAAP commented on #163
This color palette is fantastic for the agents. @agrignard , maybe @nayoub , can make lighter palette one for the background (that respect the agents, but it is solid), in the same way that we have this for the agents, so we do not need to give transparency to the color. What do you think?

[2020-10-01 19:00] LAAP commented on #160
Thank you @milkmonica , @agrignard and @tnguyenh are working the RGB palette, and we are planning to have a final cut for tomorrow

[2020-10-02 10:01] agrignard opened #165 "Episode 5 ending"
At the very end of the Episode 5, when people goes out of the campus they do not follow the path, whch makes a wei
rd effect .

@ptaillandier any chance to have a look? Maybe reduce a lot the density to make it faster

<img width="727" alt="Screenshot 2020-10-02 at 12 00 57" src="https://user-images.githubusercontent.com/3928502/94911830-01bac900-04a7-11eb-8444-961e0d5131b8.png">

[2020-10-02 10:53] agrignard opened #166 "Viral load room goes to 0 at the end"
I cannot figure why in the code but the viral load value of the room goes to zero ones people goes out. I think it shoudl be more continous.

@ptaillandier can you have a look? It's easy to reproduce on Episode 2 for instance

[2020-10-02 13:32] LAAP commented on #165
@agrignard , Maybe we can also give 3 to 4m distance between people. In the campus, people have more space than indoor.

Density of Scenario B should be half of Scenario A, the should have masks, and spend less time in the campus

[2020-10-02 14:55] LAAP opened #167 "ABM keeping distance between agents for all the escenarios-A (traffic example)"
Hi @agrignard

What about implementing something simple, not rocket science, to have the agents keeping the "social distance" between of them. Here there are several examples:

[**Article-1:**](https://www.researchgate.net/publication/261379704_Traffic_simulation_using_agent-based_models)

_"The   method   Car::tick()   determines   the   behavior   of   a   car
within simulation at each tick. It

[2020-10-05 09:01] agrignard commented on #164
THis is a Gama issue it won't be fix here I think

[2020-10-05 09:07] agrignard commented on #163
Due to the very diffeetn viral load for each episode it's not that straightforward to use this palette (though it looks great). So the calssi blen from green to red has been chose for the final episode

[2020-10-05 09:07] #163 closed

[2020-10-05 14:28] nayoub commented on #163
True... it also depends on your screen etc so quite complex to caliber

________________________________
From: Arnaud Grignard <notifications@github.com>
Sent: Monday, October 5, 2020 10:26:11 AM
To: CityScope/CS_Proxymix <CS_Proxymix@noreply.github.com>
Cc: Ayoub, Nicolas <nayoub@gsd.harvard.edu>; Mention <mention@noreply.github.com>
Subject: Re: [CityScope/CS_Proxymix] Room blending color (#163)

[2020-10-05 14:48] LAAP commented on #163
Yes, crazy complex...

[2020-10-05 14:51] agrignard commented on #163
No it shouldn't be that complex but it is how it is

[2020-10-05 16:01] agrignard opened #168 "Multi Infection Risk Factor"
In a next step mood It would be nice to differentiate 3 types of infection risk

- Direct infection risk
- Air Infection risk
- Object infection risk

Right now the 3 process are of course take in account separately but they update a global infection risk parameters.

With 3 different indicator we can have some interesting plot that shoes the direct benefit or not at the people level of the interv

[2020-10-05 18:40] LAAP commented on #168
@agrignard , This is a great idea! Can we have a health care specialist for start "validating" this models with experts?

[2020-10-05 20:35] tnguyenh commented on #168
There can be two kind of charts: time series showing the average viral load per person for each mean of contamination, and a pie chart showing the relative contribution of each mean of contamination.

I'm not sure that reliable quantitative data exist, however it would be nice if it could be validated somehow.

[2020-10-06 14:34] LAAP commented on #168
Hi @tnguyenh and @agrignard ,

Can we contact the team of pandemic experts that helped Alexis?

[2020-10-15 09:01] agrignard opened #169 "Problem with infection number"
Just run Episode 1 A and B with the same scenarios. The number of infection sis very very different now.

We (@tnguyenh and I) are now starting the validation process of the model and the starting point is to identify the type of infection (direct, object, air) and be able to easily see the impact of intervention. The problem is that now 2 potentially similar simulation gives a very different outp

[2020-10-15 09:03] agrignard commented on #168
This is now implemented and has rised #169

[2020-10-15 09:03] #168 closed

[2020-10-15 09:05] agrignard commented on #166
Should be fix now

[2020-10-15 09:05] #166 closed

[2020-10-15 09:05] agrignard commented on #165
THis episode is way to complex and not meaningful regarding the number of people. We won't fix this right now

[2020-10-15 09:05] #165 closed

[2020-10-15 09:07] agrignard commented on #108
As we are now starting the validation process of this model and that the final video has been released I consider these Episode issues as closed. Please feel free to reopen it or to create more specific issue related to the model itself not to the Video

[2020-10-15 09:07] #108 closed

[2020-10-15 09:07] agrignard commented on #109
As we are now starting the validation process of this model and that the final video has been released I consider these Episode issues as closed. Please feel free to reopen it or to create more specific issue related to the model itself not to the Video

[2020-10-15 09:07] #109 closed

[2020-10-15 09:07] agrignard commented on #110
As we are now starting the validation process of this model and that the final video has been released I consider these Episode issues as closed. Please feel free to reopen it or to create more specific issue related to the model itself not to the Video

[2020-10-15 09:07] #110 closed

[2020-10-15 09:07] agrignard commented on #111
As we are now starting the validation process of this model and that the final video has been released I consider these Episode issues as closed. Please feel free to reopen it or to create more specific issue related to the model itself not to the Video

[2020-10-15 09:07] #111 closed

[2020-10-15 10:02] agrignard commented on #169
Just for information it is impacting direct infection and object infection (the air infection seems to work)

[2020-10-15 14:17] agrignard commented on #78
Food for thought
https://register.apple.com/resources/imdf/

[2020-10-15 14:23] LAAP commented on #108
Hi @agrignard , does this means that we will have not "outdoor-path-following" model?

[2020-10-15 14:30] agrignard commented on #108
"outdoor-path-following" model?? This is not related to this Episode isn't it?

[2020-10-15 14:31] agrignard commented on #78
Sure ;-) give me just a sec to refind Tim Cook phone number

[2020-10-15 14:34] LAAP commented on #108
Ah! Sorry! I don't know why I was looking in to the issue of the last episode, but my comment finished here, hahahah!

[2020-10-15 14:35] LAAP commented on #108
@agrignard I think you can start shooting in a lower level, what about here?:

Questions about the spec? imdfquestions@apple.com

[2020-10-15 14:38] agrignard commented on #108
For the dedicated path of course it needs to be implemented but I want to move a bit forward the exercice of the 5 Episode and having something closer to a ToolKit easy to replciate to other cases

[2020-10-15 14:40] LAAP commented on #108
That sounds great! Let's do it!

[2020-10-16 09:10] agrignard commented on #169
Ok I have just notice that the queing can have a big effect on the replicability of the sim. For now without queing we have a more reproductible number

WIP...

[2020-10-20 09:34] agrignard opened #170 "Virus Propagation Calibration"
**THIS ISSUE IS AN ATTEMPT TO GIVE THE POSSIBILITY TO PEOPLE/USER TO USE AND CRITIC THE MODEL BY:**
**1. DOCUMENTING THE MODEL**
**2. VALIDATING THE PARAMETER**
**3. DESIGNING A STORY TELLING TO EXPLAIN THE MODEL**

Different people might be involved in this issues thread so let's see how the issue workflow works or not. So welcome everyone and here is a short introduction of who is involved in wh

[2020-10-20 14:13] LAAP commented on #170
Thank you @agrignard , this is a great starting point, I think that @tnguyenh and I can try to translate this into math (formulas)

The storytelling is already in your presentation. We try to reopen the UdeG, then we have build this model with the 3 ways of getting infected (3 values: direct, object and air) and 6 interventions (Masks, social distancing, ventilation, density, time, sanitation) and

[2020-10-20 15:19] tnguyenh commented on #170
Just a comment because there is something that is ambiguous in this code, and that may deceptive to some readers: infection_risks and viral_loads are assumed to be the same thing, while they are two different things in reality. In this model, what is calculated is the cumulative viral_loads to which each agent is exposed (and for rooms and object, it is the viral_load at a given time that is calcu

[2020-10-20 16:10] LAAP commented on #170
Awesome @tnguyenh !

Yes, I mess a bit with the terms. hahahah! This clarification is very useful.

[2020-10-21 08:39] agrignard commented on #170
@tnguyenh if you have the motivation to write the formula in latex it would be great

For the terminology this is also the goal of this issue to harmonize it

So @tnguyenh you propose to rename infection_risk to cumulative_exposure for instance?

[2020-10-21 08:47] agrignard opened #171 "Infection risk analysis"
Right now we are giving the number of people with low, med and high risk and showing the cumulative infection for direct , object and air like this
<img width="708" alt="Screenshot 2020-10-21 at 10 45 51" src="https://user-images.githubusercontent.com/3928502/96696133-b6e7ef00-138a-11eb-867c-865d5cd6e51c.png">

What could be another good way to analyse visually with chart the infection risk?

[2020-10-21 09:13] agrignard commented on #171
New version with histogram per infection risk
<img width="1726" alt="Screenshot 2020-10-21 at 11 12 10" src="https://user-images.githubusercontent.com/3928502/96699211-4e027600-138e-11eb-8224-5b7b1a005f4e.png">

[2020-10-21 09:23] agrignard opened #172 "Take mask in accoutn in Air Infection"
right now we have
[code]

and

[code]
we shoudl atake in account the mask in this dynamic

[2020-10-21 09:30] #172 closed

[2020-10-21 17:21] agrignard commented on #170
@tnguyenh thank you for the feedback so **infection_risk** has been changed by **absorbed_viral_load** in this commit https://github.com/CityScope/CS_Proxymix/commit/dd662efea91ab3bb0174384ec2a66f36d09631d2

[2020-10-21 23:28] LAAP commented on #171
@agrignard This is fantastic!

[2020-10-22 08:25] agrignard commented on #169
Many change has been made this last commit (for isntance taking in account the mask for air and object), so I close this issue now

[2020-10-22 08:25] #169 closed

[2020-11-02 13:50] tnguyenh commented on #170
I uploaded the equations as a .pdf, better than a .png to preserve quality while zooming.

[Equations_sandbox.pdf](https://github.com/CityScope/CS_Proxymix/files/5475429/Equations_sandbox.pdf)

[2020-11-02 14:58] agrignard opened #173 "Integrate Temperature in the model"
Now that winter is coming maybe we should take into account temperature in account

[2020-11-02 15:02] agrignard opened #174 "Superspreader concept"
We are starting to discuss about how to identify superspreader concept. WIP

[2020-11-05 18:11] agrignard opened #175 "Andoorra FloorPlan building"
@jascensi and I will start to work on integrating some floorplan from Andorra in the current model. This issue is a test and a place holder to start the process and have a place to discuss about the requirement that are for now (and still need to be improved) here:

https://github.com/CityScope/CS_Proxymix/wiki

@jascensi welcome to the club and don't hesitate to ask question here or even edit or

[2020-11-10 14:29] rocheben commented on #170
I think this is a nice starting point. However, I think there is something unclear. You have direct infection, infection by air, and infection through object. But what is direct infection ? Through direct contacts ? I think you're duplicating something here... Actually, direct infection is either by air, through object or through direct contact. So, in your study, the viral load should be the core

[2020-11-10 15:06] agrignard commented on #170
Hi @rocheben thank you very much for taking time to have a look at this.

Yes I see what you mean, by direct infection we meant people that are in less than the security distance (e.g 2m) but you're right at the end they are contacted by air but just the probability is much more higher because the viral load is.

So maybe we can think about a more elaborated infection by air process that different

[2020-11-20 16:27] tnguyenh commented on #170
Hi @rocheben. Just to clarify:

the risk for an agent is estimated by the viral load it has been in contact with (via breathing or contact). As such, you're right about the fact the viral load is de facto the core concept, while we want to do is to estimate a risk. A natural way for this estimation is to quantify the exposure to the virus, and so estimate the viral load.  But we decided not to dif

[2020-11-30 17:54] agrignard opened #176 "Enhance fomite infection"
Right now the fomite is equal the cell that represents the floor it shoudl be link to desktop to be more accurate

[code]

[2020-11-30 20:12] #176 closed

[2020-12-04 10:02] jascensi commented on #175
We have received several floorplans from 2 different schools (one with a high rate of covid spreading and a second one with a low rate of covid spreading).
I'll check the dxf files to meet the requirements

[2020-12-04 13:48] agrignard commented on #175
OK great

[2020-12-10 11:39] jascensi commented on #175
@agrignard , about dxf files and layers, is the model ok with the existance of layer that are not related to the model. For instance, "Fire prevention equipment" or " Electrical Install" layers should be locked, erased o hidden to avoid problems on the model? Or it doesn't mind?

[2020-12-10 18:51] agrignard commented on #175
Very good question. It should not have any impact as we are filtering the layer at the initialization but anyway it will be good to test it

[2020-12-10 21:40] agrignard commented on #175
It's ok not to clean up the file even though it might be then to heavy. How difficult is it to remove the layer? One cool solution  to streetest the tool is to have both files the one cleaned and the heavy one

[2020-12-12 17:44] jascensi commented on #175
I have two floorplans: one from a low spreading rate school (A02_ORDINO_FRENCH_PRIMARY_SCHOOL_GROUND_FLOOR_ALL_LAYERS.dxf), and the other one from a high level spreading rate school (ANDORRAN_JUNIOR_HIGH-SCHOOL_ENCAMP_P1.dxf). Let's start with that to see if the layer naming and other stuff is working fine.
Can you create a folder in _includes_ please? I'll upload the content there.

[2020-12-12 18:01] agrignard commented on #175
Yep the folder is here
https://github.com/CityScope/CS_Proxymix/tree/master/ProxymixABM/includes

then you can create an Andorra folder and put your dxf inside

[2020-12-13 14:07] jascensi commented on #175
I don't think I have the proper rights to create a folder nor to upload files

[2020-12-13 21:57] agrignard commented on #175
I just updated your permission, you can now write.

So the idea is to clone the repo, make your change (adding your files) and then committing and pushing in the master branch so we can check together if it works

[2020-12-14 15:20] jascensi commented on #175
Done! I added the folder and files. Crossing fingers to have done that correctly!

[2020-12-14 18:30] agrignard opened #177 "Cannot generate pedestrain path for Andorra use case"
When ```ToolKit/generate_pedestrian_network.gaml````

for
```Andorra/High_Covid19```, ```Andorra/Low_Covid19_Escaldes``` and ```Andorra/Low_Covid19_Ordino``` doesn't work

@ptaillandier do you think you can have a look at it? Maybe we have some missing layer, we are still working on the building layer with @jascensi related to issue https://github.com/CityScope/CS_Proxymix/issues/175

[2020-12-14 18:35] agrignard commented on #175
@jascensi great start, I was able to integrate the building, so thre are some slight modification that will need to be done, mostly changing the Capital Case to lower case (I think this is a kinf od AutoCad issue, from my knowledge it might be the version of Autocad youa re using,) can you try to save it in 2013 format to be sure tht the name of the layer are in Lower case?

This is the message er

[2020-12-22 10:54] jascensi commented on #175
@agrignard I changed the layers' names and saved as 2013 DXF version (I found some problems to do that on my Autocad for Mac, so we changed in Windows). I committed the changes with GitHub but I don't know if I did it well. Can you check please?

[2020-12-22 13:18] agrignard commented on #175
I don't see the commit, did you commit and push?

[2020-12-22 13:21] jascensi commented on #175
Jeez... I'm a noob 😓

[2020-12-22 15:16] agrignard commented on #175
@jascensi I can now see you modifictation however it is still not working for the following reasons:

The name of the layer you are using doesn't match with the required one that can be found here
https://github.com/CityScope/CS_Proxymix/wiki as mention in this page
[code]

So this is what the Gama validator errors shoes
<img width="518" alt="Screenshot 2020-12-22 at 16 09 31" src="https://user-im

[2020-12-22 15:39] jascensi commented on #175
My apologies @agrignard, I thought that layers should be named with small caps (from one of your previous messages). I'll change that asap

[2020-12-22 15:48] jascensi commented on #175
Done!

[2020-12-22 16:08] agrignard commented on #175
Not sure you psh the right file, can you push the .dxf not the .dwg?

[2020-12-22 17:15] jascensi commented on #175
I did it but I will do it again. Maybe there is something that I'm missing out at Github

[2020-12-22 17:29] agrignard commented on #175
It's getting there however according to this commit https://github.com/CityScope/CS_Proxymix/commit/b97df918edf4142640a0f444791ee575e6babd52

you changed some file but not the one called building.dxf.

The one I consider as the final one as the one called builidng.dxf in High_Covid19, Low_Covid19_Escaldes and Low_Covid19_Ordino

[2020-12-22 17:35] jascensi commented on #175
This is weird... I have the dxf files (where I did the changes in the layers and so on) that it are in my local Github repository (picture below)
<img width="1293" alt="Captura de Pantalla 2020-12-22 a les 18 32 11" src="https://user-images.githubusercontent.com/73638146/102916638-29a54180-4484-11eb-89fe-ed30b97c0e98.png">

I pushed that on GitHub but it seems that you it didn't work. I don't real

[2020-12-22 18:14] agrignard commented on #175
What I am saying is that they don't haev the right name. they should be called ```building.dxf``` instead of ```ENCAMP_ANDORRAN_JUNIOR_HIGH-SCHOOL_1ST_FL```. Even though you can keep this file if you want but the one that will be processed by GAMA is the one called ```building.dxf```

[2020-12-22 18:16] agrignard commented on #175
If you can just point me to the file you think are right then I will take care of renaming them

[2020-12-22 18:31] jascensi commented on #175
Just pushed the files with the right name. Crossing fingers...

[2020-12-22 18:31] agrignard commented on #175
Ok so first good step, Gama can now "read" the building.dxf however we are not done yet ;-)

Here is what I see when I run the validateDXF.gaml model which is just here for validation prupose

<img width="668" alt="Screenshot 2020-12-22 at 19 28 38" src="https://user-images.githubusercontent.com/3928502/102921170-edf58200-4459-11eb-97b5-db94f58bbbbf.png">
<img width="953" alt="Screenshot 2020-12-2

[2020-12-22 18:34] agrignard commented on #175
@jascensi can you have a look at this file to take example from. You should basically have the same structure.
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/MediaLab/building.dxf

[2020-12-22 18:38] agrignard commented on #175
Also it would be great if you can try to follow this steps so you can run by yourself the model in GAMA. It will be much more easier and faster if you can run it by yourself.

CAn you let me know if this wiki is clear enough? If not let's udpate it
https://github.com/CityScope/CS_Proxymix/wiki

[2021-01-13 10:15] jascensi commented on #175
Happy New Year Arnaud! I'm introducing myself into the intricacies of using and running GAMA in my own system. I'll keep you posted about updates about the DXF floorplans and their results on GAMA.

[2021-01-18 17:49] agrignard commented on #175
Happy new year to @jascensi looking forward to seing the progress on this topic!

[2021-03-02 00:13] tnguyenh opened #178 "Wrong formula for fomites"
Lines 252-258, replace by

[code]

where proportion_of_fomite_viral_load_transmission_per_second is a parameter between 0 and1 which gives the proportion of virus transmitted to the hands per time unit.

Line 236, replace

````do add_viral_load((myself.has_mask ? fomite_mask_emmision_efficiency : 1 )* viral_load_to_fomite_infection_per_time_unit * step);````

by

````do add_viral_load((myself.has_

[2021-03-02 00:32] tnguyenh commented on #178
Actually the previous formulas (* step and not ^step) work but they are approximations that work ONLY if step is small.

[2021-03-02 11:37] agrignard commented on #175
Hi @jascensi how is everything going? I just wanted to have some update in the floor plan of the school. According to Github we stil have some trouble running the tool on it. Any chance to iterate on this?

[2021-03-02 11:37] #174 closed

[2021-03-09 16:02] agrignard commented on #177
Closing this issue for now

[2021-03-09 16:02] #177 closed

[2021-03-09 16:03] agrignard commented on #175
Closing this issue for now. Anyone can be free to reopen it if there is a need from Andorra on this project

[2021-03-09 16:03] agrignard commented on #173
Won't fix

[2021-03-09 16:03] #173 closed

[2021-03-09 16:03] agrignard commented on #159
For the Guadalajara project the final design is done

[2021-03-09 16:03] #159 closed

[2021-03-09 20:19] agrignard commented on #178
Potentially fixed but blindly

[2021-03-09 20:19] #178 closed

[2021-03-10 18:39] agrignard commented on #164
Ok just for documentation we just rehad the same issue with @tnguyenh and we realized that this has never been fixed on the Gama Platform. We will create a dedicated issue on https://github.com/gama-platform/gama

[2021-03-16 17:56] agrignard opened #179 "Problem with distance calculation"
Right now it seems that the at_distance operator behave weirdly.

If we use ```ask (ViralPeople at_distance largeDropletRange)``` we don't have results with this

```ask ViralPeople where ((each.location.x-self.location.x)^2+(each.location.y-self.location.y)^2<largeDropletRange^2```

Is it because the ViralPeople has a shape<-circle(1).

[2021-03-17 01:31] ptaillandier commented on #179
You are right, It is because at_distance take into account the geometries of the agent and not only their location.
In addition, with ask ViralPeople where ((each.location.x-self.location.x)^2+(each.location.y-self.location.y)^2<largeDropletRange^2, you consider the current agent as well (at_distance never returns the agent using this operator).

[2021-03-17 06:55] agrignard commented on #179
What I don't get is that if I comment geometry shape<-circle(1); in ViralPeople then the distance should be between the centroid no?

We don't have an operator in GAMA that is computing the distance between location?

What's wrong with this formula?
[code]

[2021-03-17 07:14] ptaillandier commented on #179
What I don't get is that if I comment geometry shape<-circle(1); in ViralPeople then the distance should be between the centroid no?
yes.

We don't have an operator in GAMA that is computing the distance between location?
You can always compute the distance between the centroid of the agent: agent1.location distance_to agent2.location. the at_distance operator always use the geometries of the agen

[2021-03-17 10:31] agrignard opened #180 "Syntax simplification for multi simulation"
As we are in the calibration of the model and in the real utilisation of it, i have many different simualtion to instantiate and now the syntax is really not flexible.

1. First Question

What I have to do now is this
I have a parent experimen Coronizer
[code]

Ideally I don't need this variable to be parameter but it's the only syntax that works because if I do this
[code]

The simualtion doesn't

[2021-03-17 10:52] agrignard commented on #179
When I comment geometry shape<-circle(1);  the distance_to is still giving a wrong distance (0.82 where as it should give 2m)

[2021-03-17 11:39] agrignard commented on #180
It's ok I found a tradeoff  doing this for now

[code]

[2021-03-17 11:39] #180 closed

[2021-04-06 12:58] agrignard opened #181 "Problem to un a batch experiment"
Step yo reproduce

I am trying to run batch experiment to calibrate and validate the model.

I have an issue running the batch mode

Try to run in Proxymix_Scenario the experiment called Headless, and then run it it will throw an error saying that the chair layer is need. However if you run the same experiment in GUI (run the exp call GUItest) then the model run.

@ptaillandier any idea?

[2021-04-06 13:39] agrignard opened #182 "Wrong order when storing value from different simualtion"
I am running 8 simulation in a row

[code]

Each simualtion is supposed to store its results at the end of the file. I would assume to have the result in a sequential sequence however this is what I have
<img width="240" alt="Screenshot 2021-04-06 at 15 37 24" src="https://user-images.githubusercontent.com/3928502/113719727-388bc900-96ee-11eb-8be4-fd3ab91e6085.png">

IS tehre a way to force GAMA t

[2021-04-07 05:25] #182 closed

[2021-04-07 08:18] agrignard commented on #181
There is still some wierd behavior.

So the concept is to run the expe FullBenchMarkHeadless N times this experiment is runnign 8 simulations
Reference, Mask, Social Distance, Ventilation, Mask+Social Distance, Mask + ventilation, Social Distance + ventialtion and all.

And then I'd like to save in a file the value of the viral oad for each expe N times (25 times according to the stochasticity ana

[2021-04-07 19:59] agrignard commented on #179
won't fix for now

[2021-04-07 19:59] #179 closed

[2021-04-07 20:01] agrignard commented on #167
Long term issue. I close it for now as it won't be implemented in the current version

[2021-04-07 20:01] #167 closed

[2021-04-07 20:01] agrignard commented on #164
This issue has been post on the Gama Platform see https://github.com/gama-platform/gama/issues/3068

[2021-04-07 20:01] #164 closed

[2021-04-07 20:04] agrignard commented on #170
The model is now validated and calibrated and will be published in the corresponding paper in MABS 2021 in AAMAS

[2021-04-07 20:04] #170 closed

[2021-04-07 20:04] agrignard commented on #171
See the paper written for MABS 2021/ AAMAS

[2021-04-07 20:04] #171 closed

[2021-04-07 20:05] agrignard commented on #78
I archive the issue for now as I didn't find the time to talk to Tim Cook yet

[2021-04-07 20:05] #78 closed

[2021-07-21 11:59] agrignard opened #183 "Compatibility with GAMA1.8.2"
Right now the model as it is is not compatible with GAMA 1.8.2 and new pedestrain skill

In DailyRoutine.gaml this part fo the code doesn't compile anymore

[code]

especially this line with a problem with heading that is not recognized

[code]

[2021-07-21 12:12] #183 closed

[2021-07-21 12:22] agrignard opened #184 "Problem with Text Layout Overlay"
The overlay features may have change between 1.8.1 and 1.8.2

Right now the text layout is not as it use to be

<img width="1530" alt="Screenshot 2021-07-21 at 14 22 15" src="https://user-images.githubusercontent.com/3928502/126487680-c46974ef-503f-411c-acf3-e7f4bba5d8a3.png">

[2021-07-21 12:31] agrignard opened #185 "Generate Pedestrian network broken"
generate_pedestrian_network.gaml doenst compile anymore

Some methods has changed with the 1.8.2

[2021-07-27 08:34] #185 closed

[2021-08-26 09:11] agrignard opened #186 "Problem with path generation in IDB Level 0, 1 and 2"
Run ToolKit/generate_pedestrian_network.gaml with ```useCase <- "IDB/Level 0";```, ```useCase <- "IDB/Level 1";``` and ```useCase <- "IDB/Level 2";```

I get the following error

[code]

[2021-08-26 10:14] #186 closed, assigned to ptaillandier

[2021-09-29 08:51] agrignard opened #187 "Problem with dxf visualization"
Run Models/ToolKit/DXF_Validator.gaml

This model use to validate the existing and missing layer and was then displaying the dxf element.

However now the dxf element are not drawn

<img width="1440" alt="Screenshot 2021-09-29 at 10 50 28" src="https://user-images.githubusercontent.com/3928502/135235694-b7b140c5-9ece-47bc-84ef-5ae45d4e69f5.png">

[2021-09-29 11:25] ptaillandier commented on #187
it is due to the fact that the background is black and you draw the elements in black...

[2021-09-29 11:30] agrignard commented on #187
Sorry my bad...

[2021-09-29 11:30] #187 closed

[2021-09-29 15:38] agrignard opened #188 "Impossible to generate pedestrain path with IDB file"
Run ToolKit/generate_pedestrian_network.gaml with this parameter
[code]
It only generate the walking area but not anymroe the pedestrian path and the free space (however it use to work before those change https://github.com/CityScope/CSL_IDB/commit/4d58f2a7d0c1b56a9e8c172bc53caebd812d1bab so maybe something is not good in the CAD itself.

[2021-09-30 09:45] agrignard commented on #188
I now have this error

[code]

[2021-09-30 10:55] ptaillandier commented on #188
It seems to work for me. i.e. here the result obtained with "IDB/Level 0"
<img width="1171" alt="Capture" src="https://user-images.githubusercontent.com/1506077/135442677-5d1bce21-f69e-4383-8963-f9ba8d1abcef.PNG">

[2021-09-30 12:54] agrignard commented on #188
Are you sure you are using the last version? In my case this is what I have, it seems taht the path is created but I have an error and I cannot run the test pedestrian

<img width="1440" alt="Screenshot 2021-09-30 at 14 53 30" src="https://user-images.githubusercontent.com/3928502/135458794-5cfeea21-d4d7-4c04-93d2-367951dd8174.png">

[2021-09-30 13:56] #184 closed

[2021-10-01 11:04] agrignard commented on #188
Weirdly I cannot make it work on my omputer last GAMA.1.8.2 (MacOS-jdk15-OpenJ9-SWT_2021-09). I will test on another computer

[2021-10-19 08:06] agrignard opened #189 "DXF validator Enhancement"
Ideally the model DXF Validator is supposed to tell the user if it's dxf has enough information in order to be ready to run Proxymix.

However we need to make the validation stronger has right now, we can have some dxf that "seems" valide but that doesn't run on Proxymix.

We need to really list the mandatory layers and send a warning or an error if the dxf doesn't contain those mandatory layers o

[2021-10-19 12:21] agrignard opened #190 "Cannot generate path on IDB/Level 2"
I get this error on Level 2 (0 and 1 are working)

2 occurrences in 2 agents at cycle 0: Java error: NoSuchElementException
in save pedestrian_path collect each.free_space type: shp to: free_space_path ;
NoSuchElementException: No value present
java.base/java.util.Optional.get(Optional.java:141)
org.geotools.data.shapefile.shp.PolygonHandler.write(PolygonHandler.java:529)
org.geotools.data.shapefi

[2021-10-19 18:33] #190 closed

[2021-10-19 18:41] agrignard opened #191 "Level 0 CAD Office to Offices"
<img width="580" alt="Screenshot 2021-10-19 at 20 39 06" src="https://user-images.githubusercontent.com/3928502/137970996-7de60dc5-6f2d-477a-b770-a5055fef8746.png">

@LAAP can you change Office by Offices like in the working CAD

Please update directly this file
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/IDB/Level%200/building.dxf

[2021-10-19 18:44] agrignard opened #192 "Level 1 Meeting Rooms to Meeting rooms"
<img width="580" alt="Screenshot 2021-10-19 at 20 43 09" src="https://user-images.githubusercontent.com/3928502/137971603-13c57607-c0d8-42d5-9fe0-83301e8047da.png">

@LAAP can you change the layer "Meeting Rooms" by "Meeting rooms" like in the working CAD

Please update directly this file
https://github.com/CityScope/CS_Proxymix/blob/master/ProxymixABM/includes/IDB/Level%201/building.dxf

[2021-10-19 19:28] LAAP commented on #191
Solved Now you have the fils "Mesa_Redonda_X_X.dxf" files with the renamed and fixed names

[2021-10-19 19:28] #191 closed

[2022-05-11 10:17] #189 closed